<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Date and Time selection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <div class="app-container" ng-app="dateTimeApp" ng-controller="dateTimeCtrl as ctrl" ng-cloak>
		
	<div date-picker
		 datepicker-title="Select Date"
		 picktime="true"
		 pickdate="true"
		 pickpast="false"
		 mondayfirst="false"
		 custom-message="You have chosen"
		 selecteddate="ctrl.selected_date"
		 updatefn="ctrl.updateDate(newdate)">
      	<p ng-if="localdate.getMonth()<9 && localdate.getDate()<10" style="display:none;" id="selected_date">{{ localdate.getFullYear() }}-0{{ localdate.getMonth()+1 }}-0{{ localdate.getDate() }}</p>
      	<p ng-if="localdate.getMonth()<9 && localdate.getDate()>=10" style="display:none;" id="selected_date">{{ localdate.getFullYear() }}-0{{ localdate.getMonth()+1 }}-{{ localdate.getDate() }}</p>
      	<p ng-if="localdate.getMonth()>=9 && localdate.getDate()<10" style="display:none;" id="selected_date">{{ localdate.getFullYear() }}-{{ localdate.getMonth()+1 }}-0{{ localdate.getDate() }}</p>
      	<p ng-if="localdate.getMonth()>=9 && localdate.getDate()>=10" style="display:none;" id="selected_date">{{ localdate.getFullYear() }}-{{ localdate.getMonth()+1 }}-{{ localdate.getDate() }}</p>
     	<p style="display:none;" id="selected_time">{{ hourandmin }}</p>
      	
		<div class="datepicker"
			 ng-class="{
				'am': timeframe == 'am',
				'pm': timeframe == 'pm',
				'compact': compact
			}">
			<div class="datepicker-header">
				<div class="datepicker-title" ng-if="datepicker_title">{{ datepickerTitle }}</div>
				<div class="datepicker-subheader">{{ customMessage }} {{ selectedDay }} {{ monthNames[localdate.getMonth()] }} {{ localdate.getDate() }}, {{ localdate.getFullYear() }}</div>
			</div>
			<div class="datepicker-calendar">
				<div class="calendar-header">
					<div class="goback" ng-click="moveBack()" ng-if="pickdate">
						<svg width="30" height="30">
							<path fill="none" stroke="#0DAD83" stroke-width="3" d="M19,6 l-9,9 l9,9"/>
						</svg>
					</div>
					<div class="current-month-container">{{ currentViewDate.getFullYear() }} {{ currentMonthName() }}</div>
					<div class="goforward" ng-click="moveForward()" ng-if="pickdate">
						<svg width="30" height="30">
							<path fill="none" stroke="#0DAD83" stroke-width="3" d="M11,6 l9,9 l-9,9" />
						</svg>
					</div>
				</div>
				<div class="calendar-day-header">
					<span ng-repeat="day in days" class="day-label">{{ day.short }}</span>
				</div>
				<div class="calendar-grid" ng-class="{false: 'no-hover'}[pickdate]">
					<div
						ng-class="{'no-hover': !day.showday}"
						ng-repeat="day in month"
						class="datecontainer"
						ng-style="{'margin-left': calcOffset(day, $index)}"
						track by $index>
						<div class="datenumber" ng-class="{'day-selected': day.selected }" ng-click="selectDate(day)">
							{{ day.daydate }}
						</div>
					</div>
				</div>
			</div>
			<div class="timepicker" ng-if="picktime == 'true'">
				<div ng-class="{'am': timeframe == 'am', 'pm': timeframe == 'pm' }">
					<div class="timepicker-container-outer" selectedtime="time" timetravel>
						<div class="timepicker-container-inner">
							<div class="timeline-container" ng-mousedown="timeSelectStart($event)" sm-touchstart="timeSelectStart($event)">
								<div class="current-time">
									<div class="actual-time">{{ time }}</div>
								</div>
								<div class="timeline">
								</div>
								<div class="hours-container">
									<div class="hour-mark" ng-repeat="hour in getHours() track by $index"></div>
								</div>
							</div>
							<div class="display-time">
								<div class="decrement-time" ng-click="adjustTime('decrease')">
									<svg width="24" height="24">
										<path stroke="white" stroke-width="2" d="M8,12 h8"/>
									</svg>
								</div>
								<div class="time" ng-class="{'time-active': edittime.active}">
									<input type="text" class="time-input" ng-model="edittime.input" ng-keydown="changeInputTime($event)" ng-focus="edittime.active = true; edittime.digits = [];" ng-blur="edittime.active = false"/>
									<div class="formatted-time">{{ edittime.formatted }}</div>
								</div>
								<div class="increment-time" ng-click="adjustTime('increase')">
									<svg width="24" height="24">
										<path stroke="white" stroke-width="2" d="M12,7 v10 M7,12 h10"/>
									</svg>
								</div>
							</div>
							<div class="am-pm-container">
								<div class="am-pm-button" ng-click="changetime('am');">Morning</div>
								<div class="am-pm-button" ng-click="changetime('pm');">Afternoon</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="buttons-container" style="display:none;">
				<div class="cancel-button">cancel</div>
				<div class="save-button">save</div>
			</div>
			
		</div>
	</div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>