body{
font-size:14px;
}

input[type="text"] ,select{
    height: 36px;
	padding: 0px 35px;
	 border: 1px solid #c4c4c4;
    -webkit-box-shadow: inset 0 1px 2px #e3e3e3;
    box-shadow: inset 0 1px 2px #e3e3e3;	
}
#header_contact{

background-image: url('../images/header_contact.png');
    height: 56px;
    border-left: 1px solid #ffc751;
    border-right: 1px solid #ffc751;
    border-bottom: 1px solid #ffc751;
    background-repeat: repeat-x;
	padding: 1%;
}
.date_contact{
padding: 1%;
}

.contact_icon{
width:10%;
}

.bold{
font-weight:bolder ;
}
.text_right{
text-align:right;
}

.spacing_top{
margin:10px 0px;
}
#content_contact  
{
padding: 3% 0px;

}
#content_contact   
{
font-size:14px;

}
.confirm{
	       font-weight: bolder;
    border: none;
    background: url('../images/contact_submit.png') 12px 0px no-repeat;
    height: 45px;
    width: 140px;
    cursor: pointer;
	font-size: 18px;
	outline:none;
	}
.col-xs-12 {
    min-height: 10px;
}

.Date_of_travel {
    padding: 0px 35px;
    border: none;
    background: url('../images/calender.png') no-repeat;
    width: 210px;
    height: 36px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 2px #e3e3e3;
    box-shadow: inset 0 1px 2px #e3e3e3;
}
.Adult_form{
width: 25.533333%;

}
@media (min-width:992px){

.customer{
min-height: 1px;
    width: 12.533333%;
	float:left;
}
#header_contact span{
    font-size: 170%;
}

.first_destination{
padding-left:0px;
}
}

