.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', serif;
    font-weight: 700;
    color: #494949;
}

h4 {
    font-size: 1.5em;
}

body {
    font-family: 'Lato', serif;
    font-weight: 400;
}

.bottom-lined {
    width: 100%;
    z-index: 0;
    background-color: #f444a9;
    padding-bottom: 4px;
}

h2.main-title {
    margin-bottom: 30px;
}

.row.top-header {
    padding: 100px 50px;
    background-image: url('https://www.soleattack.com/bali632/wp-content/uploads/2015/11/temple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top10_item_detail_wrapper {
    display: inline-block;
    padding-top: 5px;
}

@media only screen and (min-width: 1024px) {
.top10_item_detail_wrapper {
    top: 82%;
    }
}
.top10_item_detail_wrapper {
    background-color: #686767;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin-bottom: 1px;
    padding-left: 2%;
    padding-bottom: 4px;
    position: relative;
    width: 100%;
    z-index: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    -ms-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,0.6);
}

.top10_item_info_wrapper {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F5F5F5),color-stop(0.3, #FFFFFF));
    background-image: -o-linear-gradient(bottom, #F5F5F5 0%, #FFF 30%);
    background-image: -moz-linear-gradient(bottom, #F5F5F5 0%, #FFF 30%);
    background-image: -webkit-linear-gradient(bottom, #F5F5F5 0%, #FFF 30%);
    background-image: -ms-linear-gradient(bottom, #F5F5F5 0%, #FFF 30%);
    background-image: linear-gradient(to bottom, #F5F5F5 0%, #FFF 30%);
    -webkit-box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
    height: auto;
    bottom: 0;
    padding: 3% 2%;
    position: relative;
}

.blog-post {
    font-size: 1.1em;
    color: #808080;
     margin: 30px 0;
}

.blog-post-title {
   color: #19909e;
    font-size: 36px;
}

.landing-page {
   background: #f7f7f7;
}

.top_item_number {
    float: left;
}

.blog-sidebar {
    margin-top: 40px;
}

@media only screen and (min-width: 1024px) {
    .top_item_number {
        color: #df4932;
        font-size: 6em;
        line-height: 1;
    }
}

.landing-page .container {
    background: #fff;
}

.top_itemListing_title {
    color: #fff;
    font-size: 1.7em;
    font-weight: bold;
    max-width: 540px;
}

.top10_item_image_wrapper img {
    width: 100%;
}

.top10_item_sub_detail a, .top10_item_sub_detail {
    color: #fff;
    margin: 5px 0 0 5px;
}

span.top10_item_location_detail {
    margin: 0 0 0 5px;
}

span.hotel_rooms {
    margin: 0 0 0 5px;
}
.bottom-boxes {
    margin-bottom: 45px;
}