
.input-group-prepend .dropdown-toggle:after {
		display: inline-block;
		vertical-align: middle;
		font-weight: 900;
	}
	.down-arr:after{
		border-right: 1px solid #000 !important; 
		border-top: 1px solid #000 !important;
	} 
	.location-tracker-option p:hover{
		background: #ccc;
		color: #fff;
	}
	.location-tracker-option p{
		cursor:pointer !important;
	}
	
	.col_photo video {
	    width: 100px;
	    height: 100px;
	}
		.search_select{
			background: none;
		}li#mega-menu-item-19934 {
		    display: none !important;
		}
		#login_pageid .elementor-invisible {
		    visibility: inherit;
		}
		.input-group.md-form.form-sm.form-1.pl-0{
			padding-top: 4px;
		}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a.mega-menu-link{
//padding-right: 25px !important;
} 
.d_height .col-md-8{
padding: 0px !important;
}
.search_select{
position: relative;
top: -3px;
}
span.notify {
background: red !important;
}
#mega-menu-wrap-main-menu{
padding-top:3px !important;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item{
/vertical-align: inherit !important; 
}
.search_hea,.lighten-3{
border: 1px solid #1bba9a;
}
span.notify {
position: relative;
 padding: 3px 5px;
background: red;
color: #fff;
font-size: 10px;
border-radius: 50%;
top: -10px;
left: -6px;
}

.search_hea{
width:200px;
border-left: 0px !important;
}
.py-1{
border:0px !important;
font-size: 11px !important;
letter-spacing: 1px;
padding-left: 0px !important;
font-family: 'Heebo', sans-serif;
}
.click_main_search{
outline: 0px;
}
.desktop_menu{
	font-size: 16px !important;
	margin-left: 13px !important;
}
#h-t a{

font-family: 'Heebo', sans-serif;			
}
.loginstyle {
font-size: 16px;
}
.lighten-3 i{		
color: #1bba9a !important;
}
.dropdown-toggle::after{
color: #1bba9a !important;
}
.col-mmd-4 a{
	padding: 20px 0px !important;
	text-align: inherit;
}
.lighten-3{
border-right: 0px;
background: none;
}
picture.notify_img img {
width: 25px;
}

@media (min-width: 180px) and (max-width: 240px) {
.for_logo_mobile img{
	width: auto;
	height: 30px;
}
}
@media screen and (max-width: 600px) {
#content{
	margin-top:85px  !important;
}
.custom_best_travel  .elementor-heading-title{font-size: 13px !important;}
.custom_about_size_about  .elementor-heading-title{font-size: 13px !important;}
.custom_paragrap_content .elementor-text-editor{
	line-height: 1.4em;
	font-size: 12px; 
}

.elementor-element-2c53917 {
    display: none;
}
#h-t{
	display: none !important;
}
}
.mobilemenucolor{
padding: 0px;
}


<style>
.for_text a{
text-align: center !important;
padding: 10px 0px !important;
}
.for_c{
color: #fff !important;	
}
.col-mmmd-4{
	text-align: center;
	width: 32%;
}
.col-mmmd-4 a{
	color: #fff;
	font-family: 'Heebo', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}
.menu_mob_dis{
	display: flex;
}
@media(max-width: 600px){

	.col-mmmd-4 a:visited {
		color: #fff !important;
	}
}
