.main_bg_green{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
	background: #22b14c;
	padding: 100px 0px;
	width: 100%;
	height: 100%;
}

.matched_inner_div {
	position: relative;
	top: 28%;
}

.matched_inner_div .social_picture1{
	margin: 20px 0px; 
}

.matched_inner_div .social_picture1 img{
	box-shadow: 0px 0px 4px 3px #00000038;
	border-radius:50%;
	width: auto;
	height: 150px;
	border: 4px solid #fff;
}
.matched_inner_div h1{
	color: #caffd6 !important;
	font-family: 'Catamaran', sans-serif;
}
.matched_inner_div .content_white{
	font-size: 18px !important;
	color: #caffd6;
	font-family: 'Roboto Condensed', sans-serif;
}
.matched_inner_div .content_div{
	padding: 10px;
}
.matched_inner_div .link_div{
	margin-top: 20px;
}	 

.matched_inner_div a.btn.custom_btn_matched {
    color: #232222cf;
    font-size: 15px ;
    border-radius: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px 35px;
    background: #fff;
    margin-top: 15px;
    font-weight: 600;
}

.matched_inner_div .back_link{
	font-size: 15px !important;
	color: #caffd6;
	font-family: 'Roboto Condensed', sans-serif;
}

.matched_inner_div img.img_2 {
    position: relative;
    margin-left: -25px;
}

@media (min-width: 180px) and (max-width: 320px){
	.matched_inner_div .social_picture1 img {
		width: auto;
		height: 100px;
	}
}