			.contentimage{
				font-size: 14px;
			}
			@media only screen and (max-width: 1024px){
					#h-t{
						display: none;
					}
					.notification_nfound{
						padding: 10px;
						text-align: center;
						font-size: 13px;
						color: #5d4848;
						font-weight: bold;
					}
					.wpspw-post-grid-content{
						min-height: inherit !important;
						max-height: inherit !important;
					}
					
					.notification  a{
						font-size: 11px !important;
						line-height: 17px !important;
					}
					.row,.col-md-12{
						margin: 0px !important;
						padding: 0px !important;
					}
					.elementor-20116 .elementor-element.elementor-element-8b48f77{
						margin-top: 80px !important;
						margin-bottom: 80px !important;
					}
					.login::before, .login::after{
						width: auto !important;
						height: auto !important;
					}
					.login{
						position: inherit !important;
						webkit-transform: initial;
						-moz-transform: none !important;
						-ms-transform: none !important; 
						-o-transform: none !important;
						transform: none !important;
						-webkit-transition: none !important;
						-moz-transition: none !important;
						transition: none !important;
						padding: 10px !important;
						width: 100% !important;
					}
					.col-mmd-2 a{
						color: #fff !important;
					}
					.col-mmd-2{
						width: 16%;
						text-align: center;
						display: table-cell;
						vertical-align: middle;
					}
					.col-mmd-8 a{
						font-size: 18px;
						line-height: 30px;
/*						color: #fff !important;*/
					}
					.col-mmd-8{
						width: 70%;
						text-align: center;
						display: table-cell;
						vertical-align: middle;
					}
					
				.mobile_header_balouch_show{
					display: block !important;
				}
				.mobile_header_balouch_hide{
					display: none !important;
				}
			}
			.min_height{
				height: 105px;
				overflow: scroll;
			}

			#content{
				margin-top: 0px !important;
			}
			.row_c{
				border-bottom:1px solid #ccc;
			}
			.notification_div{
				background: #fff;
			}
			.for_border{
				border-left: 4px solid #22b14c;
			    border-right: 4px solid #22b14c;
			    border-bottom: 4px solid #22b14c;
			}
			.profile_s{
				background:#22b14c;
				padding-bottom: 0px !important;
			}
			
			
			.input-group-prepend{
				background: #fff;
			}
			.home_mytime_msg{
				//padding: 10px;
				background: #368a8c;
			}
			.col-mmd-4 img{
				width: auto;height: 30px;border-radius: 100%;border: 1px solid #fff;
			}
			.col-mmd-2 img{
				width: auto;height: 30px;border-radius: 100%;border: 1px solid #fff;
			}
			p{
				font-family: 'Heebo', sans-serif;
			}
			.col-mmd-4 a,.col-mmd-3 a,.col-mmd-6 a{
				color: #fff;
				font-family: 'Heebo', sans-serif;
				font-size: 12px;
				text-transform: uppercase;
			}
			.space_top{
				margin-top: 10px;
			}
			.col-mmd-4{
				text-align: center;
				vertical-align: middle;
				width: 32%;
				display: inline-block;
			}			
			.col-mmd-3{
				text-align: center;
				width: 18%;
				display: inline-block;
			}
			.col-mmd-6{
				text-align: center;
				width: 60%;
				display: inline-block;
			}
			.remove_pad{
				padding: 0px !important;
			}
			.custom_menu_btn_mobile i{
				color: #1a6d84;position: absolute;font-size: 22px;margin-left: 5px;
			}
				.custom_menu_btn_mobile{
					padding: 0px 15px !important;
					background: none !important;
				    border:0px !important;
				    outline: 0px !important;
				    position: relative;
				    box-shadow: none !important;
				    font-size: 16px !important;
				    color: #1a6d84;	
				}				
					@media only screen and (max-width: 1024px){
						.custom_remove_pd{
							padding: 0px !important;
							max-width: 100% !important;
						}
						.search_hea{
							margin: 0px;
						}
						.login{
						width: 100% !important;
					}
						.col-mmd-4 a:visited {
						    color: #fff !important;
						}
						.mobile_header_balouch_show{
							display: block !important;
						}
						.mobile_header_balouch_hide{
							display: none !important;
						}
					}
					
					@media only screen and (max-width: 900px) and (min-width: 768px){
						.custom_menu_btn_mobile{
							font-size: 22px !important;
						}
						.custom_menu_btn_mobile i{
							font-size: 30px;
						}
						.for_menu_mobile{
							padding: 44px !important;
						}
					}
					
					@media only screen and (max-width: 1024px) and (min-width: 900px){
						.custom_menu_btn_mobile{
							font-size: 40px !important;
						}
						.custom_menu_btn_mobile i{
							font-size: 53px;
						}
						.for_menu_mobile{
							padding: 53px !important;
						}
					}
					
				@media only screen and (min-width:180px) and (max-width: 250px) {
				  .for_menu_mobile {
				    padding: 5px 0px !important; 
				   }
				   .mobileapp{
				   	display: none !important;
				   }
				   .norm_row.sfsi_wDiv{
				   	width: 100% !important;
				   }
				   .vote-outer .vote-inner > div{
				   	padding: 2px 0px !important;
				   }
				   .vote-outer .vote-inner > div{
				   	width: 10% !important;
				   }
				   .vote-outer .vote-inner{
				   	margin:0px !important;
				   }
				}


						.mobile_header_balouch_show{
			display: none;
		}
		.for_logo_mobile{
			display: inline-block;
			width: 60%;
		}
		.custom_image_mobile img{
			width: 85%;
		}
		.for_menu_mobile{
			width: 35%;
			padding: 15px;
			display: inline-block;
		}
		
			.English-logo img{
				width: auto;height: 50px;
			}
			#mega-menu-wrap-main-menu{
				padding-top: 15px !important;
			}
			#h-t{
				height: auto !important;
			}

			        @media (max-width: 640px) {
        	#mega-menu-wrap-main-menu{
			  	padding-top	:0px !important 
			}
			.English-logo img {
				height: 40px !important;
			}
			.col-xs-6{
				width: 20% !important;
			}
			.col-xs-6search{
				width: 75% !important;
			}
			.search_hea{
				width: 155px !important;
			}
			.mobilemenucolor{
				padding-bottom: 0px !important;
			}
        }

			.for_b_left{
				border-left:3px solid #1bba9a !important; 
			}