.potential_buyer{
	background: #4692A0;
    margin-top: 75px;
}

.potential_headding{
    background: #f9f9f9;
    margin-top: 50px;
    overflow: hidden;
    border: 1px solid #1A6D84;
}

.potential_headding h2{
	text-align: center;
    padding-top: 15px;
    color: #28a745;
    padding-bottom: 10px;
    font-size: 32px;	
}

.potential_user_list{
    border: 4px solid #1A6D84;
    background: #f9f9f9;
    margin-bottom: 25px;
}

.customer_area h5{
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    color: #1A6D84;
}

.customer_list{
	border-top: 4px solid #1A6D84;;
}

.cus-md-3{
    padding-right: 0!important;
    padding-left: 0!important;
    border-right: 4px solid #1A6D84;
}

.cus-md-3:nth-child(1){
   padding-left: 15px!important;
}

.cus-md-3:nth-child(4){
   padding-right: 15px!important;
   border-right: 0;
}

.customer_list ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
}

.customer_list ul li{
    font-size: 16px;
    line-height: 35px;
    border-bottom: 1px solid #000;
    list-style: none;
    padding: 4px 15px;
    font-weight: 500;
}

.talk-btn{
    text-align: center;
    margin-top: 14px;
}

.talk-btn a{
    background: #148967;
    font-size: 18px;
    color: #fff;
    padding: 4px 17px;
    margin-bottom: 4px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
}

.talk-btn a:hover{
    color: #fff;
    text-decoration: none;
}



.tooltip2 {
  position: relative;
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 175%;
    left: 25%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px;
}

.tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}