.col-md-667{

  display: inline-block;

  vertical-align: middle;

  margin-left: 10px;

}

.size_d input, .size_d textarea {

    font-size: 15px;

    background: #fff !important;

}

.cover_photo_div{

  background: url(https://www.travpart.com/English/wp-content/uploads/2019/11/sunrise-1014712_1920.jpg);

  min-height: 400px;

  background-position: center;

  background-size:100%; 

}

  .profilecover {

    position: relative;

  }



  .profilecover img {

    width: 100%;

    max-height: 350px;

  }

  .for_padd_top{

    padding:5px 0px;

  }

.link_timeline_page_desktop{

  text-align: center;

}

.link_timeline_page_desktop a {

    background-color: #e2f5a7;

    font-family: "Roboto", Sans-serif;

    font-weight: 600;

    font-size: 15px;

    padding: 7px 50px;

    -webkit-border-radius: 3px;

    border-radius: 3px;

    color: #48d48a;

    text-decoration: none;

    display: inline-block;

}



  picture.avatar img {

    width: 150px;

    height: 150px;

    border-radius: 50%;

    position: absolute;

    bottom: 0%;



  }





  .p-follow-area-top{

    background: #1abc9c !important;

  }

  .p-follow-area-top a {

    color: #fff;

  }



  .p-follow-area-top:hover {

    background: #1abc9c;

    cursor: pointer;

  }





  .p-mess-area a {

    color: #000;

  }



  .p-mess-area:hover {

    background: #1abc9c;

    cursor: pointer;

  }



  .p-connect-area a, .p-connect-area i {

    color: #fff;

  }



  .p-connect-area i.fas.fa-unlink {

      padding-right: 4px;

      display: none;

  }



  .p-connect{

    background: #cacaca;

  }



  .p-connect a, .p-connect i{

    color: #000;

  }



/* Connection Area*/



  .comment_buttons{

    position: absolute;

    right: 5%;

    bottom: 20px;

  }



  .p-follow-area-top {

    background: #cacaca;

    padding: 5px 10px;

    display: inline-block;

    float: left;

  }





  .p-mess-area {

    background: #cacaca;

    padding: 5px 10px;

    display: inline-block;

    float: left;

  }





  .p-dots-area {
    background: #cacaca;
    padding: 0px 7px;
    height: 25px;
    display: inline-block;
    float: left;
  }


  .p-dots-area_1 {
    background: #cacaca;
    padding: 5px 7px;
    outline:none;
    border-radius: 0px 5px 5px 0px;
    font-size: 14px;
    border: 1px solid #cacaca;
  }



  .p-connect-area {

    background: #018667;

    padding: 5px 10px;

    display: inline-block;

    float: left;

  }







/* Connection Area*/









  .p-dots-area a {

    color: #fff;

  }



  .p-dots-area:hover {

    background: #1abc9c;

    cursor: pointer;

  }



  .p-dots-area p {

    margin-top: -8px;

    font-size: 20px

  }



  .profile-name {

    position: absolute;

    bottom: 4%;

    left: 16%;

  }



  .profile-name h2 {

    color: white !important;

  }



  i.fa-wifi {

    transform: rotate(55deg);

    position: relative;

    right: 3px;

    top: 0px;

  }



  i.far.fa-comment-alt {

    padding-right: 4px;

  }



  i.fa.fa-snowflake {

    padding-right: 4px;

  }



  .button_area {

    margin: 15px;

  }



  .gen-btn-info {

    color: #797373ba;

    background-color: white;

    padding: 7px 15px;

    font-size: 14px;

  }



  .gen-btn-info:hover {

    color: green;

    text-decoration: none;

  }



  .gen-btn-active {

    color: #22b14c;

   }

   .for_shad{

    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

    font-family: "Roboto", Sans-serif;

    border-radius: 3px;

   }

  .mobile-button {

    display: none;

  }

  .p-v-label {

    text-align: right;

  }

  .p-v-text h3 {

    padding-top: 4px;

    font-size: 18px;

  }

  .p-v-label label.control-label {

    font-size: 16px;

    padding-top: 0px;

  }

  i.fas.fa-atom {

    font-size: 18px;

    padding-right: 5px;

  }

  i.fas.fa-home {

    font-size: 18px;

    padding-right: 5px;

  }

  i.fas.fa-city {

    font-size: 18px;

    padding-right: 5px;

  }

  i.fas.fa-ruler-vertical {

    font-size: 18px;

    padding-right: 5px;

  }

  i.fas.fa-wine-glass-alt {

    font-size: 18px;

    padding-right: 5px;

  }

  i.fas.fa-graduation-cap {

    font-size: 18px;

    padding-right: 5px;

  }

  i.fas.fa-smoking {

    font-size: 18px;

    padding-right: 5px;

  }



  i.fas.fas.fa-landmark {

    font-size: 18px;

    padding-right: 5px;

  }



  i.fas.fa-universal-access {

    font-size: 18px;

    padding-right: 5px;

  }



  i.fas.fa-praying-hands {

    font-size: 18px;

    padding-right: 5px;

  }



  i.fa.fa-language {

    font-size: 18px;

    padding-right: 5px;

  }



  i.fas.fa-table {

    font-size: 18px;

    padding-right: 5px;

  }



  .mobile-bio-age {

    display: none;

  }



  .lets_text {

    position: absolute;

    top: 55%;

    left: 38%;

    color: white;

    font-size: 27px;

    transform: translate(-50%, -50%);

  }



  .let_hang {

    margin-top: -31px;

  }



  i.far.fa-star {

    font-size: 25px;

    color: orange;

  }

  i.fas.fa-star {
    font-size: 25px;
    color: orange;
  }



  .social_text {

    margin-top: 55px;

  }



  .social_text h2 {

    color: black !important;

  }



  .p_v_s_star {

    text-align: center;

  }



  .p_v_so_rev {

    border: solid 2px #3333;

    padding-left: 0px;

    padding-right: 0px;

  }



  .social_avg_rate a {

    background-color: #7aa05f;

    font-family: "Roboto", Sans-serif;

    font-weight: 600;

    font-size: 15px;

    padding: 7px 21px;

    border-radius: 3px;

    color: #fff;

    text-decoration: none;

    display: inline-block;

  }



  .social_avg_rate {

    text-align: center;

    margin: 10px;

  }

 

  .all_rev_button {
    margin: 10px 0px;
    text-align: right;
  }


  .star_bg_vv .col-md-6{
    padding: 0px;
  }
  .star_bg_vv{
     width: 74%;
     margin: auto;
     padding: 0px;
  }
  .star_bg_v {
    background: #fff;
    padding: 0px;
    width: 74%;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }

.ribbon {

    position: absolute;

    width: 190px;

    top: 5px;

    right: 0px;

    padding: 5px 15px;

    font-size: 25px;

    z-index: 2;  

    text-align: center;

}

.ribbon-content{

    position: relative;

    background: #f1f1f1; 

    border: 1px solid #DDD;  

}

.ribbon.base {

    background: #a0d8fc;

    color: #fff;

    border-right: 5px solid #a0d8fc;

}



.ribbon-content.Available{

display: none;

}



.ribbon.base.ribbon-extra{

    background: #C7BEE9;

    border-right: 5px solid #C7BEE9;

}



.ribbon.base.ribbon-extra:before {

    border-top: 27px solid #C7BEE9;

}

.ribbon.base.ribbon-extra:after {

    border-bottom: 27px solid #C7BEE9;

}





.ribbon:before, .ribbon:after {

    content: '';

    position: absolute;

    left: -9px;

    border-left: 10px solid transparent;

}

.ribbon:before {

    top: 0;

}

.ribbon:after {

    bottom: 0;

}

.ribbon.base:before {

    border-top: 27px solid #a0d8fc;

}

.ribbon.base:after {

    border-bottom: 27px solid #a0d8fc;

}

  .all_rev_button a {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 7px 0px;
    color: #bae840;
    text-decoration: none;
    display: inline-block;
  }



  .all-review-area {

    margin-top: 10px;

  }



  .all-rev-box {

    border: solid 2px #3333;

  }



  .social-sec {

    border-bottom: solid 2px #3333;

  }


  .all-rev-reply a {
    color: green;
    margin-left: 60px;
    font-size: 20px;
    text-decoration: none;
  }

  .mrg_bottom{
    margin: 7px 0px;
    padding: 0px;
  }


  .give_rev_button a {

    background-color: #22b14c;

    font-family: "Roboto", Sans-serif;

    font-weight: 600;

    font-size: 20px;

    padding: 7px 21px;

    border: solid 1px #22b14c;

    color: white;

    text-decoration: none;

    display: inline-block;

  }



  .give_rev_button {

    text-align: center;

    margin-bottom: 10px;

  }



  p.p_v_avg_rate {

    text-align: center;

    font-size: 25px;

    margin-top: 15px;

  }



  .p_v_people {

    text-align: center;

    margin-top: 15px;

  }



  .side {

    float: left;

    width: 15%;

    margin-top: 10px;

  }



  .middle {

    margin-top: 10px;

    float: left;

    width: 70%;

  }



  .social_bar {

    margin-bottom: 10px;

  }



  /* The bar container */

  .bar-container {

    width: 100%;

    background-color: white;

    text-align: center;

    color: white;

    border: 1px solid #3333;

  }



  /* Individual bars */

  .bar-5 {

    width: 0%;

    height: 18px;

    background-color: #57bb8a;

  }



  .bar-4 {

    width: 0%;

    height: 18px;

    background-color: #9ace6a;

  }



  .bar-3 {

    width: 0%;

    height: 18px;

    background-color: #ffcf02;

  }



  .bar-2 {

    width: 0%;

    height: 18px;

    background-color: #ff9f02;

  }



  .bar-1 {

    width: 0%;

    height: 18px;

    background-color: #ff6f31;

  }





  .mobile_lets_hang {

    display: none;

  }



  .see_all_rev {

    display: none;

  }



  .link_timeline_page {

    display: none;

  }



  .expr_mobile {

    display: none;

  }

  .button_area,.form-area{

    width: 100%;

  }



  @media (max-width: 600px) {

    .btn_follow,.btn_profile_con,.btn_profile_msg {
      width: 100px !important;
      padding:5px 0px !important;
      font-size: 10px !important;
    }
    .buttons_main_div{
      bottom: 0px !important;
      right: auto !important;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .button_area {
      margin-top: 50px !important;
    }
    .connect_button_sent{
      line-height: 10px !important
    }
    div#content {

      background-color: white;

    }

    .ribbon{

      padding: 5px 15px;

      right: 4px;

      font-size: 19px;

      width: 150px;

   }

    .ribbon-content{

    display: block;

  }

    .button_area,.form-area,.social-reviews-area{

    width: 100%;

    margin-top: 10px;

  }

  .gen-btn-info{

    font-size:12px;

  }

  .mb-3, .my-3 {

      margin-bottom: 0px !important;

  }

    .avatar img {

      width: 100px !important;

      height: 100px !important;

    }

    picture.avatar.pro_view_pic img {

      bottom: 40%;

      left: 10px;

  }



    .p-dots-area p {

      margin-top: 3px;

    }



    .profile-name {

      bottom: 24%;

      left: 4%;

    }



    .profile-name h2 {

      font-size: 20px !important;

    }



    .mobile-button {

      display: block !important;

    }



    .button_area {

      display: none;

    }



    .button-display {

      display: flex;

    }



    .p-v-label {

      text-align: left;

    }



    .let_hang {

      margin-top: 0px;

    }



    .mobile-bio-age {

      display: block !important;

    }



    .desk-bio-age {

      display: none;

    }



    .social_text {

      margin-top: 0px;

      text-align: center;

    }



    .all-rev-reply a {

      text-align: center;

      margin-right: 0px;

    }



    .all-rev-text {

      text-align: center;

    }



    
    .button-display {

      padding-right: 0px;

      padding-left: 0px;

    }



    .car-edu-btn-info {

      color: grey;

      border: 1px solid grey;

    }

    .p_v_main_area {

      margin-top: 56px;

    }

    .mobile_lets_hang img {

      width: 160px;

    }



    .mobile_lets_hang {

      display: block;

      position: absolute;

      top: -5%;

      right: 0%;

    }



    .lets_text {

      left: 40%;

      font-size: 14px;

      transform: translate(-30%, -46%);

    }



    .desk_lets_hang {

      display: none;

    }



    .form_display_mo {

      display: flex;

    }



    .p-v-label label.control-label {

      font-size: 14px;

      padding-top: 5px;

    }



    .so_rate_display {

      display: flex;

    }



    .so_dar_display {

      display: flex;

      padding-right: 0px;

      padding-left: 0px;

    }



    .social_bar {

      padding-right: 0px;

      padding-left: 0px;

    }



    .middle {

      width: 100%;

    }



    i.far.fa-star {

      font-size: 15px;

    }



    i.fas.fa-star {

      font-size: 15px;

    }



    .all_rev_button {

      display: none;

    }



    .see_all_rev {

      display: block;

      text-align: center;

      margin-top: 20px;

    }



    .see_all_rev p {

      color: #22b14c;

    }



    .link_timeline_page a {

      background-color: #e2f5a7;

      font-family: "Roboto", Sans-serif;

      font-weight: 600;

      font-size: 15px;

      padding: 7px 21px;

      -webkit-border-radius: 3px;

      border-radius: 3px;

      color: #48d48a;

      text-decoration: none;

      display: inline-block;

    }

  

    .link_timeline_page {

      display: block;

      text-align: center;

      margin-top: 15px;

      margin-bottom: 15px;

    }



    i.fas.fa-graduation-cap {

      font-size: 12px;

      padding-right: 0px;

    }



    .p-v-text h3 {

      font-size: 16px;

      margin-left: -80px;

    }



    .genprodisplay {

      padding-right: 0px;

      padding-left: 0px;

      text-align: center;

    }



    .caredudisplay {

      padding-right: 0px;

      padding-left: 0px;

      text-align: center;

    }



    .deskaddfr {

      display: none;

    }



    .mobile_conn {

      display: block;

    }



    .button_area1 {

      display: none;

    }



    .career_desk {

      display: none;

    }



    .expr_mobile {

      display: block;

    }



    .extime {

      color: rgba(0, 0, 0, 0.9);

    }



    body {

      overflow-x: hidden;

    }

  }

@media (min-width: 180px) and (max-width: 320px) {

  .p-connect-area {

    right: 12.3%;

  }

  .p-follow-area-top {

      right: 59.2%;

  }

  .p-dots-area p {

    margin-top: 0px;

  }

  .p-mess-area {

    right: 34%;

  }

}

@media (min-width: 321px) and (max-width: 360px) {

  .p-connect-area {

    right: 12%;

  }

  .p-follow-area-top {

    right: 53.8%;

  }



  .p-mess-area {

    right: 32%;

  }

}

 @media (min-width: 180px) and (max-width: 319px) {

  .profile-name {

      bottom: 24%;

      left: 23%;

  }

  .gen-btn-info{

    font-size:10px;

  }

  .mobile_lets_hang{

    display:none;

  }

  .profile-name h2 {

      font-size: 15px !important;

  }

  picture.avatar img{

      width: 40px !important;

      height: 40px !important;

      bottom: 20%;

      left: 2%;

  }

}

  .car-edu-btn-info {

    color: green;

    background-color: white;

    border: solid 1px green;

    padding: 7px;

    font-size: 14px;

  }



  .car-edu-btn-info:hover {

    color: green;

    text-decoration: none;

  }



  .carrerwrap {

    display: flex;

    width: 100%;

  }



  .educonarea {

    margin: 0 auto;

    background-color: #fff;

    padding: 15px;

    margin-bottom: 30px;

  }



  .edutitle h3 {

    font-weight: bold;

    font-size: 18px;

    text-transform: uppercase;

    font-family: 'Heebo', sans-serif !important;

  }



  .carrerleft {

    width: auto;

    margin-left: 15px;

  }



  .carrerright {

    margin-left: 15px;

    font-family: 'Heebo', sans-serif !important;

    font-size: 14px;

    color: rgba(0, 0, 0, 0.6);

    width: 92%;

    border-bottom: 1px solid #e6e9ec;

    padding-bottom: 6px;

    margin-bottom: 20px;

  }



  .carrerright h4 {

    font-size: 16px;

    font-family: 'Heebo', sans-serif !important;

    font-weight: bold;

    color: rgba(0, 0, 0, .7);

    margin-bottom: 0;

  }



  .comname {

    color: rgba(0, 0, 0, 0.9);

    font-size: 14px;

  }



  .carrerright ul {

    margin-right: 15px;

    margin-top: 7px;

  }



  .give-review-section {

    border-top: solid 2px #3333;

  }



  .give_rating {

    padding: 10px;

  }



  .give_review {

    width: 80%;

    margin: auto;

  }



  .give_review textarea {

    width: 100%;

    height: 100px;

    border-color: grey;

    font-size: 16px;

  }



  .reply-text {

    margin-left: 92px;

  }

  .reply-text b {

    margin-left: -32px;

  }

  

@media only screen and (min-width:200px) and (max-width: 280px){

  .profile-name h2 {

      font-size: 15px !important;

  }

  picture.avatar img {

      width: 40px !important;

      height: 40px !important;

    bottom: 20%;

    left: 2%;

  }

  p.p_v_avg_rate{

    font-size:15px;

  }

  .col-mmd-4 a, .col-mmd-3 a, .col-mmd-6 a{

    font-size:9px !important;

  }

  .col-mmd-4 a i, .col-mmd-3 a i, .col-mmd-6 a i{

    font-size:  16px !important;

  }

  

  i.fas.fa-star,.social_text h2{

    font-size:12px !important;

  }

  .give_rev_button a {

      font-size: 15px;

      padding: 0px 8px;

   }

   .see_all_rev{

    text-align: center;

   }

   .col-md-6,.col-sm-10{

    padding: 0px;

   }

   .col-md-8,.col-md-4{
    padding: 0px;
   }

  .for-small-mobile{
    display: block !important ;
  }

  .gen-btn-info{
    font-size: 11px !important; 
  }

  .p-v-text h3{
    margin-left:0px !important;
  }

  .link_timeline_page a{
    font-size:12px;
  }

  .comment_buttons{
    display:none;
  }

}

.comment_buttons div a{
  text-decoration: none;
}

.p-connect .p-connect-area-text{
  display: none;
}

.p-connect-area-t{
  display: none;
}
.p-connect .p-connect-area-t{
  display: inline-block;
}

.p-dots-area.open a{
  color: #212529;
  font-weight: 600;
}

.p-dots-area.open .dropdown-menu{
  right: 0;
  left: inherit;
}



.p-dots-area.open .dropdown-menu a:hover {
  background-color: #1ABC9C;
  color: #fff;
  font-weight: 600;
}

/*  Report Modal Css */
.modal-header button.report-close{
  color: #999;
  top: -4px;
  right: 0px;
  font-size: 25px;
} 



.modal-footer button.report-next{
  font-size: 16px;
  line-height: normal;
  padding: 5px 12px!important;
  box-shadow: none!important;
}

#ReportModalCenter{
  padding-right: 0px!important;
}

.report-header{
  background: #F7F7F7;
}

.modal-body .report-content h3 {
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 5px;
  color: #0e0e0f;
  margin-bottom: 10px;
}



.modal-body .report-content small {

    display: block;

    padding-top: 8px;

    font-weight: 400;

    color: #999;

    font-size: 13px;

}



.fake-radio-green.radio-text {

    width: auto;

    line-height: 15px;

    font-weight: 400;

    font-size: 13px;

    cursor: pointer;

}



.fake-radio-green {

    width: 16px;

    height: 16px;

    position: relative;

    overflow: hidden;

    display: inline-block;

    vertical-align: top;

}



.fake-radio-green input[type=radio] {

    position: absolute;

    opacity: 0;

    top: -20px;

    left: -20px;

}



input[type=radio] {

    vertical-align: text-bottom;

}



.fake-radio-green input[type=radio]:checked+.radio-img {

    background-position: -100px -150px;

}



.fake-radio-green.radio-text .radio-img {

    float: left;

    margin-right: 8px;

}

.fake-radio-green .radio-img {

    background: transparent url(https://www.travpart.com/English/wp-content/themes/bali/images/icn-master-slim-small.svg) no-repeat -125px -150px;

    background-size: 500px 200px;

    vertical-align: middle;

    display: inline-block;

    width: 16px;

    height: 16px;

}



.report-content radiogroup>label {

    height: 100%;

    display: block;

    color: #0e0e0f;

    font-size: 14px;

    padding-bottom: 18px;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;

}



.report-content radiogroup .toggle {

    display: none;

    margin-top: 13px;

}



.report-md-content{

  top: 108px;

}

/*  Report Modal Css */



/* Mobile Responsive*/

@media (min-width: 481px) and (max-width: 767px) {

  

  

}



/* 

  ##Device = Most of the Smartphones Mobiles (Portrait)

  ##Screen = B/w 320px to 479px

*/



@media (min-width: 320px) and (max-width: 480px) {

  .comment_buttons {

    position: absolute;

    bottom: 10px;

    right: 18%;

}



.genprodisplay {

  position: relative;

  left: 3%;

}



.caredudisplay{

  position: relative;

  right: 14%;

}

  

}



.forsiz{
  font-weight: bold !important;
  font-size: 10px !important;
  color: #827272 !important;
}

.btn_profile_dots i {
    font-size: 6px;
    padding: 1px;
    vertical-align: middle;
}
.btn_profile_con i {
    font-size: 13px !important;
    padding-right: 3px;
    margin-right: 0px !important;
    padding-left: 0px !important;
}

.btn_profile_con {
    width: 120px;
    background: #008a66;
    padding: 6px 10px;
    border: 1px solid #008a66;
    letter-spacing: 1px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-family: "Roboto", Sans-serif;
    cursor: pointer;
}

.btn_profile_con i {
    font-size: 13px !important;
    padding-right: 3px;
    margin-right: 0px !important;
    padding-left: 0px !important;
}
.btn_profile_con a{
text-decoration: none;
}
.btn_follow a{
color: #fff;
text-decoration: none;
}

.btn_follow{
  width: 120px;
  background: #008a66;
  padding: 6px 10px;
  border: 0px;
  letter-spacing: 1px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", Sans-serif;
  cursor: pointer;
}


.rm_d{
  padding: 0px !important;
  display: inline-block;
  vertical-align: middle;
}
.connect_button_sent {
  background: #dad8d8 !important;
  outline: none;
  color: #000 !important;
  font-weight: bold;
  line-height: 15px;
  padding: 1px 10px;
  border: 1px solid #dad8d8;
}

.connect_button_sent a{
  text-decoration: none;
  outline: none;
  color: #000 !important;
}
.space_top {
  margin-top: 25px;
}

.marg_s{
  margin-right: 3px;
}

.buttons_main_div{
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: flex;
}

.btn_profile_msg a{
  outline: none;
  text-decoration: none;
}

.btn_profile_msg {
    background: #20a5ca;
    outline: none;
    padding: 7px 10px;
    border: 0px;
    letter-spacing: 1px;
    border-radius: 5px 0px 0px 5px;
    color: #fff;
    font-size: 13px;
    font-family: "Roboto", Sans-serif;
    cursor: pointer;
}

.dropdownMenuButton_1{
  right: 0px  !important;
  min-width: 35% !important;
  float: none !important;
  left: auto !important;
}