
.main_sitemap{
	padding: 20px;
	margin: 20px 0px;
	background: #fff;
	border-radius: 3px;
}

#London h3{
    color: #3333339c;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
/* Style the tab */
.tab {
	margin: 20px 0px;
	overflow: hidden;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	transition: 0.3s;
	color: #000;
	font-size: 15px;
	font-weight: 600;
}
#London{display: block;}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
.ul_list li{
	display: inline-block;
	width: 24%;
}
.ul_list{
	padding: 0px !important;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #afaaaa1a;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

.sitemap_links{
	height: 500px;
    overflow-y: scroll;
}

.sitemap_links .sitemap_link_row{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.sitemap_links .sitemap_link_row .sitemap_link_col {
    display: table-cell;
    padding: 0 25px 0 0;
    width: 25%;
    position: relative;
    vertical-align: top;
}
.sitemap_links .sitemap_link_row .sitemap_link_col:before {
    content: "/";
    font-size: 0;
    width: 4px;
    height: 4px;
    background: #333;
    display: inline-block;
    border-radius: 100%;
    margin-right: 5px;
    line-height: 18px;
    position: absolute;
    top: 8px;
    left: 1px;
}

.sitemap_links .sitemap_link_row .sitemap_link_col a {
    color: #333333;
    font-size: 14px;
    margin: 0 0 11px;
    display: inline-block;
    padding: 0 0 0 9px;
}