body{
	background-color: #f6f6f6;
	font-family: "Times New Roman", Georgia, Serif;

}

.main_area{
    width: 100%;
}

#mega-menu-wrap-main-menu #mega-menu-main-menu{
    float: right;
}

#connect-friend{
    height: inherit;
}

.header_txt h2{
    color: #1A6D84;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}
.more strong {
    font-size: 19px;
    padding-right: 5px;
}

.create_post h4{
	font-weight: 700;
}

.create_post{
    background: #1abc9c;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #686868;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 0px;
}

.create_post h4{
	font-weight: 700;
    display: inline-block;
    color: #fff;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    margin: 0px;
    vertical-align: middle;
}

.create_post img{
	display: inline-block;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid white;
}

.create_post h5{
	display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
}

.add_locations{
	background-color: #1abc9c;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #686868;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 3px;
    border-top: none;
}

.searchButton {
	width: 40px;
    height: 34px;
    border: 1px solid #129077;
    background: #1abc9c;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    top: 10px;
}

.search input:focus{
	outline: none
}

.post_area{
	background: #fff;
	border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #686868;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 3px;
    border-top: none;
}

.post-mobile-area{
    height: 100%;
    background: #fafafa;
}

.icon-box-icon{
    background-color: #1abc9c;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    padding: 5px 7px;
    margin-right: 5px;
}

.icon-box-content{
	display: inline-block;
    vertical-align: middle;
}

h4.icon-box-title{
	color: #1abc9c;
	font-size: 17px;
	font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.widget_area{
	background-color: #efefef;
    border-radius: 20px 20px 20px 20px;
    margin: 10px;
}

.widget_area_mobile{
    border-bottom: 1px solid #cccc;
    padding: 0px;
}

.mobile-button-link{
    width: 100%;
    text-align: center;
    background: #1abc9c;
    padding: 5px;
    margin: 7px 25px;
    border-radius: 3px;
}

.mobile-button-link a{
    color: #fff;
    font-size: 16px;
}

.button-link {
    text-align: left;
}

.widget-extra-a{
    margin: 10px 0;
}

.icon-box-i{
    padding: 5px 10px;
}

.button-link{
	text-align: right;
	margin-top: 11px;
    margin-left: 20px;
}

.button-link a{
    background-color: #1abc9c;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 7px 21px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.post-area-content{
    padding-left: 15px;
    margin-top: 25px;
}

.post-content{
    background: #fff;
    border: 1px solid #ddd;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.post-image{
    min-height: 200px;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
}
.image_div a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
.fancybox-container{z-index: 99999999999 !important;}

.feed_post_image_div{
    width: 90%;
    position: relative;
    height: 250px;
    display: inline-block;
}
.feed_post_image_div img{
        width: 100%;
        height: 245px;
    }
.post-image img{
    height: 100%;
    max-height: 500px;
    width: auto !important;
    border-radius: 0;
}

.post-image .feed_post_image_div img{
    width: 100% !important;
}

.post-category{
	margin-left: 12px;
	padding: 4px 0px;
    display: inline-block;
    text-transform: uppercase;
    color: #666;
    font-size: 10px;
    position: relative;
    z-index: 9;
}

.post-category a{
	background: #1abc9c;
    border-color: #1abc9c;
    text-decoration: none !important;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 8px;
    color: #fff !important;
    line-height: normal;
    display: inline-block;
    margin: 1px 0;
}

.post-category a:hover{
	background: #333;
    border-color: #333;
    color: #fff;
}

.post-content h2{
   font-size: 20px!important;
}

h2.post-title{
	color: #1A6D84;
    font-size: 20px;
    padding: 0 12px;
    margin: 5px 0;
    line-height: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Roboto", Sans-serif;
}

h2.mtop{
    margin-top: 15px ;
}

h2.post-title a{
	color: #444;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 0px;
}

.post-date{
	padding: 0 12px;
    float: none;
    line-height: normal !important;
    display: inline-block;
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
}

.post-content-txt{
	padding: 0 12px;
}

.post-content-txt div{
	padding-bottom: 7px;
    color: #3c3b3b;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-size: 13px;
}

a.readmorebtn{
	text-decoration: none !important;
    margin-bottom: 5px;
    color: #888 !important;
    border: 1px solid #888;
    padding: 3px 12px;
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    line-height: normal !important;
    margin: 3px 0 10px !important;
    transition: 0.4s ease-in;
}

a.readmorebtn:hover{
	transition: 0.4s ease-in;
    background: #D4D4D4;
    color: #000;
}
.p-cate3{
	margin-top: 10px;
}
.postca2{
	margin-top: 0;
}

.pagination-area{
	text-align: center;
}

span.page-numbers{
	border-radius: 0;
    color: #333 !important;
    background: transparent;
    padding: 7px 10px;
    display: inline-block;
    text-align: center;
    line-height: normal;
    box-shadow: none;
    text-shadow: none;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #333;
    text-decoration: none !important;
}

a.page-numbers{
	color: #fff !important;
    background: #333;
    padding: 7px 10px;
    display: inline-block;
    text-align: center;
    line-height: normal;
    box-shadow: none;
    text-shadow: none;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #333;
    text-decoration: none !important;
}

a.page-numbers:hover{
    color: #333 !important;
    background: transparent;
}

span.dots{
	color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.share-post{
    position: absolute;
    top: 15px;
    right: 25px;
    display: inline-block;
}

a.addtoany_share img{
    width: auto!important;
}

.share-post2{
    position: absolute;
    right: 30px;
    top: 35px;
}

.sh-mr{
    top: 15px;
}

.text-area{
   padding: 0px 20px 0px 20px;
}

.text-area textarea{
    width: 100%;
    padding: 15px;
    height: 100px;
    font-size: 16px;
}

.icon-box-content span{
    cursor: pointer;
}

.post-img-top img.profile-pic{
    border-radius: 50%;
    width: 60px;
    padding: 10px;
}
li.ShowITc {
    display: none !important;
}



/*
===========================
MytimeLine Feeling, Tag,
===========================
*/
.MytFilling{
    background-color: #f7f7f7;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 340px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
}

.Mytimelinef{
    position: absolute;
    top: 35.6%;
    left: 30.5%;
    z-index: 99999;
    display: none;
}

.MytTagsp{
    background-color: #f7f7f7;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 340px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
}

.Mytimetags-p{
    position: absolute;
    top: 35.6%;
    left: 46.5%;
    z-index: 99999;
    display: none;
}

.MytimetourP{
    display: none;
    position: absolute;
    text-align: center;
    z-index: 10000;
}

.MytimetourP .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.MytimetourP>div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 340px;
    min-height: 100px;
    vertical-align: middle;
    width: 100%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.Mypack{
    top: 35.6%;
    right: 4%;
}

a.cancel-f{
    float: left;
}

/*
===============================
End MytimeLine Feeling, Tag,
===============================
*/


/*Feeling Activity Css*/

    .w-md-20{
        max-width: 22%;
        flex: 0 0 22%;
    }


    .Filling-section{
        background-color: #f7f7f7;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: auto;
        max-width: 340px;
        min-height: 100px;
        vertical-align: middle;
        width: 60%;
        position: relative;
        border-radius: 8px;
    }

    .Fill-header-top{
        border-bottom: 1px solid #ddd;
        text-align: right;
    }

    .Fill-header-top i{
        padding: 10px;
        font-size: 20px;
        color: #dc3545;
        cursor: pointer;
    }

    .filing-section-main form select{
        display: block;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 0;
        width: 100%;
        border: none;
        padding: 10px 0;
    }

    .filing-section-main form select:hover{
    /*  background: #1ABC9C;
        color: #fff;
        cursor: pointer;*/
    }

    .filing-section-main form select.active{
        overflow: hidden;
        color: #fff;
    }

    .filing-section-main select option.active{
        background: #1ABC9C;
        color: #fff;
    }

    .filing-section-main form select i{
        font-size: 20px;
        color: #FBD771;
        margin-right: 15px;
        position: relative;
        top: 3px;
    }

    .feeling{
        position: absolute;
        top: 71.6%;
        left: 28.5%;
        z-index: 99999;
        display: none
    }


select.active{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

span.font-icon-s{
    color: orange;
}

.filing-section-main select option{
    padding: 10px;
    color: #000;
    border-bottom: 1px solid #ececec;
}


.filing-section-main select:focus{
    outline: none;
}

form.form-emoji select option i{
    color: orange;
}

h4.elementor-icon-box-title{
margin-top: 10px;
}

.mobile-version-post{
    display: none;
}

.mobile-popup-test{
    display: none;
}


/*  Modal Popup Css */

.back-post{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.back-post i{
    color: #fff;
    font-size: 18px;
    position: relative;
    top: 2px;
}

.mobile-popup-m{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 70px !important;
    height: 100%;
    display: none;
    background: #fff;
    overflow-y: scroll;
}

.m-post1{
    display: inline-block;
    float: right;
}

.m-post1 span{
    height: 22px;
    width: 1px;
    position: absolute;
    content: '';
    background: #f7f7f7;
    right: 16%;
}

.m-post1 a{
    color: #fff;
    font-size: 16px;
}

.mobile-pc-scetion img{
    border-radius: 50%;
}

.mobile-pc-scetion{
    padding: 10px;
    margin-top: 15px;
    position: relative;
}


.mobile-pc-scetion a{
    color: #6c757d;
    font-size: 16px;
    font-family: "Roboto", Sans-serif;
    left: 7px;
    position: relative;
    top: 3px;
}

.m-post-area{
    padding: 0px;
}
.m-text-area{padding: 10px;}
.m-text-area{
    padding: 20px 10px;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
    margin-top: 10px;
}
.m-text-area textarea {
    width: 100%;
    padding: 15px;
    height: 90px;
    border-radius: 0px;
    border-color: #a9a5a5;
    font-size: 13px;
    border-width: 2px;
}

.m-box-icon{
    display: inline-block;
    color: #1abc9c;
    font-size: 18px;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 5px;
}

.icon-box-content h4{
    color: #666;
    font-size: 13px;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
}

h4.feeling-t{
    position: relative;
    left: 4px;
}

h4.loca-t{
    position: relative;
    left: 7px;
}

h4.tags-t{
    position: relative;
    right: 2px;
}


.mobile-create-post{
    background: #1abc9c;
    padding: 10px;
}

.mobile-create-post h5 {
    display: inline-block;
    color: #fff;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
}

/*End  Modal Popup Css */

/*
==================================
 Feeling activity mobile view css
==================================
*/

.feeling-activity-m{
    display: none;
    top: 70px !important;
    position: fixed;
    background: #fff;
    z-index: 999999;
    width: 100%;
    height: 100%;
}

.h-top-new{
    background: #1abc9c;
    padding: 10px;
    text-align: center;
}

a.cancel-tags{
    float: left;
}

.h-top-new h4{
    display: inline-block;
    margin-bottom: 0;
    color: #fff;
}

a.cancel-f{
    color: #fff;
    font-size: 15px;
}
/*
==================================
 Feeling activity mobile view css
==================================
*/


/*
=========================
Tags People Popup
=========================
*/

.tag-people-Popup{
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 340px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
}

.tags-header-top{
    border-bottom: 1px solid #ddd;
    text-align: right;
    background: #f7f7f7;
}

.tags-p {
    position: absolute;
    top: 385px;
    left: 46.5%;
    z-index: 99999;
    display: none;
}

.tags-header-top i{
    padding: 10px;
    font-size: 20px;
    color: #dc3545;
    cursor: pointer;
}

.tagBodyM{
    padding: 5px;
}

.typing_name input{
    width: 100%;
    border: none;
    background: #ddd;
    padding: 8px;
    font-size: 13px;
}

.typing_name input:focus, .suggestion_name input:focus{
    outline: none;
}

.typing_name{
    margin-bottom: 10px;
}

.suggestion_name{
    margin-bottom: 10px;
}

.suggestion_name input{
    width: 100%;
    border: none;
    background: #ddd;
    padding: 8px;
    font-size: 13px;
}

.user-1{
    margin-bottom: 15px;
}

.user-1 p{
    display: inline-block;
    font-size: 17px;
    color: #676767;
    margin-bottom: 0;
    position: relative;
    top: 4px;
}

.user-1 img{
    width: 35px;
    margin-right: 10px;
}

.userTagArea{
    padding: 0 10px;
}

.border-b-u{
    border-top: 1px solid #ddd;
    position: relative;
    top: 7px;
}


/*
Mobile version Css
*/
.tags-friend-m{
    display: none;
    position: fixed;
    background: #fff;
    z-index: 999999;
    width: 100%;
    height: 100%;
    top: 70px !important;
}


.cancel-tags{
    font-size: 15px;
    color: #fff;
}

/*
=========================
End Tags People Popup
=========================
*/



/*
=========================
My Tour Packages Popup
=========================
*/
.hover_bkgr_fricc.pop-timetourpackages {
    top: 47.9%;
    left: 55%;
}

.search_hea input:focus{
    outline: none;
}


.hover_bkgr_fricc {
    display: none;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 47px;
    left: 16%;
    width: 600px;
    z-index: 10000;
}

.hover_bkgr_fricc .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hover_bkgr_fricc>div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 340px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.popupClose-close {
    background-color: #d44343;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 15px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 9999;
}

.popupClose-close:hover {
    background-color: #ccc;
}

.timefeeling-popup {
    cursor: pointer;
    display: inline-block;
}

.timetourpackages-popup {
    cursor: pointer;
    display: inline-block;
}

.feel_icon {
    color: #da8910;
    font-size: 20px;
}

.feel_text {
    color: black;
    margin-left: 20px;
    font-size: 15px;
}

.feel_display {
    display: flex;
    /* border: solid 1px grey;*/
    padding-top: 10px;
    cursor: pointer;
}

.hover_bkgr_fricc.pop-timefeeling {
    top: -364px;
    left: 9%;
}

.feel_display:hover {
    background: #a1a1dc;
}

.feel_text:hover {
    color: #efefef;
}

p.sugg {
    color: black;
    float: left;
    font-size: 13px;
}

.short-post-feeling {
    font-size: 13px;
    color: #333;
    margin-left: 20px;
}

.tour-header-top{
    padding: 10px;
    text-align: left;
}

.tour-header-top h4{
    display: block;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}

.tour-packages-Popup{
    display: none;
    position: fixed;
    background: #fff;
    z-index: 999999;
    width: 100%;
    height: 100%;
    top: 70px !important;
}

.tour-header-top{
    background: #1abc9c;
}

.tourBodyM{
    padding: 15px;
}

p.sugg{
   margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px; 
    width: 100%;
}

.tour-ps{
    text-align: left;
}

a.cancel-tours{
    color: #fff;
    font-size: 16px;
    position: absolute;
     top: -2px;
}

.feel_display,.feel_display{
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.Mypack i.fa-times-circle{    
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    z-index: 30000;
    color: red;
    cursor: pointer;
}

/*
=========================
End my Tour Packages Popup
=========================
*/


/*   Share, Edit, post and others popup css */
.right-section-dot {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.right-section-dot i.fa-ellipsis-h {
    color: #8c8c8c;
    font-size: 15px;
}

.dropdown-toggle::after{
    display: none;
}

.PostDelete{
    top: 27px;
    right: 6px;
    left: inherit;
}

.PostDelete::before {
    content: "";
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 9px solid #ffffff;
    top: -6px;
    right: 5px;
    z-index: 9999;
}

.PostDelete::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #ddd;
    top: -10px;
    right: 5px;
}

.PostDelete li {
    display: block;
    margin: 5px;
}

.PostDelete li:hover {
    background: #1ABC9C;
    color: #fff;
    cursor: pointer;
}

.PostDelete li a {
    padding: 3px;
    color: #444;
    text-decoration: none;
    font-size: 13px;
}

.PostDelete li:hover a {
    color: #fff;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: inherit;
}

.ShareDropdown {
    position: absolute;
    background-color: white!important;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000!important;
    border: 1px solid #ddd;
    margin-top: 4px;
    display: none;
}
.ShareDropdown li a{
    padding-left: 0px;
}
.ShareDropdown li {
    display: block;
    margin: 5px;
    font-size: 14px;
    padding: 0 7px;
}

.ShareDropdown li.mores {
    text-align: left;
    border-top: 1px solid #ddd;
    margin: 0;
    margin-left: 6px;
}


.ShareDropdown::before {
    content: "";
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 9px solid #ffffff;
    top: -6px;
    right: 5px;
    z-index: 9999;
}

.ShareDropdown::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #ddd;
    top: -10px;
    right: 5px;
}

.ShareDropdown li:hover {
    background: #1ABC9C;
    color: #fff;
    cursor: pointer;
}

.ShareDropdown li a:hover{
    color: #fff;
}

/*  Edit Post Popup Css*/


    .userPhThumbnail2{
          position: relative;
          overflow: hidden;
          display: inline-block;
    }   

    .userPhThumbnail2 input{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0!important;
        width: 100%;
        height: 100%;
        z-index: 99999;
    }       

    .userPhThumbnail2 input:hover{
        opacity: 0!important;
    }   

    .editPost{
        display: none;
    }

    .EditConte{
        position: fixed;
        top: 10%;
        width: 46%;
        background: #fff;
        height: 505px;
        margin: 0px auto;
        display: block;
        z-index: 99999;
        left: 28%;
        box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    }

    .editPost:after{
        content: "";
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .4);
        z-index: 9999;
    }

    .edit_post_header {
        background: #dadada;
        background-color: #f5f6f7;
        border-bottom: 1px solid #e5e5e5;
        color: #1d2129;
        padding: 5px 12px;
    }

    .Eheader-left, .Epostright{
        display: inline-block;
    }

    .Eheader-left h4{
        font-weight: bold;
        margin-bottom: 0;
    }

    .Epostright {
        position: absolute;
        right: 8px;
        z-index: 9999;
    }
    .Epostright  i {
        color: #999;
        font-size: 18px;
        cursor: pointer;
    }

    .Edit_content_body{
         padding: 15px 15px 5px 15px;
    }

    .profile_area_edit img {
        border-radius: 50%;
        float: left;
    }

    .profile_area_edit textarea{
        width: 86%;
        height: 130px;
        font-size: 20px;
        border: none;
        margin-left: 10px;
        resize: none;
    }

    .profile_area_edit textarea:focus{
        outline: none;
    }

    .userPhThumbnail img{
        width: 100px;
        height: 100px;
        float: left;
        margin: 0 5px;
    }

    .userPhThumbnail video{
        width: 100px;
        height: 100px;
        float: left;
        margin: 0 5px;
    }

    .editbodyexcerpt p{
        font-size: 14px;
        margin-bottom: 10px;
    }

    .editbodyexcerpt p a{
        color: #365899;
    }

    .editbodyexcerpt p a:hover{
        text-decoration: none;
    }

    .userPhThumbnail{
        display: inline-block;
        margin-bottom: 5px;
        overflow: hidden;
    }

    .editbodyexcerpt{
        border-bottom: 1px solid #ddd;
    }

    .userPhThumbnail2{
        border: 3px dashed #ddd;
        width: 100px;
        height: 100px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .userPhThumbnail2 i{
        color: #ddd;
        font-size: 26px;
        position: absolute;
        top: 33%;
        left: 38%;
    }

    .e-box-icon {
        background-color: #1abc9c;
        display: inline-block;
        color: #fff;
        font-size: 20px;
        border-radius: 50%;
        padding: 8px;
        margin-right: 5px;
    }

    .e-box-content{
        display: inline-block;
    }

    .e-box-content h4 {
        color: #666;
        font-size: 16px;
        font-weight: 600;
        font-family: inherit;
    }

    .edit-photo-video{
        background-color: #efefef;
        border-radius: 20px 20px 20px 20px;
        margin-bottom: 15px;
    }

    .e-box-content span{
        position: relative;
        bottom: 2px;
    }

    .edit-all-btn{
        margin-top: 20px;
    }

    .edit-delete-footer{
        background: #dadada;
        padding: 10px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
        overflow: hidden;
    }

    .edit-delete-footer a{
        background: #1abc9c;
        padding: 7px 20px;
        font-size: 16px;
        color: #fff!important;
        border-radius: 3px;
    }

    .edPhide{
        display: block;
    }


/* End  Edit Post Popup Css*/



/* Start Delete Post Popup Css*/

.DeletePost{
    display: none;
}

.DeleteConte {
    position: fixed;
    top: 30%;
    width: 46%;
    background: #fff;
    height: 160px;
    margin: 0px auto;
    display: block;
    z-index: 99999;
    border: 1px solid #ddd;
    left: 28%;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
}

.DeletePost:after {
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 9999;
}

.Dpostright {
    position: absolute;
    right: 8px;
    z-index: 9999;
    top: 5px;
}

.Dpostright i {
    color: #999;
    font-size: 18px;
    cursor: pointer;
}

.Edit_content_body p{
    font-size: 18px;
}

.DePhide{
    display: block;
}

/* End Delete Post Popup Css*/


/* End Share, Edit, post and others popup css */



.main_buttons_div .like_mobile, .main_buttons_div .comment_mobile, .main_buttons_div .share_mobile {
    width: 32%;
    padding: 3px 0px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}


    /* Date Time Picker Css */

    span.calendar-btn{
        padding: 2px 12px;
        font-size: 14px;
        color: #555;
        text-align: center;
        background-color: #eee;
        position: absolute;
        top: 0;
        right: 6px;
    }

    .Search-DatePicker{
        margin: 0px 20px;
    }
    .date-area, .date-area{
        width: 50%;
        position: relative;
    }

    .dataP1 input, .dataP2 input{
        width: 89%!important;
    }

        #datetimepicker1 input, #datetimepicker2 input, .short-post-datepicker input{
        width: 98%;
        padding: 4px 10px;
        border: none;
        font-size: 12px;
        height: 25px;
    }

    #datetimepicker1 input:focus, #datetimepicker2 input:focus, .short-post-datepicker input:focus{
        outline: none;
    }

    .search input.searchW{
        width: 92%!important;
    }

    label.start-date,label.end-date{
        width: 100%;
        display: block;
        font-size: 13px;
        color: #fff;
    }

    #datetimepicker1, .short-post-datepicker{
        margin-bottom: 10px;
        position: relative;
    }

     .bootstrap-datetimepicker-widget th{
        background: none!important;
    }

    .bootstrap-datetimepicker-widget table {
        font-size: 14px;
    }

    li.picker-switch.accordion-toggle{
        display: none;
    }

    /* End Date Time Picker Css */




/*
========================
Responsive Css Start
========================




/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

.search input {
    width: 91%!important;
}
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

.search input {
    width: 88%!important;
}

.searchButton {
    top: 2px!important;
}



    .for_logo_mobile img{
        width: 100%
    }


.w-md-20{
    max-width: 50%;
    flex: 0 0 50%;
} 

.post-md-4{
    max-width: 50%;
    flex: 0 0 50%;
}  

.widget-extra-a {
    margin: 10px;
}

.button-link{
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0px;
    margin-right: 27px;
}

.post-date{
    margin-bottom: 10px; 
}

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {



.single-comment-s input {
    width: 80%;

}


.single-imgHide{
    display: block;
}  

    .search input {
        width: 84%!important;
    }

.for_logo_mobile img {
    width: 80%;
}

.w-md-20{
    max-width: 100%;
    flex: 0 0 100%;
}  

.widget-extra-a {
    margin: 10px;
}

.button-link{
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0px;
    margin-right: 27px;
    text-align: right;
}

.post-date{
    margin-bottom: 10px; 
}


.header_txt h2{
    margin-top: 75px;
    margin-bottom: 10px;
}
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 180px) and (max-width: 319px) {
	
	    
.search input {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    margin-left: 0px!important;
    width: 100%!important;
}

.searchButton{
    position: absolute!important;
    right: 0!important;
    left: inherit!important;
    top: 15px!important;
}



.single-imgHide{
    display: block;
}  


.for_logo_mobile img {
    width: 70%;
}

.w-md-20{
    max-width: 100%;
    flex: 0 0 100%;
}  

.widget-extra-a {
    margin: 10px;
}

.button-link{
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0px;
    margin-right: 27px;
}

.post-date{
    margin-bottom: 10px; 
}


.main_area{
    display: none;
}

.m-user-profile{
    display: inline-block;
        width: 10%;
}

.mobile-version-post{
    display: block;
    margin-top: 50px;
    background: #fff;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

.m-user-profile img {
    border-radius: 50%;
    margin-left: 0px; 
    margin-right: 0px;
    position: relative;
    bottom: 0px; 
    width: auto;
    height: 30px;
}

.m-user-input{
    display: inline-block;
    width: 70%;
}

.m-user-input input{
    width: 85%;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 11px;
    cursor: pointer;
}

.m-user-input input:focus{
    outline: none;
}

.m-add-photo{
    display: inline-block;
    width: 10%;
    position: relative;
    top: 12px;
    left: 2px;
    cursor: pointer;
}

.m-add-photo i{
    font-size: 18px;
    color: #969696;
}

.m-add-photo span{
    font-size: 13px;
    color: #6b6a6a;
    position: relative;
    bottom: 0px!important;
    line-height: 0;
}

.post-area-content {
    padding-left: 0px;
    margin-top: 15px;
}

.post-content {
    margin-bottom: 15px;
}

.mobile-popup-test{
    display: block;
}


/* Edit and delete popup*/
.open>.dropdown-menu {
    display: block;
}

.EditConte {
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    overflow-y: scroll;
}

.DeleteConte {
    top: 37%;
    width: 70%;
    height: 27%;
    border: none;
    left: 15%;
}

.Edit_content_body p {
    font-size: 14px;
}


}
@media (min-width: 320px) and (max-width: 480px) {

.search input {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    margin-left: 0px!important;
}

.searchButton{
    position: absolute!important;
    right: 0!important;
    left: inherit!important;
    top: 15px!important;
}



.single-imgHide{
    display: block;
}  


.for_logo_mobile img {
    width: 70%;
}

.w-md-20{
    max-width: 100%;
    flex: 0 0 100%;
}  

.widget-extra-a {
    margin: 10px;
}

.button-link{
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0px;
    margin-right: 27px;
}

.post-date{
    margin-bottom: 10px; 
}


.main_area{
    display: none;
}

.m-user-profile{
    display: inline-block;
}

.mobile-version-post{
    display: block;
    margin-top: 15px;
    background: #fff;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

.m-user-profile img{
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 7px;
    position: relative;
    bottom: 2px;
}

.m-user-input{
    display: inline-block;
    width: 70%;
}

.m-user-input input{
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 6px 15px;
    font-size: 14px;
    cursor: pointer;
}

.m-user-input input:focus{
    outline: none;
}

.m-add-photo{
    display: inline-block;
    width: 10%;
    position: relative;
    top: 12px;
    left: 2px;
    cursor: pointer;
}

.m-add-photo i{
    font-size: 18px;
    color: #969696;
}

.m-add-photo span{
    font-size: 13px;
    color: #6b6a6a;
    position: relative;
    bottom: 0px!important;
    line-height: 0;
}

.post-area-content {
    padding-left: 0px;
    margin-top: 15px;
}

.post-content {
    margin-bottom: 15px;
}

.mobile-popup-test{
    display: block;
}


/* Edit and delete popup*/
.open>.dropdown-menu {
    display: block;
}

.EditConte {
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    overflow-y: scroll;
}

.DeleteConte {
    top: 37%;
    width: 70%;
    height: 27%;
    border: none;
    left: 15%;
}

.Edit_content_body p {
    font-size: 14px;
}

.date-area, .date-area {
    width: 100%;
}

#datetimepicker1 input, #datetimepicker2 input, .short-post-datepicker input {
    border: 1px solid #dee2e6;
}

label.start-date, label.end-date {
    color: #444;
}

.Search-DatePicker {
    margin: 0px ; 
}

.bootstrap-datetimepicker-widget ul.list-unstyled li.collapse.in{
	display: block;
}



}

.timeline_for_mobile{display: none;}
.timeline_for_desktop{display: block}


/** Balouch Khan CSS for My timeline page**/
.custom_profile{
    display:none;
}
    .section1 {
        border-left: 1px solid #000;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
    }

    .elementor.elementor-22017 {
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    .header_txt h2 {
        text-align: center;
        margin-bottom: 20px;
    }


    .photo-video {
        padding-top: 10px;
        padding-bottom: 10px;
        border: solid 1px grey;
        margin-left: 20px;
        margin-right: 20px;
    }

    .button-link a {
        background-color: #28a745;
    }

    .leftside {
        float: left;
    }

    .button-text i.fa {
        color: grey;
        font-size: 20px;
    }

    .connectionre {
        float: right;
    }

    .addphoto a {
        background-color: white;
        border: solid 1px #464040;
        letter-spacing: 1px;
        color: #464040;
        font-family: "Roboto", Sans-serif;
        font-weight: 600;
        font-size: 15px;
        padding: 7px 21px;
        border-radius: 3px;
        text-decoration: none;
        display: inline-block;

    }

    .col-md-3.photo-img img {
        border: solid 1px lightgrey;
        margin: 15px;
    }

    .post_area {
        background: #fff;
        border-style: none;
    }

    .button-link1.leftside {
        margin-right: 19px;
        font-size: 17px;
    }

    .profile_row{
        margin: 0px;
        position: relative;
    }
    .profile_main_cover,.profile_image{
        text-align:center;
    }
    .profile_main_cover img{
        width:100%;
        box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
        border-radius:10px 10px 0px 0px;
        height:202px;
    }
    .profile_image img
        {
        border-radius: 100%;
        padding: 5px;
        width: auto;
        margin: auto;
        background: white;
        height: 135px;
        position: absolute;
        top10px: -;
        box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
        bottom: -65px;
        left: 0;
        right: 0;
    }
    .profile_image{
        position: relative;
        width: 100%;
    }
    .profile_bio{
            margin-top: 80px;
        text-align: center;
    }
    .profile_bio h3{
        font-size: 30px;
    }
    .profile_bio h3,.profile_bio p{
    font-family: 'Pacifico', cursive;   
    }
    .btn_profile{
         position: absolute;
    }

    .btn_profile {
        position: absolute;
        background: #20a5ca;
        padding: 5px 10px;
        border: 0px;
        letter-spacing: 1px;
        border-radius: 5px;
        color: #fff;
        font-size: 12px;
        font-family: "Roboto", Sans-serif;
        cursor: pointer;    
    }
    .btn_messages{
        top:10px;
        left: 10px;
    }
    .btn_sze{
        font-size: 20px;
    }
    .btn_follow{
        top:48px;
        right: 10px;
    }
    .btn_cover{
        bottom: 0px;
        right: 55px;
        padding: 10px;
        background: #333;
        border-radius: 100%;
        font-size: 20px;
        border: 2px solid #fff;
        z-index: 2;
    }

.profile_photo_createpost img {
    width: 78%;
}

.m-add-photo i {
    font-size: 16px;
}

.m-add-photo span {
    font-size: 11px;
    bottom: -8px;
}

.input_lo {
    margin-bottom: 0;
}

}



/*
========================
Timeline All inline Css
========================
*/

.ifnotpost p{
    margin-top: 15px;
}
.ifnotpost{
    width:40%;
    margin: auto;
    background: #ffffff2e;
    padding: 20px 50px;
    border-radius: 3px;
    margin-top: 20px;
    font-size: 14px;
    box-shadow: 2px 1px 10px 0px #a29b9b78;
    text-align: center;
}

.button_green:hover{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78da9e, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78da9e, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button_green_event{ 
    right: 10px;
    text-decoration: none;
    top: 25px;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d80, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d80, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff !important;
    padding: 5px 15px;
    position: absolute;
    text-align: center;
    top: 15px;
    right: 0;
    width: 140px;
    font-size: 10px;
    cursor:pointer;
    box-shadow: 0px 0px 4px 1px #a29b9b;
}}

.button_green_event:hover{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78da9e, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78da9e, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button_green{
    right: 10px;
    top: 25px;
    text-decoration: none;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d80, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d80, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff !important;
    padding: 5px 15px;
    position: absolute;
    text-align: center;
    font-size: 10px;
    cursor:pointer;
    box-shadow: 0px 0px 4px 1px #a29b9b;
}}

    .looking_travil_desktop span {
        color: #f4f4f4;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }

    .create_event_desktop a,
    .looking_travil_desktop a {
        color: #fff !important;
        text-decoration: none;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }

    .for_vector_div_desktop,
    .for_name_div_desktop,
    .for_createevent_div_desktop,
    .for_looking_travel_div_desktop {
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        padding: 5px 15px;
        text-align: center;
        margin-left: 25px !important;
    }

    .for_createevent_div_desktop,
    .for_looking_travel_div_desktop {
        border: 2px solid #22b14c;
        background: #22b14c;
    }

    .Timelinewrap div.search input {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 20px;
        width: 100%;
    }

    .searchButton {
        top: 3px;
        left: -4px;
    }

    .table_main {
        border-spacing: 1px;
        padding: 9px 15px 0px 0px;
    }

    .row_table {
        display: table-row;
    }

    .for_name_div a {
        color: #000 !important;
    }

    .for_vector_div,
    .for_name_div,
    .for_createevent_div,
    .for_looking_travel_div {
        display: table-cell;
        vertical-align: middle;
        width: 0%;
        padding-left: 15px;
        text-align: center;
    }

    .create_event {
        text-align: center;
    }

    .looking_travil {
        text-align: center;
    }

    .looking_travil span {
        display: block;
    }

    .for_createevent_div,
    .for_looking_travel_div {
        border: 2px solid #22b14c;
        margin: 10px 18px;
    }

    .active_desktop {
        background: #f4f4f4;
        color: #000 !important;
    }

    .active_desktop a {
        color: #000 !important;
    }

    .active_desktop span {
        color: #333;
    }

    .for_looking_travel_div.looking-travel-friend {
        position: relative;
        left: 10px;
    }

    .notify_div {
        font-weight: bold;
        font-size: 10px;
    }

    .create_event a,
    .looking_travil a {
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        color: #22b14c;
        top: 0;
    }


    a.morelink {
        text-decoration: none;
        outline: none;
    }

    .more {
        font-size: 14px;
    }

    .morecontent span {
        display: none;
    }

    .content_mobile {
        padding: 12px 0px;
    }

    a,
    p,
    div,
    h1,
    h2,
    h3,
    h4,
    button,
    input {
        font-family: "Roboto", Sans-serif;
    }

    .buttons_for_mobilepost {
        padding: 5px;
        margin-top: 10px;
    }

    hr.style-mobile-six {
        border: 0;
        margin: 0px;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .mobile_agent_name a {
        font-weight: bold;
        color: #1d4354c9;
        text-decoration: none;
        text-transform: capitalize;
    }

    .for_img {
        text-align: center;
    }

    .post-content {
        border: 0px;
        border-top: 4px solid #138967;
        border-bottom: 11px solid #138967;
        box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
    }

    .post-content-txt {
        padding: 0 12px;
        font-size: 12px;
    }

    .for_img img {
        max-width: 80%;
        border-radius: 100%;
        padding: 2px;
        margin-top: 7px;
        border: 1px solid #b1b1b163;
    }

    .content_mobile p {
        margin: 0px;
    }

    .post_profile_img {
        float: left;
        width: 20%;
    }

    .header_user_content {
        float: right;
        width: 80%;
        padding-left: 10px;
    }

    .clearfix {
        clear: both;
    }

    .main_buttons_div div a {
        color: #808080d6;
        font-size: 12px;
    }

    .ShareDropdown li a {
        color: #000;
    }

    @media screen and (max-width: 600px) {
        .ifnotpost{ 
            width: 95%;
            padding: 19px 10px; 
        } 
        .event_text_icon{color: #000 !important;}
        .event_text_icon{width: 68% !important; }
        .iconsd_d{ 
            position: inherit !important;
            margin: 13px !important;
            padding: 10px 10px;
            width: 90% !important;
        }
        .w1{font-size: 9px !important;}
       
        .image_d{
            height: 65px !important;
        }
        .border_d{
            padding: 10px 0px !important;
        }
        .custom_photos{
            width: 100% !important;
        }
        .mytimepst{
            display: none;
        }
        .div_m{
            display: none;
        }

        .row {
            margin: 0px;
        }

        input,
        textarea,
        .mobile-button-link,
        .m-post1 a {
            font-family: "Roboto", Sans-serif;
        }

        .search input {
            font-size: 13px;
            z-index: 99999999999 !important;
        }

        div.pac-container {
            z-index: 99999999999 !important;
        }

        .looking_travil span {
            color: #22b14c;
            margin: 0 5px;
        }

        .search {
            padding: 0px;
            width: 100%;
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .search input {}

        .col-md-12 {
            padding: 0px;
        }

        .col-md-4 {
            padding: 0px;
        }

        #footer {
            display: none;
        }
    }

    #mobile-short-post-feeling-text {
        margin-left: 12px;
        font-size: 14px;
    }

    .like_mobile a {
        text-decoration: none;
    }

    i.liked {
        color: goldenrod;
    }

    .user-comment-area img {
        border-radius: 50px;
        position: relative;
        margin-left: 18px;
        width: 35px;
        height: 35px;
    }

    .user-comment-area input {
        width: 75%;
        border-radius: 5px;
        border: none;
        background-color: #f2f3f5;
        border: 1px solid #ccd0d5;
        border-radius: 16px;
        padding: 8px;
        font-size: 12px;
        position: relative;
        left: 10px;
        top: 2px;
    }

    .user-comment-area input:focus {
        outline: none;
    }

    .another-user-section a {
        font-size: 13px;
        margin: 0 10px 0px 3px;
    }

    .another-user-section span {
        font-size: 13px;
        margin: 0 10px 0px 3px;
    }

    .another-user-section {
        display: inline-block;
        background: #F2F3F5;
        padding: 7px;
        border-radius: 16px;
        margin: 0px 10px;
    }

    .submit-comment {
        display: none;
    }

    .mobile-pc-scetion {
        padding: 0px !important;
    }

    .mobile-pc-scetion a {
        left: 0px !important;
        color: #22b14c;
    }

    .mobile-pc-scetion a.friend-btn {
        background: #22B14C;
        color: #fff;
        padding: 5px 15px;
        border-radius: 3px;
        position: absolute;
        right: 14px;
        left: inherit;
        top: 10px;
        font-size: 14px;
    }

    video {
        height: 200px;
        width: 100%;
    }

    @media (min-width: 180px) and (max-width: 480px) {
        
        .comment_buttons {
            position: relative !important;
            display: table;
            bottom: 24px !important;
            margin: auto;
            position: inherit !important;
            right: auto !important;
        }
        .changes_for_mob {
            padding: 3px 8px !important;
            font-size: 10px !important;
            width: 79px !important;
            top: 8px !important;
            right: 30px !important;
        }
        .m-user-input input{
            font-size: 12px;
        }
        .m-post1 span{
            display: none;
        }
    }

    .for_looking_travel_div.active {
        background: #22b14c;
    }

    .for_looking_travel_div.active a {
        color: #fff;
    }

    .for_looking_travel_div.active span {
        color: #f4f4f4;
        font-size: 10px;
    }


        .event-tab {
        display: none;
    }

    .add-on {
        cursor: pointer;
    }

    #event-type-dropdown {
        cursor: pointer;
    }

    p {
        margin: 0px;
    }

    .width40 {
        width: 23%;
    }

    .width15 {
        text-align: center;
        font-size: 17px;
        color: grey;
        width: 13%;
    }

    .text-normal {
        color: grey;
    }

    .inline_t {
        display: inline-table;
        font-size: 12px;
        margin-left: 10px;
        vertical-align: middle;
    }

    .invite_connection_title,
    .event_type,
    .title_location {
        margin: 15px 0px;
    }

    .for_mututal {
        font-size: 12px;
        font-weight: bold
    }

    .for_mut_color {
        color: grey
    }

    .tokenize>.tokens-container {
        min-height: 65px;
        font-size: 15px;
    }

    .inputs_data {
        margin-top: 10px;
    }

    a,
    p,
    div,
    h1,
    h2,
    h3,
    h4,
    button,
    input {
        font-family: "Roboto", Sans-serif;
    }

    .shedule_event_main_wrapper {
        background: #fff;
        border: 1px solid #3333338a;
        margin-top: 10px;
    }

    .shedule_pageheading {
        position: relative;
        background: #F5F6F8;
        padding: 10px 5px;
        border-bottom: 1px solid #ccc6;
    }

    .content_row {
        padding: 15px;
    }

    .shedule_pageheading h1 {
        color: #000 !important;
        margin: 0px;
    }

    .shedule_pageheading span {
        font-size: 18px;
        position: absolute;
        right: 10px;
        top: 13px;
    }

    .event_name_shedule {
        display: inline-table;
        width: 20%;
    }

    #shedule_title {
        font-size: 14px;
    }

    .event_name_shedule p,
    .invite_connection_title p,
    .event_type p,
    .title_location p {
        font-size: 17px;
        margin: 0px;
        font-weight: bold;
    }

    .event_text_shedule {
        display: inline-table;
        width: 76%;
    }

    .event_text_shedule input {
        width: 60%;
    }

    .event-tour-package-row {
        margin-top: 10px;
    }

    .event-submit-row {
        text-align: right;
        border-top-style: solid;
        padding-top: 15px;
        margin-top: 15px;
        color: #dee1e4;
        border-width: 1px;
    }

    .event_display_table_cell img {
        width: 50px;
        height: 50px;
    }

    .event_display_table_cell {
        display: inline-table;
        width: 30%;
        vertical-align: middle;
    }

    .event_display_image_cell {
        display: inline-table;
        vertical-align: middle;
        width: 30%;
    }

    .event_display_image_cell p {
        margin: 0px;
        font-size: 20px;
        margin-left: 10px;
    }

    .event_button {
        width: 23%;
    }

    .event_button button {
        background: #b7b4b4a8;
        width: 100%;
        padding: 5px 0px;
        color: #6b6b6bb5;
    }

    .peoplegoing_fes {
        color: #0254EB;
    }

    .event_inner_div .btn-group {
        width: 100% !important;
    }

    .event_details p {
        margin: 0px;
    }

    .event_details {
        width: 60%;
    }

    .event_date {
        width: 10%;
    }

    .event_button,
    .event_details,
    .event_date {
        display: inline-table;
        vertical-align: middle;
    }

    .color_d_p {
        color: red;
    }

    .title_fes {
        color: #000;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .date_fes {
        font-weight: bold;
        color: #675c5cbf;
        font-size: 11px;
    }

    .cusomt_private_dropdown,
    .cusomt_private_dropdown .dropdown,
    .cusomt_private_dropdown .dropdown .btn {
        width: 100%;
        background: #f4f4f4;
        text-align: left;
    }

    .inline_t i {
        font-size: 23px;
    }

    .cusomt_private_dropdown .dropdown-menu li {
        margin-bottom: 10px;
        cursor: pointer;
    }

    .cusomt_private_dropdown .dropdown-menu {
        width: 100%;
    }

    .width_25 {
        display: inline-table;
        width: 25%;
        vertical-align: middle;
    }

    .width_69 {
        display: inline-table;
        vertical-align: middle;
        width: 69%;
    }

    .custom_round .btn {
        padding: 3px 10px !important;
    }

    .custom_round {
        background-size: cover;
        background-repeat: no-repeat;
        font-weight: bold;
        text-align: center;
        border: 1px solid #333;
        width: 55%;
        margin: auto;
        border-radius: 50%;
        padding: 34px 31px;
    }

    .text_dates {
        display: inline-table;
        vertical-align: middle;
    }

    .input-icon {
        position: absolute;
        right: 6px;
        color: #80808094;
        font-size: 20px;
        top: 7px;
        /* Keep icon in center of input, regardless of the input height */
    }

    .input-wrapper {
        position: relative;
    }

    .bootstrap-datetimepicker-widget ul {
        padding: 0px;
    }

    /* On screens that are 992px or less, set the background color to blue */
    @media screen and (max-width: 992px) {
        .width_69 {
            width: 59%;
        }

        .custom_round {
            width: 80%;
        }

        .input-icon {
            top: 2px;
        }

        .width_25,
        .width40 {
            width: 40%;
        }

        .cus {
            width: 100% !important;
        }
    }

    @media(max-width: 600px) {

        .event-tab {
            margin: 68px 0px;
        }

        .width_25,
        .width_69,
        .cus,
        .event_text_shedule,
        .event_name_shedule,
        .event_text_shedule input {
            width: 100% !important;
            margin-top: 10px;
        }

        .custom_round {
            width: 55%;
        }

        .dropdown {
            z-index: 1 !important;
        }

        .width40 {
            width: 40%;
        }

        .shedule_pageheading h1 {
            color: #000 !important;
            margin: 0px;
            font-size: 15px !important;
            margin-top: 11px;
            font-weight: bold;
        }

        .text_dates {
            font-size: 12px !important;
        }

        p,
        .text_dates {
            font-size: 11px !important;
        }

        .input-icon {
            font-size: 16px;
            top: 4px;
        }
    }



.ifnotpost a:hover{
    background:#1abc9c;
    color: #fff !important;
}
.ifnotpost a{ 
    font-weight: bold;
    box-shadow: 0px 0px 4px 1px #a29b9b78;
    padding: 5px 20px;
    margin-top: 15px;
    color: #000 !important;
    background: #fff;
}

.Search-DatePicker {
    display: none;
}
@media (min-width: 180px) and (max-width: 320px) {
    .Mytimelinef{
        top: 51%;
        left: 18.5%;
    }
    .button_area{margin-top: 10px !important;}
    .comment_buttons{
        font-size: 9px !important;
    }
    .comment_buttons{
        max-width: 80% !important;
    }
    .Mytimetags-p {
        top: 51.1%;
        left: 20%;
    }

    .Mypack {
        top: 56%;
        right: 20%;
    }
}
@media (min-width: 321px) and (max-width: 360px){
    .Mytimelinef{
        top: 50.6%;
        left: 18.5%;
    }
    .Mytimetags-p {
        top: 52.8%;
        left: 18.5%;
    }
    .Mypack {
        top: 55%;
        right: 26%;
    }
}
@media (min-width: 361px) and (max-width: 375px){
    .Mytimelinef{
        top: 50.2%;
        left: 18.5%;
    }
    .Mytimetags-p {
        top: 50.3%;
        left: 18%;
    }
    .Mypack {
        top: 55%;
        right: 30%;
    }
}
@media (min-width: 376px) and (max-width: 414px){
    .Mytimelinef{
        top: 49.6%;
        left: 16.5%;
    }
    .Mytimetags-p {
        top: 52%;
        left: 16.5%;
    }
    .Mypack {
        top: 54.3%;
        right: 36%;
    }
}

.container_2 .col-md-4{
    padding: 0px;
}



.looking-travel-friend_desktop i.fas.fa-circle {
    margin-top: 13px;
    font-size: 20px;
    color: white;
}
.looking-travel-friend_desktop i.far.fa-check-circle {
    display: none;
    margin-top: 7px;
    font-size: 20px;
    color: #3f48cc;
}
.looking_travil_desktop span {
    color: #f4f4f4;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.active_desktop span {
    color: #333;
}
.another-user-section span {
    word-break: break-word;
}
.user-comment-area {
    margin-bottom: 10px;
    display: flex;
}

.for_bg_cr{
    background: #fafafa
}

input#short-post-location-mobile {
    background: #fafafa;
    border: 0px !important;
    color: #000 !important;
    padding: 10px;
    box-shadow: none !important;
    width: 100%;
}
.pac-container{
    width: 90% !important; 
}
.row1_col_2,.row1_col_1{
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}


.div_trave{
    width: 85%;
    background: #00aff0;
    font-size: 13px;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}
.div_mobile_travel span{
    color: #f4f4f4c4;
}
.div_mobile_travel{
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}
.trav_checkbox{
    width: 24%;
    vertical-align: middle;
    display: inline-block;
}
.for_remove_ad{
    padding-left: 0px !important;
    padding-right:0px !important; 
}

#opta[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}
.checkboxtext
{
  display: inline;
    padding: 6px;
    font-size: 21px;
}

.date-container {
    padding: 0px 10px;
}
.image_d{
    width: 23%;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    height: 100px;
    background:red; 
}


.image_1{
    cursor: pointer;
}

.custom_photos{
    width: 45%;
    display: inline-block;
}

.add_img{
    background: #fff;
    padding: 3px;
    border-radius: 2px;
    cursor: pointer;
}
.border_d {
    border: 2px dashed #ccc;
    height: 100%;
    padding: 25px 0px;
    font-size: 25px;
    color: #ccc;
    vertical-align: middle;
}
.text_and_image_div{
    padding-bottom: 10px;
}
.text_after_upload{
    width:48%;
    display: inline-block;
    vertical-align:middle
}



.iconsd,.iconsd_d{
    display: inline-block;
    vertical-align: middle;
}
.for_r{
    display: inline-block;
    vertical-align: middle;
}

.cr_event label{
    margin: 0px;
    cursor: pointer;
    width: 100%;
    padding: 5px 5px;
}
.icon2{
    padding: 5px 5px;
}
.row2{
    margin-top: 12px;
}
.icon2,.icon3,.icon4,.icon5,.icon6{
    background: #128462;
    margin: 1px;
    width: 11%;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px #0a0909ab;
    border-radius: 3px;
}


.icon2:hover,.icon3:hover,.icon4:hover,.icon5:hover,.icon6:hover{
    background: #22b14c !important;
    transition:1s ease;
}
.event_image_icon,.event_text_icon{
    color: #fff;
}
.event_check_icon{
    cursor: pointer;
    width: 15%;
}
.iconsd.icon3 {
    cursor: pointer;
    width: 13%;
}
.event_image_icon{
    width: 20%;
    cursor: pointer;
    font-size: 17px;
}
.icon2{
    width: 9%;
}
.cr_vd .event_text_icon{
    width: 70%;
    cursor: pointer;
}
.event_text_icon p{
    font-family: 'Heebo', sans-serif !important;
}
.iconsd.icon1 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    color: #000;
} 
.event_text_icon{
    width: 55%;
    font-size: 10px;
    cursor: pointer;
}
.cr_vd .event_text_icon { 
    width: 75%;
    cursor: pointer;
    padding: 0px 5px;
} 
.event_check_icon input[type="radio"] {
    cursor: pointer;
}
.cold hr{
    background: #8cfffa;
    width: 75%;
    height: 1px;
} 
.cold{ 
    display: inline-block;
    width: 32.5%;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
}

.col_tr2 h3{
    font-weight: bold;
    font-size: 23px;
    margin: 0px;
} 

.icon22,.icon33,.icon44,.icon55,.icon66{
    background: #8cfffa;
    margin: 1px;
    margin: auto;
    margin-top: 7px;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px #0a090945;
    border-radius: 3px;
}

.icon22 .event_image_icon,.icon33 .event_image_icon,.icon44 .event_image_icon,.icon55 .event_image_icon,.icon66 .event_image_icon{
    color: #000;
}
.event_text_icon{
    color: #fff;
}
.cent_d{
    text-align: center;
}

.icon_m{
    background: #fff;
    text-align: center;
    width: 10%;
}
.size_m{
    padding-left: 10px;
}
.size_m p{
    font-size: 13px !important;
    font-weight: bold;
}

.cent_d input[type="radio"] {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 2em;
}
.travmatch_wrapper{
    width: 100%;
}

.trvmatch_heading{
    margin: 10px 0px;
}

.p-mess-area{
    background: #0ca0de !important;
}
#connect_button_connected a{
    color: #000 !important;
}
#connect_button_connected{
    background: #cacaca !important;
        border: 0px;
}


.iconsd_d {
    width: 12%;
    box-shadow: 1px 1px 2px 1px #0a090926;
    background: white;
    padding: 4px 10px;
    border-radius: 5px;
    position: absolute;
    right: 40px;
}

.dis_b {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    margin: auto;
    height: 18px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
} 

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.w1{width: 50%; font-size: 12px !important;}
//.w2{width: 55%;text-align: center;}
.w3{width: 45%;text-align: right;}

.dis_b.w2 {
    color: #afa5a5;
}
.iconsd_d{
    //display: none !important;
}

.blog-brand {
    height: 46px;
    margin: 5px 0px 8px 5px;
}
.looking-travel-friend_desktop {
    display: inline;
}

.looking-travel-friend {
    width: 90%;
    margin: auto;
}


.btn_profile_con i {
        font-size: 13px !important;
        padding-right: 3px;
        margin-right: 0px !important;
        padding-left: 0px !important;
    }
    .btn_profile_con {
        width: 90%;
        background: #008a66;
        padding:5px;
        border: 0px;
        letter-spacing: 1px;
        border-radius: 2px;
        color: #fff;
        line-height: 11px;
        font-size: 11px;
        font-family: "Roboto", Sans-serif;
        cursor: pointer;
    }

    .btn_profile_con i {
        font-size: 13px !important;
        padding-right: 3px;
        margin-right: 0px !important;
        padding-left: 0px !important;
    }
    .btn_profile_con a{
        text-decoration: none;
        color: #fff;
    }
   .btn_follow a{
    color: #fff;
    text-decoration: none;
   }
   .btn_follow {
    top: 0px;
    }
   .btn_follow{
        width: 130px;
        background: #008a66;
        padding: 9px 10px;
        border: 0px;
        letter-spacing: 1px;
        right: 13px;
        border-radius: 5px;
        color: #fff;
        font-size: 13px;
        font-family: "Roboto", Sans-serif;
        cursor: pointer;
    }
    .btn_profile_con:hover{
        background-color: #22b14c !important;
    }


    .rm_d{
    padding: 0px !important;
       display: inline-block;
    vertical-align: middle;
 }
 .connect_button_sent {
    background: #dad8d8 !important;
    color: #000 !important;
    font-weight: bold;
    line-height: 10px;
}
 
 .connect_button_sent a{
    text-decoration: none;
    color: #000 !important;
 }

 .bg_suggestion{
    padding: 10px;
    background: #fff;
    margin-top: 10px;
 }

.people_nme{
    padding: 10px;
}
 .people_nme a {
    color: #000;
    text-transform: capitalize;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

.people_div{
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
    min-height: 217px !important;
    position: relative;
}

.people_div:hover .custom_btn_times{
    display: block;
    transition:1s ease;
}

.people_img{
    position: relative;
}
 .custom_btn_times:hover{
    color: #fff;
 }
 .custom_btn_times{
    position: absolute;
    display: none;
    top: 2px;
    right: 2px;
    background: #0000008c;
    border-radius: 100%;
    color: #fff;
    padding: 1px 5px;
}
.people_btn {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.owl_items{
    position: relative;
}
.customNextBtn{
    width: 30px;
    border-radius: 100%;
    height: 30px;
    position: absolute;
    top: 50%;
    z-index: 200;
    right: -6px;
    outline: none ;
    -webkit-transform: translateY(-50%);
    background: #008a66;
    color: #fff;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.customPreBtn{
    outline: none ;
    width: 30px;
    left: -6px;
    background: #008a66;
    color: #fff;
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 30px;
    position: absolute;
    top: 50%;
    z-index: 200;
}

.btn_profile_con a{
    text-decoration: none;
    color: #fff;
}

.comment_main_div{display: none;}


.feed-post-video video{
	max-height: 80vh !important;
}
@media(max-width:576px){
.feed-post-video video{
	max-height:300px !important;
}	
}

.button-link a:hover{
   background-color:#2eb94e ;
}

div.nsl-container .nsl-button-default div.nsl-button-label-container{
    font-size: 15px !important;
}