/*
========================
Preloader Css
========================
*/

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}

/* Demo colors */
.demo-1 {
  background: #ef6e7e;
}
.demo-1 a {
  color: #be4856;
}
.demo-2 {
  background: #72d0f4;
}
.demo-2 a {
  color: #1c9ccd;
}

/* Header */
.codrops-header {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}
.codrops-header h1 {
  margin: 0;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.3;
}
.codrops-header h1 span {
  display: block;
  padding: 0 0 0.6em 0.1em;
  font-size: 60%;
  opacity: 0.7;
}
/* To Navigation Style */
.codrops-top {
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.69em;
  line-height: 2.2;
}
.codrops-top a {
  display: inline-block;
  padding: 2em;
  text-decoration: none;
  letter-spacing: 1px;
}
.codrops-top span.right {
  float: right;
}
.codrops-top span.right a {
  display: block;
  float: left;
}
.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}
.codrops-icon-drop:before {
  content: "\e001";
}
.codrops-icon-prev:before {
  content: "\e004";
}
/* Demo Buttons Style */
.codrops-demos {
  padding: 2em 0 1em;
  font-size: 0.8em;
  text-align: center;
}
.codrops-demos a {
  display: inline-block;
  margin: 0.5em 0.75em;
  line-height: 1.5;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.codrops-demos a.current-demo {
  color: inherit;
}
/* Related demos */
.related {
  padding: 4em 0 3em;
}
.related p {
  font-size: 1.25em;
  font-weight: 700;
}
.related > a {
  border: 2px solid #000;
  border-color: initial;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
  padding: 25px;
}
.related a img {
  max-width: 100%;
  opacity: 0.8;
}
.related a:hover img,
.related a:active img {
  opacity: 1;
}
.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-align: left;
}
/* Demo ad design */
body #cdawrap {
  background: none;
  top: 50px;
  opacity: 0;
  -webkit-transition: opacity 0.3s 1.2s;
  transition: opacity 0.3s 1.2s;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body #cdawrap a {
  color: #fff !important;
}
body .loaded ~ #cdawrap {
  opacity: 1;
}
body #cdawrap #cda-remove {
  top: 20px;
  right: 25px;
  width: 20px;
  height: 20px;
  opacity: 0;
}
body #cdawrap:hover #cda-remove {
  opacity: 1;
}
@media screen and (max-width: 35em) {
  .codrops-icon span {
    display: none;
  }
}
.ip-header {
    position: fixed;
    top: 0;
    z-index: 999999;
    min-height: 480px;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
}
.ip-header h1 {
  margin: 0;
}
.ip-logo,
.ip-loader {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
.ip-logo {
  top: 0;
  height: 100%;
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}
.ip-loader {
  bottom: 20%;
}
.ip-header .ip-inner {
  display: block;
  margin: 0 auto;
}
.ip-header .ip-logo svg {
  min-width: 320px;
  max-width: 480px;
  width: 25%;
}
.ip-header .ip-logo svg path {
  fill: #ef6e7e;
}
.ip-header .ip-loader svg path {
  fill: none;
  stroke-width: 6;
}
.ip-header .ip-loader svg path.ip-loader-circlebg {
  stroke: #ddd;
}
.ip-header .ip-loader svg path.ip-loader-circle {
  -webkit-transition: stroke-dashoffset 0.2s;
  transition: stroke-dashoffset 0.2s;
  stroke: #ef6e7e;
}
/* Content */
.ip-main {
  overflow: hidden;
  margin: 0 auto;
  padding: 160px 0 10em 0;
  max-width: 1100px;
  width: 90%;
}
.ip-main h2 {
  margin: 0;
  padding: 0.5em 0 1em;
  color: #be4856;
  text-align: center;
  font-size: 4.25em;
  font-size: 4vw;
  line-height: 1;
}
.browser {
  margin: 0 auto;
  padding-top: 8%;
  min-height: 400px;
  max-width: 1000px;
  width: 100%;
  border-radius: 8px;
/*  background: #fff url(../img/browser.png) no-repeat 50% 0;*/
  background-size: 100%;
  color: #d3d3d3;
}
.box {
  float: left;
  padding: 3.5em;
  width: 33.3%;
  font-size: 0.7em;
  line-height: 1.5;
}
.box p {
  font-family: 'Blokk', Arial, sans-serif;
}
[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  background: #dfdfdf;
  color: #fff;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 5em;
  font-family: 'feather';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bell:before {
  content: "\e006";
}
.icon-cog:before {
  content: "\e023";
}
.icon-heart:before {
  content: "\e024";
}
/* Animations */
/* Initial animation of header elements */
.loading .ip-logo,
.loading .ip-loader {
  opacity: 1;
  -webkit-animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
}
.loading .ip-loader {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
  }
}
@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0);
  }
}
/* Header elements when loading finishes */
.loaded .ip-logo,
.loaded .ip-loader {
  opacity: 1;
}
.loaded .ip-logo {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
  }
}
@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
  }
}
.loaded .ip-loader {
  -webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
  }
}
@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
  }
}
/* Change the color of the logo */
.loaded .ip-logo svg path {
  -webkit-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  fill: #fff;
}
/* Header animation when loading finishes */
.loaded .ip-header {
  -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
  }
}
@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
/* Content animations */
.loaded .ip-main h2,
.loaded .ip-main .browser,
.loaded .ip-main .browser .box,
.loaded .codrops-demos {
  -webkit-animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
}
.loaded .ip-main .browser,
.loaded .ip-main .browser .box:first-child {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loaded .ip-main .browser .box:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.loaded .ip-main .browser .box:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
  }
}
@keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}
/* Change layout class for header */
.layout-switch .ip-header {
  position: absolute;
}
/* No JS */
.no-js .ip-header {
  position: relative;
  min-height: 0px;
}
.no-js .ip-header .ip-logo {
  margin-top: 20px;
  height: 180px;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
.no-js .ip-header .ip-logo svg path {
  fill: #fff;
}
/* Media queries */
@media screen and (max-width: 45em) {
  .ip-main h2 {
    font-size: 2.25em;
    font-size: 10vw;
  }
  .box {
    width: 100%%;
  }
}


/*
========================
End Preloader Css
========================
*/
.photoandvideos img {
    width: 100%;
}


/* Start Post Share Css*/
    .ShareDropdown{
        position: absolute;
        background-color: white!important;
        min-width: 190px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000!important;
        border: 1px solid #ddd;
        margin-top: 4px;
        display: none;
    }

    .ShareDropdown li{
        display: block;
        margin: 5px;
        font-size: 16px;
      padding: 0 7px;
    }   

    .ShareDropdown li a{

    }

    .ShareDropdown li:hover{
        background: #1ABC9C;
        color:#fff;
        cursor: pointer;
    }   

    .ShareDropdown li:hover a{
        color:#fff;
    }

    .ShareDropdown li:hover a i{
        color:#fff;
    }

    .ShareDropdown li a i:hover{
        color:#fff;
    }

    .ShareDropdown::before{
        content: "";
        position: absolute;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 9px solid #ffffff;
        top: -6px;
        left: 5px;
        z-index: 9999;
        right: inherit;
    }

    .ShareDropdown::after{
        content: "";
        position: absolute;
        width: 10px;    
        height: 10px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 8px solid #ddd;
        top: -10px;
        left: 5px;
    }

    .ShareDropdown li.mores{
        text-align: center;
        border-top: 1px solid #ddd;
        margin: 0;
    }

    .show {display: block!important;}
  .showM2 {display: block!important;}
  .showM3 {display: block!important;}

/* End Post Share Css*/


/* Start Post Delete Css*/

.PostDelete{
    position: absolute;
    background-color: white!important;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000!important;
    border: 1px solid #ddd;
    margin-top: 4px;
    top: 25px;
    right: 15px;
    left: inherit;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background: inherit;
}

.PostDelete li {
    display: block;
    margin: 5px;
}

.PostDelete li a {
    padding: 3px;
    color: #444;
    text-decoration: none;
    font-size: 15px;
}

.PostDelete li:hover a {
    color: #fff;
}

.PostDelete li:hover {
    background: #1ABC9C;
    color: #fff;
    cursor: pointer;
}

.PostDelete::before {
    content: "";
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 9px solid #ffffff;
    top: -6px;
    right: 5px;
    z-index: 9999;
}

.PostDelete::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #ddd;
    top: -10px;
    right: 5px;
}

.show2{
    display: block!important;
}
/* End Post Delete Css*/





    .post_image {
        text-align: center;
    }
    .editprofile_mobile a:visited {
        color: #000 !important;
    } 
    .post_for_mobile {
        display: none;
    }

    .post_image img {
        max-width: 100%
    }

    .post_image video {
        width: 100%;
    }

    .header_user_content {
        float: right;
        width: 80%;
        padding-left: 10px;
        position: relative;
    }

    .mobile_post_container {
        background: #fff;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
        padding: 5px 10px;
        box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
    }

    .post_profile_img {
        float: left;
        width: 20%;
    }

    .clearfix {
        clear: both;
    }

    .for_img img {
        max-width: 100%;
        border-radius: 100%;
        padding: 2px;
        margin-top: 7px;
        border: 1px solid #b1b1b163;
    }

    .Filling-section {
        background-color: #f7f7f7;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: auto;
        max-width: 340px;
        min-height: 100px;
        vertical-align: middle;
        width: 60%;
        position: relative;
        border-radius: 8px;


    }

    .Fill-header-top {
        border-bottom: 1px solid #ddd;
        text-align: right;
    }

    .Fill-header-top i {
        padding: 10px;
        font-size: 20px;
        color: #dc3545;
        cursor: pointer;
    }

    .filing-section-main form select {
        display: block;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 0;
        width: 100%;
        border: none;
    }

    .filing-section-main form select.active {
        overflow: hidden;
        color: #fff;
    }

    .filing-section-main select option.active {
        background: #1ABC9C;
        color: #fff;
    }

    .filing-section-main form select i {
        font-size: 20px;
        color: #FBD771;
        margin-right: 15px;
        position: relative;
        top: 3px;
    }

    .feeling {
        position: absolute;
        top: 40.6%;
        left: 37.5%;
        z-index: 99999;
        display: none
    }

    select {
        -webkit-appearance: none;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: orange;
        font-size: 20px
    }

    select.active {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }

    span.font-icon-s {
        color: orange;
    }

    .filing-section-main select option {
        padding: 10px;
        color: #000;
        border-bottom: 1px solid #ececec;
    }


    .filing-section-main select:focus {
        outline: none;
    }

    form.form-emoji select option i {
        color: orange;
    }

    h4.elementor-icon-box-title {
        margin-top: 10px;
    }

    @media screen and (max-width: 600px) {
        .timeline_for_mobile {
            display: block;
        }

        .post-ph-ac-tour-tag {
            display: none !important;
        }

        .timeline_for_desktop {
            display: none;
        }
    }

    .mytimepst {
        padding: 15px 20px !important;
    }

    .t-box-icon {
        background-color: #1abc9c;
        display: inline-block;
        color: #fff;
        font-size: 20px;
        border-radius: 50%;
        padding: 8px;
        margin-right: 5px;
    }

    strong.interested-txt {
        display: block;
    }

    i.fas.fa-globe-europe {
        font-size: 18px;
        margin-right: 10px;
        padding-left: 10px;
        color: #a8c5e5;
    }

    .tra_expr strong {
        font-size: 16px
    }

    .tra_expr {
        border-bottom: solid 1px grey;
    }

    .in_dest {
        display: flex;
        margin-top: 10px;
        border-bottom: solid 1px grey;
    }

    i.fas.fa-map-marker-alt {
        font-size: 18px;
        margin-right: 10px;
        color: #4484cd;
    }

    i.far.fa-thumbs-up {
        font-size: 16px;
        padding-left: 10px;
        margin-right: 10px;
    }

    i.fas.fa-user-plus {
        font-size: 18px;
        margin-right: 10px;
        padding-left: 10px;
    }

    .in_dest strong {
        font-size: 16px
    }

    .follow-buttom strong {
        font-size: 16px
    }

    .follow-buttom {
        margin-top: 10px;
        border-bottom: solid 1px grey;
    }

    i.far.fa-comment-dots {
        font-size: 18px;
        margin-right: 10px;
        padding-left: 10px;
    }

    strong.feedback-txt {
        display: block;
        font-size: 16px;
    }

    .feed-star-display {
        margin-top: 10px;
    }

    .tr_in_fo_fe {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mobile-popup-test2 {
        display: none;
    }

    .btn-myTPost {
        margin-left: 10px;
    }

    .another-user-section a {
        font-size: 16px;
        margin: 0 10px 0px 3px;
    }

    .another-user-section span {
        font-size: 16px;
        margin: 0 10px 0px 3px;
    }

    .user-2 {
        padding-top: 10px;
    }

    .social-area-ul ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-left: 50px;
        position: relative;
        bottom: 1px;
    }

    li.span-thumbs {
        padding: 0 !important;
    }

    .social-area-ul ul li {
        display: inline-block;
        padding: 0 6px;
        font-size: 13px;
    }

    .social-area-ul ul li a {
        color: #606770
    }

    .another-user-section {
        display: inline-block;
        background: #F2F3F5;
        padding: 8px;
        border-radius: 20px;
        margin: 0px 10px;
    }

    .more-comments a {
        font-size: 14px;
        position: relative;
        top: 5px;
        right: 5px;
    }

    .user-top {
        border-top: 1px solid #ccd0d5;
        width: 100%;
        position: absolute;
        left: 0;
    }

    .user-comment-area {
        position: relative;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    .user-comment-area img {
        border-radius: 50px;
        position: relative;
        width: 35px;
        bottom: 1px;
        height: 35px;
    }

    .user-comment-area input {
        width: 94%;
        border-radius: 5px;
        border: none;
        background-color: #f2f3f5;
        border: 1px solid #ccd0d5;
        border-radius: 16px;
        padding: 8px;
        font-size: 14px;
        position: relative;
        left: 10px;
        top: 2px;
    }

    .user-comment-area input:focus {
        outline: none;
    }

    .post-main-section {
        margin-top: 30px;
        background: #FFF;
        padding: 10px;
        position: relative;
        border: 1px solid #a9a9a9;
    }



    span.notify {
        background: red !important;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 900;
        padding: 0px 5px;
        position: relative;
        height: 22px;
        width: 21px;
        margin: 0;
        padding: 0;
        right: 7px;
        bottom: 5px;
        text-align: center;
        line-height: 23px;
    }

    .mytimelinewrap {
        border: 1px solid #000;
        box-sizing: border-box;
    }

    .mtsection2left {
        width: 20%;
        float: left;
    }

    .mtsection2right {
        width: 80%;
        float: right;
    }

    /*Input Style*/

    .photo-video {
        width: 100px;
        overflow: hidden;
    }

    .photo-video input:hover {
        opacity: inherit !important;
    }

    .photo-video input {
        cursor: pointer;
    }

    .photo-video input:focus {
        outline: none;
    }

    .Photo-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .Photo-file-input::before {
        content: 'Photo/Video';
        display: inline-block;
        color: #1abc9c;
    }

    /*End Input Style*/

    .elementor-star-rating i:before {
        content: "\e934";
        display: block;
        font-size: inherit;
        font-family: inherit;
        position: absolute;
        overflow: hidden;
        color: #f0ad4e;
        top: 0;
        left: 0;
    }

    .elementor-star-rating i {
        display: inline-block;
        position: relative;
        font-style: normal;
        cursor: default;
    }

    .elementor-star-rating {
        color: #ccd6df;
        font-family: eicons;
        display: inline-block;
    }

    .elementor-22017 .elementor-element.elementor-element-4d74689>.elementor-element-populated {
        border-style: solid;
        border-width: 0px 1px 1px 0px;
        border-color: #686868;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    }

    .elementor-22017 .elementor-element.elementor-element-986189b {
        width: 20%;
    }

    .elementor-22017 .elementor-element.elementor-element-f7d7811 {
        width: 80%;
    }

    .elementor-element.elementor-element-986189b.elementor-column.elementor-col-50.elementor-top-column {
        width: 20%;
        border-right: 1px solid #000;
    }

    .elementor-element.elementor-element-f7d7811.elementor-column.elementor-col-50.elementor-top-column {
        width: 80%;
    }

    .elementor-column-wrapsec3 .elementor-column-wrapsec3right {
        background-color: #1abc9c;
        color: #fff;
    }

    .text-area2 textarea {
        color: grey;
        font-size: 17px;
        border-radius: 5px;
        width: 100%;
        height: 65px;
        padding: 8px 15px;
    }

    .text-area2 {
        padding: 0px 0px 0px 10px;
    }



    .text-area2 textarea:focus {
        outline: none;
    }

    .search {
        width: 100%;
        position: relative;
        display: flex;
    }

    .search input {
        height: 36px
    }

    .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 5px;
        height: 25px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }

    .searchTerm:focus {
        color: #00B4CC;
    }

    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #129077;
        background: #1abc9c;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    /*Resize the wrap to see the search bar change!*/
    .wrap {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .feedback-area h4 {
        display: inline-block;
        margin-right: 10px;
        color: #7a7a7a;
        font-family: "Roboto", Sans-serif;
        font-weight: 400;
        position: relative;
        top: 2px
    }

    span.stat-f {
        color: #7a7a7a;
        font-family: "Roboto", Sans-serif;
        font-weight: 400;
        position: relative;
        left: 2px;
        top: 1px;
    }

    .elementor-column-wrapsec3right .wrap {
        position: static;
        display: block;
        transition: none;
        transform: none;
        padding: 0;
    }

    .elementor-column-wrapsec3right .search {
        padding: 0;
    }

    .searchtopmt {
        margin-bottom: 0 !important;
    }

    .elementor-22017 .elementor-element.elementor-element-986189b>.elementor-element-populated {
        border-style: solid;
        border-width: 0px 1px 0px 0px;
        border-color: #686868;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    }

    .sec3iconslist .elementor-widget-container {
        background-color: #efefef;
        border-radius: 20px 20px 20px 20px;
    }

    .sec3iconslist .elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
        background-color: #508278;
        font-size: 20px;
        width: 100%;
        text-align: center;
        border-radius: 50%;
    }

    .sec3iconslist .elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-title {
        color: #1abc9c;
        font-family: "Roboto", Sans-serif;
        font-weight: 600;
    }

    .collasticonlist .elementor-widget-container {
        background-color: transparent;
    }

    .collasticonlist .elementor-widget-button a.elementor-button,
    .collasticonlist .elementor-widget-button .elementor-button {
        font-family: "Roboto", Sans-serif;
        background-color: #1abc9c;
        padding: 12px 24px;
        color: #fff;
        font-size: 15px;
        border-radius: 4px;
        font-weight: bold;
        display: inline-block;

    }

    a.add_p {
        float: right;
        position: relative;
        bottom: 1px;
    }

    .post-profile-area {
        display: inline-block;
        ;
        padding: 10px;
        position: relative;
    }

    .post-profile-area img {
        width: 40px;
        border-radius: 50%;
        display: inline-block;
    }

    .post-profile-area h5 {
        display: inline-block;
        font-weight: 600;
        position: relative;
        left: 5px;
        bottom: 8px;
        color: #000;
    }

    .post-profile-area h5 a {
        color: #000;
    }

    .post-profile-area span {
        position: absolute;
        left: 57px;
        top: 27px;
        font-size: 13px;
        display: inline-block;
    }


    .post-profile-area i.fa-globe-asia {
        position: relative;
        right: 35px;
        top: 8px;
    }

    .right-section-dot {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .right-section-dot i.fa-ellipsis-h{
        color: #8c8c8c;
        font-size: 15px;
    }

    .profile-content h2 {
        padding: 10px;
        color: #444 !important;
        font-size: 22px !important;

    }

    .post-share-area {
        padding: 0px 10px
    }

    .like-area,
    .follow-area,
    .comment-area,
    .share-area {
        display: inline-block;
        padding: 10px;
        width: 24%;
        font-size: 16px;

    }

    .share-area{
      position: relative;
    }

    .like-area i,
    .follow-area i,
    .comment-area i,
    .share-area i {
        color: #444;
    }

    .like-area a,
    .follow-area a,
    .comment-area a,
    .share-area a {
        color: #444;
        text-decoration: none;
    }

    .like_mobile a {
        text-decoration: none;
    }

    i.liked {
        color: goldenrod;
    }

    .elementor-element.elementor-element-7aa27be.elementor-column.elementor-col-50.elementor-top-column {
        width: 30%;
        border-right: 1px solid #000;
    }

    .elementor-element.elementor-element-36e06d8.timelinecontentwrap.elementor-column.elementor-col-50.elementor-top-column {
        width: 70%;
    }

    .elementor-element.elementor-element-b282f6a.elementor-column.elementor-col-50.elementor-top-column {
        width: 30%;
        border-right: 1px solid #000;
        border-top: 1px solid #000;
    }

    .elementor-element.elementor-element-cba43e9.zhide.elementor-column.elementor-col-50.elementor-top-column {
        width: 70%;
    }

    .elementor-element.elementor-element-d4b9cb2.elementor-column.elementor-col-50.elementor-top-column {
        width: 30%;
        border-right: 1px solid #000;
        border-top: 1px solid #000;
    }

    .elementor-element.elementor-element-7a12a05.zhide.elementor-column.elementor-col-50.elementor-top-column {
        width: 70%;
    }

    .elementor-widget-wrap-sec2 {
        padding: 10px;
    }

    .elementor-column-wrapsec2 {
        padding: 10px;
    }

    .elementor-col-20 {
        width: 20%;
    }

    .sec3iconslist .elementor-widget-wrap {
        display: flex;
    }

    .sec3iconslist .elementor-widget-wrap>.elementor-element {
        width: 100%;
    }

    .elementor-widget-container.my-tour-pack {
        width: 183px;
    }

    .sec3iconslist .elementor-icon-box-wrapper {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        display: flex;
    }

    .sec3iconslist .elementor-icon-box-icon {
        line-height: 35px;
        margin-right: 6px;
        border-radius: 50%;
        display: inline-flex;
        width: 35px;
        height: 35px;
        font-size: 20px;
        color: #fff;
    }

    .elementor-element.elementor-element-b0e149c.elementor-column.elementor-col-20.elementor-top-column.collasticonlist {
        text-align: right;
        width: 10%;
    }

    .post-ph-ac-tour-tag {
        display: none;
    }

    h2.social-rev {
        color: black !important;
        font-size: 25px !important;
        text-align: center;
    }

    .s_star {
        text-align: center;
    }

    h2.follow-time {
        color: black !important;
        font-size: 25px !important;
        text-align: center;
    }

    i.far.fa-star {
        font-size: 15px;
        color: orange;
    }

    i.fas.fa-star {
        font-size: 15px;
        color: orange;
    }

    i.fas.fa-star-half-alt {
        font-size: 15px;
        color: orange;
    }

    .elementor-star-rating {
        text-align: center;
    }

    .elementor-element-populatedsec.social-follow-pos {
        margin-top: 70px;
    }

    .feed-star-display {
        display: flex;
    }

    .f-star {
        margin-top: 6px;
        margin-left: 10px;
    }

    .box_size_pftm {
        height: 35px;
    }

    .post_button input[type="Submit"] {
        border: 1px solid #508278;
        background: #508278;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
    }

    .elementor-button-wrapper.post_button {
        margin-right: -60px;
    }

    .elementor-column-wrapsec3 {
        border-bottom: solid 1px black;
    }

    .hover_bkgr_fricc {
        display: none;
        height: 100%;
        position: absolute;
        text-align: center;
        top: 47px;
        left: 16%;
        width: 60%;
        z-index: 10000;
    }

    .hover_bkgr_fricc .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .hover_bkgr_fricc>div {
        background-color: #fff;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: auto;
        max-width: 340px;
        min-height: 100px;
        vertical-align: middle;
        width: 60%;
        position: relative;
        border-radius: 8px;
        padding: 15px 5%;
    }

    .popupClose-feeling {
        background-color: #d44343;
        cursor: pointer;
        display: inline-block;
        font-family: arial;
        font-weight: bold;
        position: absolute;
        top: 1px;
        right: 5px;
        font-size: 15px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
    }

    .popupClose-feeling:hover {
        background-color: #ccc;
    }

    .feeling-popup {
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
    }

    .popupClose-tags {
        background-color: #d44343;
        cursor: pointer;
        display: inline-block;
        font-family: arial;
        font-weight: bold;
        position: absolute;
        top: 1px;
        right: 5px;
        font-size: 15px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
    }

    .popupClose-tags:hover {
        background-color: #ccc;
    }

    .tags-popup {
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
    }

    .popupClose-tourpackages {
        background-color: #d44343;
        cursor: pointer;
        display: inline-block;
        font-family: arial;
        font-weight: bold;
        position: absolute;
        top: 1px;
        right: 5px;
        font-size: 15px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
    }

    .popupClose-tourpackages:hover {
        background-color: #ccc;
    }

    .tourpackages-popup {
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
    }


    .feel_icon {
        color: #da8910;
        font-size: 20px;
    }

    .feel_text {
        color: black;
        margin-left: 20px;
        font-size: 15px;
    }

    .feel_display {
        display: flex;
        /* border: solid 1px grey;*/
        padding-top: 10px;
        cursor: pointer;
    }

    .hover_bkgr_fricc.pop-feeling {
        top: -61px;
    }

    .hover_bkgr_fricc.pop-tags {
        top: -50px;
        left: 29%;
    }

    .hover_bkgr_fricc.pop-tourpackages {
        top: -28px;
        left: 47%;
    }

    .feel_display:hover {
        background: #a1a1dc;
    }

    .feel_text:hover {
        color: #efefef;
    }

    p.sugg {
        color: black;
        float: left;
        font-size: 13px;
    }

    @media only screen and (max-width: 767px) {

        .elementor-element.elementor-element-986189b.elementor-column.elementor-col-50.elementor-top-column {
            width: 100%;
            border-right: none;
        }

        .elementor-element.elementor-element-f7d7811.elementor-column.elementor-col-50.elementor-top-column {
            width: 100%;
        }

        .elementor-element.elementor-element-7aa27be.elementor-column.elementor-col-50.elementor-top-column {
            width: 100%;
            border-right: none;
        }

        .elementor-element.elementor-element-36e06d8.timelinecontentwrap.elementor-column.elementor-col-50.elementor-top-column {
            width: 100%;
        }

        .elementor-element.elementor-element-b282f6a.elementor-column.elementor-col-50.elementor-top-column {
            width: 100%;
            border-right: none;
        }

        .elementor-element.elementor-element-cba43e9.zhide.elementor-column.elementor-col-50.elementor-top-column {
            width: 100%;
        }

        .elementor-element.elementor-element-d4b9cb2.elementor-column.elementor-col-50.elementor-top-column {
            width: 100%;
            border-right: none;

        }

        .elementor-element.elementor-element-7a12a05.zhide.elementor-column.elementor-col-50.elementor-top-column {
            width: 100%;
        }

        .elementor-col-20 {
            width: 100%;
        }

        .elementor-element.elementor-element-b0e149c.elementor-column.elementor-col-20.elementor-top-column.collasticonlist {

            width: 100%;
        }

        .post-ph-ac-tour-tag {
            display: block;
            border-bottom: solid 1px #000;
        }

        .col-md-12.post-display {
            display: flex;
            border-top: solid 1px #000;
            border-bottom: solid 1px #000;
        }

        .icon-design i {
            background-color: #1abc9c;
            font-size: 20px;
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 50%;
            color: white;
            line-height: 40px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .col-md-3.icon-design {
            text-align: center;
        }

        .sec3iconslist {
            display: none;
        }

        .elementor-element-populatedsec.social-follow-pos {
            margin-top: 0px;
        }
    }

    @media (min-width: 481px) and (max-width: 767px) {

        .mytimepst {
            display: none;
        }

        hr.style-mobile-six {
            z-index: 99999;
            position: relative;
        }

        .main_post_buttons_div {
            margin-bottom: 10px;
        }

        .pst-btn-s-m {
            text-align: right;
        }


        .pst-btn-s-m button {
            position: relative;
            right: 15px;
            color: #fff;
        }

        .widget_area,
        .widget-extra-a {
            margin: 10px 0;
        }

        .button-link {
            text-align: right;
            margin: 0 15px;
        }

        .widget_area,
        .widget-extra-a {
            margin: 7px 0;
        }

        .text-area {
            padding: 0px 13px 20px 20px;
        }

        textarea#short-post-content {
            height: 70px;
        }

    }

    @media (min-width: 320px) and (max-width: 480px) {
        .mytimepst {
            display: none;
        }

        hr.style-mobile-six {
            z-index: 99999;
            position: relative;
        }

        .main_post_buttons_div {
            margin-bottom: 10px;
        }

        .pst-btn-s-m {
            text-align: right;
        }


        .pst-btn-s-m button {
            position: relative;
            right: 15px;
            color: #fff;
        }

        .widget_area,
        .widget-extra-a {
            margin: 10px 0;
        }

        .button-link {
            text-align: right;
            margin: 0 15px;
        }

        .widget_area,
        .widget-extra-a {
            margin: 7px 0;
        }

        .text-area {
            padding: 0px 13px 20px 20px;
        }

        textarea#short-post-content {
            height: 70px;
        }

    }




    .custom_hide {
        display: none;
    }

    .timeline_for_mobile {
        display: none;
    }

    @media (min-width: 280px) and (max-width: 380px) {
        .tour_packages {
            width: 28%;
        }

        .pgoto_s {
            width: 20%;
        }

        .tag_icon {
            padding: 3px;
        }

        .tag_text {
            padding: 5px 0px;
            font-size: 6px;
            margin-left: 5px;
            text-align: center;
        }
    }

    .photoandvideos video,
    .peoples_row video {
        width:90%;
    }

    .user-location {
        margin-top: 14px;
    }

    .mobile-user-location {
        text-align: center;
        font-size: 12px;
    }


    .show_tabs{
        position: fixed;
        background: #ffffff;
        width: 500px;
        bottom: 0;
        right: 140px;
        z-index: 99999;
        height: 380px;
         display: none; 
        border-top: none;
    }

    .show_content_top{
        background: #1abc9c;
        padding: 5px;
    }

    .show-post-left h4{
        color: #fff;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0;
    }

    .show-post-left, .show-post-right{
        display: inline-block;
    }

    .show-post-right i{
        color: #f3f3f3;
        font-size: 18px;
        cursor: pointer;
    }

    .show-post-right{
        position: absolute;
        right: 8px;
        z-index: 9999;
    }

    .profile_area_show{
        padding: 10px;
        margin-top: 10px;
        position: relative;
    }

    .profile_area_show img{
        border-radius: 50%;
    }

    .profile_area_show a{
        font-size: 20px;
        margin-left: 5px;
        position: relative;
        bottom: 5px;
    }

    .profile_area_show p{
        position: absolute;
        left: 11%;
        top: 54%;
        font-size: 11px;
    }

    .post_body_excerpt{
        padding: 10px 13px;
        font-size: 15px;
    }

    .show_content_body{
        overflow-y: scroll;
        height: 100%;
    }

/* width */
.show_content_body::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.show_content_body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.show_content_body::-webkit-scrollbar-thumb {
    background: #b1b1b1;
}

/* Handle on hover */
.show_content_body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.user-comment-area.submit-comment.show-post-comm input{
    width: 91%;
    border-radius: 5px;
    border: none;
    background-color: #f2f3f5;
    border: 1px solid #ccd0d5;
    border-radius: 16px;
    padding: 4px 12px;
    font-size: 14px;
    position: relative;
    left: 10px;
    top: 1px;
}

.like-area-show ,.share-area-show, .comment-area-show{
    width: 32.333%;
}

.post-share-show-a{
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}

.showTab1{
    display: block;
}

.showTab2{
    display: none;
}

.St-1{
    display: block;
}

.dropdown-toggle::after{
    display: none;
}

/*  Edit Post Popup Css*/


  .userPhThumbnail2{
      position: relative;
      overflow: hidden;
      display: inline-block;
  } 

  .userPhThumbnail2 input{
        position: absolute;
      left: 0;
      top: 0;
      opacity: 0!important;
      width: 100%;
      height: 100%;
      z-index: 99999;
  } 

  .editPost{
    display: none;
  }

  .EditConte{
    position: fixed;
      top: 10%;
      width: 46%;
      background: #fff;
      height: 505px;
      margin: 0px auto;
      display: block;
      z-index: 99999;
      border: 1px solid #ddd;
      left: 28%;
      box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
  }

  .editPost:after{
      content: "";
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      background-color: rgba(0, 0, 0, .4);
      z-index: 9999;
  }

  .edit_post_header {
      background: #dadada;
      background-color: #f5f6f7;
      border-bottom: 1px solid #e5e5e5;
      color: #1d2129;
      padding: 5px 12px;
  }

  .Eheader-left, .Epostright{
      display: inline-block;
  }

  .Eheader-left h4{
      font-weight: bold;
      margin-bottom: 0;
  }

  .Epostright {
      position: absolute;
      right: 8px;
      z-index: 9999;
  }
  .Epostright  i {
      color: #999;
      font-size: 18px;
      cursor: pointer;
  }

  .Edit_content_body{
         padding: 15px 15px 5px 15px;
  }

  .profile_area_edit img {
      border-radius: 50%;
      float: left;
  }

  .profile_area_edit textarea{
    width: 86%;
      height: 130px;
      font-size: 20px;
      border: none;
      margin-left: 10px;
      resize: none;
  }

  .profile_area_edit textarea:focus{
    outline: none;
  }

  .userPhThumbnail img{
      width: 100px;
      height: 100px;
      float: left;
  }

  .editbodyexcerpt p{
      font-size: 14px;
      margin-bottom: 10px;
  }

  .editbodyexcerpt p a{
    color: #365899;
  }

  .editbodyexcerpt p a:hover{
    text-decoration: none;
  }

  .userPhThumbnail{
      display: inline-block;
      margin-bottom: 15px;
      overflow: hidden;
  }

  .editbodyexcerpt{
    border-bottom: 1px solid #ddd;
  }

  .userPhThumbnail2{
    border: 3px dashed #ddd;
      width: 100px;
      height: 100px;
      display: inline-block;
      position: relative;
      cursor: pointer;
      margin-left: 15px;
      margin-bottom: 15px;
  }

  .userPhThumbnail2 i{
        color: #ddd;
      font-size: 26px;
      position: absolute;
      top: 33%;
      left: 38%;
  }

  .e-box-icon {
      background-color: #1abc9c;
      display: inline-block;
      color: #fff;
      font-size: 20px;
      border-radius: 50%;
      padding: 8px;
      margin-right: 5px;
  }

  .e-box-content{
      display: inline-block;
  }

  .e-box-content h4 {
    color: #666;
      font-size: 16px;
      font-weight: 600;
      font-family: inherit;
  }

  .edit-photo-video{
      background-color: #efefef;
      border-radius: 20px 20px 20px 20px;
      margin-bottom: 15px;
  }

  .e-box-content span{
    position: relative;
    bottom: 2px;
  }

  .edit-all-btn{
    margin-top: 20px;
  }

  .edit-delete-footer{
      background: #dadada;
      padding: 10px;
      text-align: right;
      border-top: 1px solid #e5e5e5;
      overflow: hidden;
  }

  .edit-delete-footer a{
    background: #1abc9c;
      padding: 7px 20px;
      font-size: 16px;
      color: #fff!important;
      border-radius: 3px;
  }

  .edPhide{
    display: block;
  }


/* End  Edit Post Popup Css*/

/* Start Delete Post Popup Css*/

.DeletePost{
  display: none;
}

.DeleteConte {
    position: fixed;
    top: 30%;
    width: 46%;
    background: #fff;
    height: 160px;
    margin: 0px auto;
    display: block;
    z-index: 99999;
    border: 1px solid #ddd;
    left: 28%;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
}

.DeletePost:after {
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 9999;
}

.Dpostright {
  position: absolute;
    right: 8px;
    z-index: 9999;
    top: 5px;
}

.Dpostright i {
    color: #999;
    font-size: 18px;
    cursor: pointer;
}

.Edit_content_body p{
  font-size: 18px;
}

.DePhide{
  display: block;
}

/* End Delete Post Popup Css*/


.mobile-pc-scetion{
  position: relative;
}

.mobile-pc-scetion a.friend-btn {
    background: #22B14C;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    position: absolute;
    right: 14px;
    left: inherit;
    top: 10px;
    font-size: 14px;
}


/*
================================
Start Responsive css 600 mobile
================================
*/

    @media screen and (max-width: 600px) {


      .ShareDropdown::after, .ShareDropdown::before {
          left: 45%;
      }

      .share_mobile{
        position: relative;
      }

      #myDropdown2 {
        display: none;
        left: -8px;
        top: 30px;
      }

        .PostDelete li {
            margin: 10px;
        }

        .Edit_content_body p {
      font-size: 14px;
    }


        .right-section-dot {
            right: 2px;
            top: 17px;
            z-index: 99999;
            cursor: pointer;
        }

        .PostDelete {
            top: 35px;
            right: 0px; 
        }

        .PostDelete li a {
            font-size: 14px;
            padding: 0;
        }


        .h-top-new {
            text-align: center;
        }

        .h-top-new h4 {
            margin-left: 0;
        }

        a.cancel-f {
            float: left
        }


        .C2search {
            width: 100%;
            position: relative;
            display: flex;
            margin-bottom: 15px;
        }

        .mobile-popup-m1 {
            z-index: 100000;
            left: 0;
            top: 0;
            position: fixed;
            background: #fff;
            width: 100%;
            height: 100%;
            display: none;
        }

        .C2search input {
            margin-left: 0;
            display: table-cell;
            height: 36px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .searchButton {
            top: 0;
        }

        .mobile-button-link2 {
            text-align: center;
            background: #1abc9c;
            padding: 5px;
            margin: 7px 12px;
            border-radius: 3px;
            margin-top: 15px;
        }

        .widget_a2 {
            padding: 5px 0px;
        }

        .widget_a2 .icon-box-content h4 {
            font-size: 15px;
        }

        .mobile-button-link2 span {
            font-size: 16px;
            color: #fff;
        }

        .m-add-photo i {
            font-size: 18px;
            color: #969696;
        }

        .m-add-photo {
            display: inline-block;
            width: 7%;
            position: relative;
            top: 3px;
            left: 5px;
            cursor: pointer;
        }

        .search input {
            height: 36px;
            margin-left: 0;
        }

        .m-post-area {
            padding: 0px 15px 20px 15px;
        }

        .m-text-area textarea {
            width: 100%;
            padding: 15px;
            height: 90px;
            border-radius: 3px;
            border-color: #ccc;
            font-size: 13px;
        }

        .m-add-photo span {
            font-size: 12px;
            color: #6b6a6a;
            position: relative;
            bottom: -6px;
            line-height: 0;
        }

        .custom_profile {
            display: block;
        }

        .post_section_create_mobile h6 {
            margin-left: 10px;
        }

        .tag_icon {
            float: left;
            padding: 5px;
            background: #18bc9d;
            border-radius: 50%;
            color: #fff;
        }

        .tag_text {
            padding: 4px 0px;
            margin-left: 23px;
            font-size: 8px;
            font-weight: bold;
            color: #18bc9d;
        }

        .display_tag {
            background: #ebeeed;
            width: 23%;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            display: inline-block;
            margin: 2px;
            border-radius: 10px;
        }

        .tag_peple_tags {
            width: 20%;
        }

        .tour_packages {
            width: 27%;
        }

        .main_post_buttons_div {
            margin-top: 5px;
        }

        .mobileapp {
            display: none !important;
        }

        .timeline_for_mobile {
            display: block !important;
        }

        .editprofile_mobile,
        .copylink_profile_mobile {
            display: inline-block;
            width: 49%;
            text-align: center;
        }

        #content {
            background: #fff;
        }

        .editprofile_mobile p,
        .copylink_profile_mobile p {
            font-size: 11px;
            margin-top: 10px;
            font-weight: bold;
            font-family: "Roboto", Sans-serif;
        }

        /** Social reviews css**/
        .glyphicon {
            margin-right: 5px;
        }

        .rating .glyphicon {
            font-size: 22px;
        }

        .rating-num {
            margin-top: 0px;
            font-size: 54px;
        }

        .progress {
            margin-bottom: 5px;
        }

        .progress-bar {
            text-align: left;
        }

        .rating-desc .col-md-3 {
            padding-right: 0px;
        }

        .sr-only {
            margin-left: 5px;
            overflow: visible;
            clip: auto;
        }

        .for_right {
            width: 48%;
            float: right;
        }

        .for_left {
            width: 48%;
            float: left;
        }

        .progress-bar-info {
            background-color: #5bc0de;
        }

        .social_reviews_mobile {
            border-radius: 3px;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            background: #f5f5f5;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 20px;
        }

        .for_left_bar {
            float: left;
            padding: 0px;
            width: 9%;
        }

        .for_right_bar {
            float: right;
            padding: 0px;
            width: 84%;
            margin-left: 7px;
        }

        .social_review_head {
            font-family: "Roboto", Sans-serif;
            color: #78b688;
            text-align: center;
        }

        .progress-bar-warning {
            background-color: #f0ad4e;
        }

        .progress-bar-success {
            background-color: #5cb85c;
        }

        .progress-bar-success1 {
            background-color: #81c5a5;
        }

        .progress-bar-danger {
            background-color: #d9534f;
        }

        /** Social reviews css**/

        /** Followers mobile**/
        .followers_div_mobile_mobile {
            margin-top: 20px;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            padding: 10px;
        }

        .followers_left_div {
            float: left;
            width: 48%;
            text-align: center;
        }

        .followers_right_div {
            float: right;
            width: 48%;
            text-align: left;
        }

        .followers_right_div h4 {
            color: #143592;
            font-weight: bold;
        }

        /** Followers mobile **/

        .green_big {
            min-height: 30px;
            background: #18bc9d;
            margin-top: 10px;
        }

        .small_green_big {
            min-height: 7px;
            background: #18bc9d;
            margin-top: 10px;
        }

        .input_lo {
            width: 92%;
            margin-bottom: 5px;
            padding: 5px;
            border-radius: 20px;
            border: 1px solid #99bbb8 !important;
            height: 30px;
            font-size: 13px;
            cursor: pointer;
        }


        .create_textreamobile {
            width: 96%;
            height: 50px;
            padding: 5px;
            border: 0px;
        }

        .post_section_create_mobile {
            padding: 5px 0px;
            margin: 0px;
            font-weight: bolder;
        }

        hr.style-mobile-six {
            border: 0;
            margin: 0px;
            height: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }

        .profile_photo_createpost img {
            width: 70%;
            border-radius: 100%;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
        }

        .profile_photo_createpost {
            display: inline-block;
            width: 12%;
            text-align: center;
            vertical-align: middle;
        }

        .profile_input_createpost {
            display: inline-block;
            width: 85%;
            text-align: center;
            vertical-align: middle;
        }

        .photo_mobil_pos {
            color: #ccc;
        }

        .connection_header {
            text-align: left;
        }

        .connection_div {
            text-align: center;
        }

        .connection_btn {
            width: 95%;
            background: #dadbdd;
            font-size: 13px;
            border: 0px;
            margin-top: 10px !important;
            letter-spacing: 1px;
            margin: auto;
            font-weight: bold;
            padding: 5px 0px;
            border-radius: 4px;
        }

        .people_margin {
            margin-top: 5px;
            margin-bottom: 0px;
        }

        .col_3 img,.col_3 video {
            max-width: 90%;
            border-radius: 5px;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
        }

        .col_3 {
            width: 49%;
            display: inline-block;
            text-align: center;
            font-size: 12px;
          margin-top: 10px;
        }

        .peoples_row {
            margin-top: 5px;
        }

        .connection_div {
            margin-top: 20px;
        }

        .section5wrap {
            margin-top: 10px;
        }

        .avatar_profile {
            width: 20%;
            float: left;
        }

        .elementor-element.elementor-element-d4b9cb2.elementor-column.elementor-col-50.elementor-top-column {
            border: 0px !important;
        }

        .inner_img img {
            max-width: 100%;
            border-radius: 100%;
        }

        .what_happening_mobile_innerdiv {
            background: #f8f7f9;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            padding: 10px;
            border-radius: 3px;
        }

        .elementor-column-wrapsec3 {
            border: 0px !important;
        }

        a,
        p,
        div {
            font-family: "Roboto", Sans-serif;
        }

        .content_avatar {
            width: 79%;
            float: right;
        }

        .clearfix {
            clear: both;
        }

        .what_happening_mobile {
            margin-top: 10px;
        }

        .notnow_profile_button {
            float: left;
            width: 48%;
        }

        .notnow_profile_button button {
            background: #e0e4e4;
            color: #000;
            border: 0px;
            padding: 7px 0px;
            border-radius: 5px;
            font-size: 13px;
            font-weight: bold;
        }

        .update_profile_button button {
            background: #33b155;
            color: #fff;
            border: 0px;
            padding: 6px 0px;
            border-radius: 5px;
            font-size: 12px;
        }

        .update_profile_button {
            float: right;
            width: 48%;
        }

        .content_avatar p {
            font-size: 12px;
            margin: 0px;
            padding-left: 8px;
        }

        .btn_custom_happening {
            width: 100%;
        }

        .copy_link_profile i {
            font-size: 20px;
            background: #33b155;
            color: #fff;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            padding: 10px;
        }

        .remove_margin {
            margin: 0px;
        }

        .edit_icon_profile i {
            font-size: 20px;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            background: #e0e4e4;
            color: #000;
            padding: 10px 8px;
        }

        .reviews_star_mobile p,
        .connection_mobile p,
        .followers_mobile p {
            margin: 0px;
        }

        i.far.fa-star,
        i.fas.fa-star-half-alt,
        i.fas.fa-star {
            font-size: 12px !important;
        }

        .connection_mobile h6,
        .followers_mobile h6 {
            font-size: 14px;
            margin: 0px;
        }

        .for_mobile {
            margin: 0px !important;
        }

        .timeline_for_desktop {
            display: none;
        }

        .addphoto a {
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            font-size: 12px !important;
            border: 0px;
        }

        .connectionre a {
            margin-top: 5px;
            letter-spacing: 1px !important;
        }

        .button-link1.leftside {
            margin-top: 2px;
        }

        .button-text-mobile {
            font-size: 13px !important;
        }

        .custom_profile {
            margin-top: 85px;
            margin-bottom: 20px;
        }

        .photo-video {
            padding: 10px;
            background: #fff;
            margin: 10px;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            border: solid 0px grey;
            font-family: "Roboto", Sans-serif;
            margin-left: 0px;
            margin-right: 0px;
        }

        .col-xs-6 {
            width: 46% !important;
            padding-left: 10px;
            padding-right: 10px;
        }


        .col-md-3.photo-img img {
            width: 100%;
            margin: 10px;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            border: solid 0px lightgrey;
            text-align: center;
        }

        .photo-video {
            margin-left: 0px;
            margin-right: 0px;
        }

        .button-text {
            font-size: 11px;
        }

        .photos_grid_coloum {
            display: inline-block;
            width: 30%;
            margin: 3px;
            min-height: 100px;
            position: relative;
            border-radius: 3px;
        }

        .photos_grid_row {
            margin-top: 5px;
        }

        .bg_image_grid_1 {
            background: url('https://www.travpart.com/English/wp-content/uploads/ultimatemember/851/profile_photo-190x190.jpg?1575060068');
            background-size: 100%;
        }

        .bg_image_grid_2 {
            background: url('https://www.travpart.com/English/wp-content/uploads/2019/07/Fotolia_74455336_M.jpg');
            background-size: cover;
            background-position: center;
        }

        .bg_image_grid_3 {
            background: url('https://www.travpart.com/English/wp-content/uploads/ultimatemember/851/profile_photo-190x190.jpg?1575060068');
            background-size: 100%;
        }

        .vertical_content {
            position: absolute;
            letter-spacing: 1px;
            font-size: 11px;
            font-weight: bold;
            top: 50%;
            padding: 7px;
            line-height: 10px;
            background: #fffcfcd1;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 90%;
            text-align: center;
            font-family: "Roboto", Sans-serif;
            margin: 5px;
        }

        .elementor-element-7aa27be {
            display: none;
        }

        .media-body,
        .media-left,
        .media-right {
            display: table-cell;
            vertical-align: top;
        }

        .media-body {
            width: 10000px;
        }

        .media,
        .media-body {
            overflow: hidden;
            zoom: 1;
        }

        .modal-header {
            border-bottom: 0px;
        }

        .media_friend_image {
            width: 64px;
            border-radius: 4px;
            height: 64px;
        }

        .media-body p {
            margin: 0px;
        }

        .media-object {
            display: block;
        }

        .media {
            margin-bottom: 15px;
        }

        .media-left,
        .media>.pull-left {
            padding-right: 10px;
        }

        .location_div {
            font-size: 10px;
            background: #18bc9d;
            display: table;
            color: #fff;
            padding: 3px 8px;
            border-radius: 3px;
            margin-bottom: 10px;
        }

        .mobile_agent_name a {
            font-weight: bold;
            color: #1d4354c9;
            text-decoration: none;
        }

        .mobile_agent_name {
            text-transform: capitalize;
        }

        .margin_r {
            margin: 0px;
            font-weight: bold;
        }

        .popup_header {
            width: 100%;
            font-weight: bold;
            font-size: 12px
        }

        .header_search {
            width: 100%;
            background: #e7ebec;
            border: 1px solid #e7ebec;
            padding: 6px;
            color: #a1a2a4;
            margin-top: 10px
        }

        .back_btn {
            display: inline-block;
            width: 12%;
            text-align: center;
        }

        .back_btn button {
            background: none;
            border: 0px;
        }

        .popup_header_title {
            display: inline-block;
            width: 70%;
            text-align: center;
        }

        .search_icon {
            display: inline-block;
            width: 12%;
            text-align: center;
        }

        .profile_pictures,
        .uploaded_pictures {
            width: 46%;
            display: inline-block;
            font-weight: bold;
            text-align: center;
            font-size: 13px;
        }

        .custom_color {
            color: #0b0b92 !important;
        }

        .nav-tabs li a {
            padding: 12px;
            color: #000;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
        }

        .photo_mobil_pos {
            display: inline-table;
            width: 16%;
            color: #a9a7a7;
            text-align: center;
            vertical-align: middle;
            min-height: 40px;
        }


      .edit-delete-footer {
        padding: 11px;
    }

    .DeleteConte {
        top: 37%;
        width: 70%;
        height: 27%;
        border: none; 
        left: 15%;
    }

      .EditConte {
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        overflow-y: scroll;
    }

    .show_tabs {
        width: 90%;
        right: 0;
        height: 380px;
    }

    .open>.dropdown-menu {
        display: block;
    }

    .ShareDropdown {
        min-width: 100%;
    }

        .content_mobile p {
            margin: 0px;
            color: grey;
        }

        .hide_in_mobile {
            display: none;
        }

        .timelinecontentwrap {
            z-index: 0 !important;
        }

        .main_area {
            display: block;
        }

        .mytimelinewrap {
            border: 0px !important;
        }

        .elementor-element-populatedsec {
            padding: 0px;
        }

        hr.style-two {
            border: 0;
            height: 0;
            margin-top: 5px;
            margin-bottom: 5px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }

        .mobile_post_image img {
            max-width: 100%;
        }

        .content_mobile {
            padding: 12px 10px;
        }

        .mobile_agent_name {
            font-weight: bold;
            font-weight: bold;
            color: #1d4354c9;
        }

        .row {
            margin: 0px;
        }

        .post_for_mobile {
            margin-top: 0px;
            margin-bottom: 30px;
        }

        .post_for_mobile {
            display: block;
        }

        .mobile_post_content {
            font-size: 14px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .main_buttons_div div a {
            color: #808080d6;
            font-size: 12px;
        }

        .main_buttons_div .like_mobile,.main_buttons_div .comment_mobile,.main_buttons_div .share_mobile{
            width: 32%;
            padding: 3px 0px;
            text-align: center;
            cursor: pointer;
            display: inline-block;
        }

        .main_buttons_div div:hover {
            background: #f3f3f3;
        }

        div.pac-container {
            z-index: 999999 !important;
        }

        #mobile-short-post-feeling-text {
            margin-left: 12px;
            font-size: 14px;
        }
        
    }
/* End Media query 600 Mobile Css */