.tour_div{



}
.tour_div .tour_header{
margin-top:15px;
height:110px;
background-color:#fcdebe;
border:1px solid #f8bc5e;

padding-top:10px;
padding-left:10px;
}

.tour_div .tour_body{
background-color:#fffaf5;
border:1px solid #f8bc5e;    
border-top:none;
border-bottom:none;
position: relative;
}
.tour_div .info{
    padding: 10px;
height:60px;
background-color:#fcdebe;
border:1px solid #f8bc5e;
border-bottom:none;

}
.tour_div .result{

height:100px;
background-color:#fffaf5;
border:1px solid #f8bc5e;
}

.tour_div .information div{
margin-top:5px;
}

.tour_div .tour_body .tour_title{
    padding-left: 25px;
	padding-top:15px;
	margin-bottom:20px;
}
.tour_div .tour_body  .input_div{
padding-left: 25px;
padding-bottom:10px;
}
.one_day_div{
padding-left: 25px;
padding-bottom:10px;
}
.one_day_div span{
    display: inline-block;
    font-weight: bolder;
}
.calender{
padding: 0px 35px;
    border: none;
    background: url('../images/calender.png') no-repeat;
    width: 210px;
    height: 36px;
    cursor: pointer;
	 -webkit-box-shadow: inset 0 1px 2px #e3e3e3;
    box-shadow: inset 0 1px 2px #e3e3e3;
}

input.number_of_room{
	    padding: 0px 35px;
    border: none;
    background: url('../images/edit.png') no-repeat;
    width: 210px;
    height: 36px;
    cursor: pointer;
	 -webkit-box-shadow: inset 0 1px 2px #e3e3e3;
    box-shadow: inset 0 1px 2px #e3e3e3;
}

input.one_day{
	    padding: 0px 35px;
    border: none;
    width: 195px;
    height: 36px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 2px #e3e3e3;
    box-shadow: inset 0 1px 2px #e3e3e3;
    margin-right: 13px;
}

.tour_div .tour_body  .input_div select.number_of_room{
	width: 210px;
    height: 36px;

	padding-left: 10px;
    background: #fff;
    font-size: 14px;
    font-weight: normal;
    -webkit-box-shadow: inset 0 1px 2px #e3e3e3;
    box-shadow: inset 0 1px 2px #e3e3e3;
    border-radius: 2px;
	border:none;
}
.tour_div .tour_body  .input_div select.number_of_room option{
background-color: #fff;
    padding: 8px 9px;
    line-height: 1.5;
}
.tour_div .tour_body  .input_div span{
    display: inline-block;
    width: 140px;
	    font-weight: bolder;
	}
	
	.sp_tour{
	 border-bottom: 2px dashed #cccccc;
    height: 2px;
    width: 87%;
    margin: auto;
	margin-top:15px;
	margin-bottom:10px;
	}
	
	.tour_div .tour_body  .input_div select.room_ppl_number{
	width: 19%;
    height: 36px;

	margin-right: 10px;
    background: #fff;
    font-size: 14px;
    font-weight: normal;
    -webkit-box-shadow: inset 0 1px 2px #e3e3e3;
    box-shadow: inset 0 1px 2px #e3e3e3;
    border-radius: 2px;
	border:none;
	}
	.hidden{
	display:none;
	}
	.end_date_div{
	    margin-top: 30px;
    display: inline-block;
	}
	.confirm{
	       font-weight: bolder;
    border: none;
    background: url('../images/button_bg.png') 12px 0px no-repeat;
    height: 45px;
    width: 112px;
    cursor: pointer;
    margin-left: 62px;
	font-size: 18px;
	outline:none;
	}
	.notice{
	
	    position: relative;
    text-align: center;
    font-size: 1.3em;
    color: red;
    top: 0px;
    left: 0px;
	}
	.price{
	font-size:14px;
	 font-weight: bolder;
	}
	
	.price_value{
	
	 font-size: 2em;
	color:red;
	}
	.buy{
	     font-weight: bolder;
    border: none;
    background: url('../images/Large_btn.png') 0px 0px no-repeat;
    height: 58px;
       width: 83%;
    cursor: pointer;
    font-size: 28px;
	}
	.result .button_div{
	    text-align: right;
	}
	.result div{
	
	margin-top:2%;
	}
	#left_menu{
	position: fixed;
    top: 30%;
    left: 1%;
    z-index: 1030;
    width: 70px;
    text-align: center;
	border: 1px solid #e6e6e6;
	box-shadow: inset 0 1px 2px #e3e3e3;
	}
	#left_menu_content{
	margin:0px;
	box-shadow: inset 0 1px 2px #e3e3e3;
	list-style: none;
    background-color: #fff;
	padding: 2px 2px 0px 2px;
    font-size:9px !important;
		
	}
	#left_menu_content li{
	    height: 52px;
        padding: 3% 0px;
    border-bottom: 1px solid #e6e6e6;
	}
	#left_menu_content li i{
	    font-size: 24px;
	}
	#left_menu_content li a{
	    color:#000;
		text-decoration:none;
	}
	#left_menu_content li:hover,#left_menu_content li.active{
	  background-color:#1a6d84;
	  color:#fff;
	}
	#left_menu_content li:hover a,#left_menu_content li.active a{
	  color:#fff;
	}
	@media only screen and (max-device-width: 768px) {
		.buy{
		font-size: 12px;
		}
		
		.tour_div .info  {
		
		font-size:12px;
		}
		
		.price_value {
			font-size: 16px;
			color: red;
		}

		.tour_div .information{

			font-size:12px;
		}
		
		#left_menu{
			display:none;
		}
	}