.booking-code {
  display: inline-block; }
  .booking-code h2 {
    margin: 0;
    line-height: 1;
    border-radius: 5px;
    background-color: #66cccc;
    font-size: 18px!important;
    letter-spacing: -0.5px;
    color: #ffffff;
    line-height: 1!important;
    padding: 20px 26px; }
    .booking-code h2 span {
      font-weight: bold; }

.v2-box {
  font-weight: 300 !important;
  border-radius: 3px;
  box-shadow: 0px 2px 0 0 rgba(93, 202, 197, 0.31);
  border: solid 1px #dcdcdc;
  background-color: #ffffff;
  padding: 15px; }
  .v2-box .v2-title {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.6px;
    color: #1a6d84; }

.v2-header {
  border-radius: 5px; }
  .v2-header > div {
    border-radius: 5px; }
  .v2-header .header-left {
    padding: 15px 18px;
    display: block;
    border-radius: 5px; }

.v2-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .v2-actions a {
    text-decoration: none !important; }
  .v2-actions .cir {
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    margin-left: 4px;
    cursor: pointer; }
  .v2-actions .fa {
    color: #fff !important; }

.v2-tb {
  border-top: 2px solid rgba(93, 202, 197, 0.31); }

.v2-tb-row {
  border-bottom: 2px solid rgba(93, 202, 197, 0.31); }

a.fa, a.fas {
  text-decoration: none !important; }

.v2-input {
  border-radius: 3px;
  box-shadow: 0px 2px 0 0 rgba(93, 202, 197, 0.31);
  border: solid 1px #dcdcdc;
  background: #eee; }
  .v2-input .prefix {
    padding: 4px;
    padding-left: 10px; }
  .v2-input .form-control {
    background: none !important;
    border: none !important;
    box-shadow: none !important; }

.v2-foot {
  border-radius: 5px;
  box-shadow: 0px 2px 0 0 rgba(93, 202, 197, 0.31);
  background-image: -webkit-linear-gradient(left, #66cccc, #1bba9a);
  background-image: linear-gradient(to right, #66cccc, #1bba9a);
  color: #fff;
  font-size: 18px;
  margin-top: 10px; }

.v2-list-left {
  position: relative; }
  .v2-list-left .thumb-wrap {
    position: relative;
    z-index: 1; }
  .v2-list-left .tag {
    position: absolute;
    z-index: 2;
    top: 5px;
    left: -5px;
    border-radius: 5px;
    box-shadow: 0px 2px 0 0 rgba(93, 202, 197, 0.31);
    background-image: -webkit-linear-gradient(left, #66cccc, #1bba9a);
    background-image: linear-gradient(to right, #66cccc, #1bba9a);
    padding: 10px 20px;
    font-size: 16px;
    color: #fff; }

.border-bottom-blue {
  border-bottom: 2px solid rgba(93, 202, 197, 0.31); }

.max-250 {
  max-width: 250px !important;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
}

.v2-list-right .fa, .v2-list-right .fas {
  color: #66cccc; }

.border-radius {
  border-radius: 5px; }

.big-btn .btn {
  font-size: 18px!important;
  line-height: 1;
  padding: 22px 40px;
  color: #fff; }
  .big-btn .btn .fa {
    font-size: 24px; }

.btn-org {
  border-radius: 5px;
  border: solid 1px #e2e4da;
  background-color: #ff6633; }

.btn-blue {
  border-radius: 5px;
  border: solid 1px #e2e4da;
  background-color: #339999; }

.btn-blue-g ,.btn.btn-blue-g{
  border-radius: 5px!important;
  border: solid 1px #e2e4da!important;
  background-image: -webkit-linear-gradient(left, #66cccc, #1bba9a)!important;
  background-image: linear-gradient(to right, #66cccc, #1bba9a)!important; }

@media (min-width: 768px) {
  .v2-box .box-grid-50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50% !important; }
  .mx-40 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
    padding-right: 20px; }
  .border-sm-right {
    border-right: 1px solid #dee2e6; } }
