
/*Timeline Custom Css and Js*/

.timelineprofilepic{max-height:200px;position:relative}

.timelineprofilepic img{width:100%;max-height:200px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border:2px solid #1abc9c}

.timelinecover{position:relative}

.timelinecover img{width:100%;height:350px;border-radius: 5px;border:2px solid #1abc9c}

.timelinecontentwrap{position:relative;z-index:9999}

.verifiedseller{background:#1abc9c;color:white;text-align:center;position:absolute;left:0;bottom:0;padding:5px}

/*Timeline Custom Css and Js*/
.post-ph-ac-tour-tag.timeline_for_desktop{

    display: none;

}

.space_top{

    margin-top: 10px;

    background: #ffffff;

    width: 100%;

    left: 0;

}

    .connection_table {

        padding: 10px;

    }

    .col_photo {

        width: 100%;

    }



    .col_photo img {

        width: 95px;

        height: 95px;

    }



    .col_photo {

        margin: 1px 0px;

        display: inline-table;

        width: 32.5%;

        vertical-align: middle;

    }



    .table_row {

        margin-top: 10px;

    }
.rating-desc .remove_pad {
    padding: 0px !important;
    margin-bottom: 10px;
}
.rating-num{font-size: 25px;}
.for_right_bar .progress{
    height: 15px;}
    .connection_td {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        font-family: 'Roboto', sans-serif;
    }



    .remove_pad {

        padding: 0px !important;

    }



    .custom_size_icon i {

        font-size: 10px !important;

    }

    .remove_mar {

        margin: 0px !important;

    }

    h1,

    h2,

    h3,

    h4,

    h5,

    h6,

    input,

    .editprofile,

    textarea,

    .comment-area a,

    .share-area a,

    .post-profile-area span,

    .PostDelete li {

        font-family: 'Roboto', sans-serif;

    }

    /* End Post Share Css*/


    /* Start Post Delete Css*/

    .active_desktop {

        background: #f4f4f4;

        color: #000;

    }

    .active_desktop a {

        color: #000;

    }

    .active_desktop span {

        color: #333;

    }



    .PostDelete {

        position: absolute;

        background-color: white !important;

        min-width: 190px;

        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        z-index: 1000 !important;

        border: 1px solid #ddd;

        margin-top: 4px;

        top: 25px;

        right: 15px;

        left: inherit;

    }



    .dropdown-menu>li>a:focus,

    .dropdown-menu>li>a:hover {

        background: inherit;

    }



    .PostDelete li {

        display: block;

        margin: 5px;

    }



    .PostDelete li a {

        padding: 3px;

        color: #444;

        text-decoration: none;

        font-size: 15px;

    }



    .PostDelete li:hover a {

        color: #fff;

    }



    .PostDelete li:hover {

        background: #1ABC9C;

        color: #fff;

        cursor: pointer;

    }



    .PostDelete::before {

        content: "";

        position: absolute;

        border-left: 6px solid transparent;

        border-right: 6px solid transparent;

        border-bottom: 9px solid #ffffff;

        top: -6px;

        right: 5px;

        z-index: 9999;

    }



    .PostDelete::after {

        content: "";

        position: absolute;

        width: 10px;

        height: 10px;

        border-left: 6px solid transparent;

        border-right: 6px solid transparent;

        border-bottom: 8px solid #ddd;

        top: -10px;

        right: 5px;

    }



    .show2 {

        display: block !important;

    }



    /* End Post Delete Css*/



    .post_image {

        text-align: center;

    }



    .editprofile_mobile a:visited {

        color: #000 !important;

    }



    .post_for_mobile {

        display: none;

    }



    .post_image img {

        max-width: 100%

    }



    .post_image video {

        width: 50%;
        height: 0%;

    }



    .header_user_content {

        float: right;

        width: 80%;

        padding-left: 10px;

        position: relative;

    }



    .mobile_post_container {    

        background: #fff;

        font-family: 'Roboto', sans-serif;

        letter-spacing: 1px;

        padding: 5px 10px;

        box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

    }



    .post_profile_img {

        float: left;

        width: 20%;

    }



    .clearfix {

        clear: both;

    }



    .for_img img {

        max-width: 100%;

        border-radius: 100%;

        padding: 2px;

        margin-top: 7px;

        border: 1px solid #b1b1b163;

    }



    .Filling-section {

        background-color: #f7f7f7;

        box-shadow: 10px 10px 60px #555;

        display: inline-block;

        height: auto;

        max-width: 340px;

        min-height: 100px;

        vertical-align: middle;

        width: 60%;

        position: relative;

        border-radius: 8px;





    }



    .Fill-header-top {

        border-bottom: 1px solid #ddd;

        text-align: right;

    }



    .Fill-header-top i {

        padding: 10px;

        font-size: 20px;

        color: #dc3545;

        cursor: pointer;

    }



    .filing-section-main form select {

        display: block;

        font-size: 20px;

        cursor: pointer;

        margin-bottom: 0;

        width: 100%;

        border: none;

    }



    .filing-section-main form select.active {

        overflow: hidden;

        color: #fff;

    }



    .filing-section-main select option.active {

        background: #1ABC9C;

        color: #fff;

    }



    .filing-section-main form select i {

        font-size: 20px;

        color: #FBD771;

        margin-right: 15px;

        position: relative;

        top: 3px;

    }



    .feeling {

        position: absolute;

        top: 40.6%;

        left: 37.5%;

        z-index: 99999;

        display: none

    }



    select {

        -webkit-appearance: none;

        font-family: 'Font Awesome 5 Free';

        font-weight: 900;

        color: orange;

        font-size: 20px

    }



    select.active {

        font-family: 'Font Awesome 5 Free';

        font-weight: 900;

    }



    span.font-icon-s {

        color: orange;

    }



    .filing-section-main select option {

        padding: 10px;

        color: #000;

        border-bottom: 1px solid #ececec;

    }





    .filing-section-main select:focus {

        outline: none;

    }



    form.form-emoji select option i {

        color: orange;

    }



    h4.elementor-icon-box-title {

        margin-top: 10px;

    }
    .photos_grid_row {
        margin-top: 5px;
        text-align: center;
    }
    .bg_image_grid_1 {
        background: url(https://www.travpart.com/English/wp-content/uploads/ultimatemember/851/profile_photo-190x190.jpg?1575060068);
        background-size: 100%;
    }
    .bg_image_grid_2 {
        background: url(https://www.travpart.com/English/wp-content/uploads/2019/07/Fotolia_74455336_M.jpg);
        background-size: cover;
        background-position: center;
    }
    .bg_image_grid_3 {
        background: url(https://www.travpart.com/English/wp-content/uploads/2020/02/interested_destination.jpg);
        background-size: 100%;
    }
    .bg_image_grid_4 {
        background: url(https://www.travpart.com/English/wp-content/uploads/2020/02/following.jpg);
        background-size: 100%;
    }
    .bg_image_grid_5 {
        background: url(https://www.travpart.com/English/wp-content/uploads/2020/02/travel_feedback.jpg);
        background-size: cover;
        background-position: center;
    }
    .photos_grid_coloum {
        display: inline-block;
        width: 30%;
        margin: 3px;
        min-height: 100px;
        position: relative;
        border-radius: 3px;
    }
    .vertical_content_ph {
        position: absolute;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: bold;
        top: 50%;
        padding: 7px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: white;
        line-height: 10px;
        background: #37a000;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 70%;
        left: 15%;
        text-align: center;
        font-family: "Roboto", Sans-serif;
        border: 2px solid white;
        border-top: 5px solid white;
        border-bottom: 3px solid white;
    }
    .vertical_content_trpkg {

            position: absolute;

            letter-spacing: 1px;

            font-size: 8px;

            font-weight: bold;

            top: 50%;
            padding-top: 8px;
            padding-bottom: 8px;

            line-height: 10px;

            background: #37a000;

            -webkit-transform: translateY(-50%);

            -ms-transform: translateY(-50%);

            transform: translateY(-50%);

            width: 70%;
            left: 15%;

            text-align: center;

            font-family: "Roboto", Sans-serif;
            border: 2px solid #c3c3c3;
            border-top: 5px solid #c3c3c3;
            border-bottom: 3px solid #c3c3c3;

        }
        .vertical_content_trpkg a {
            color: white;
        }
        .vertical_content_indes {

            position: absolute;

            letter-spacing: 1px;

            font-size: 9px;

            font-weight: bold;

            top: 50%;

            padding-top: 3px;
            padding-bottom: 3px;

            line-height: 10px;

            background: #37a000;

            -webkit-transform: translateY(-50%);

            -ms-transform: translateY(-50%);

            transform: translateY(-50%);

            width: 70%;

            text-align: center;

            font-family: "Roboto", Sans-serif;
            left: 15%;
            border: 2px solid #c3c3c3;
            border-top: 5px solid #c3c3c3;
            border-bottom: 3px solid #c3c3c3;

        }
        .vertical_content_follow {

            position: absolute;

            letter-spacing: 1px;

            font-size: 9px;

            font-weight: bold;

            top: 50%;

            padding-top: 3px;
            padding-bottom: 3px;

            line-height: 10px;

            background: #37a000;

            -webkit-transform: translateY(-50%);

            -ms-transform: translateY(-50%);

            transform: translateY(-50%);

            width: 70%;

            text-align: center;

            font-family: "Roboto", Sans-serif;
            left: 15%;
            border: 2px solid #c3c3c3;
            border-top: 5px solid #c3c3c3;
            border-bottom: 3px solid #c3c3c3;

        }
        .vertical_content_tvl_feed {

            position: absolute;

            letter-spacing: 1px;

            font-size: 9px;

            font-weight: bold;

            top: 50%;

            padding-top: 3px;
            padding-bottom: 3px;

            line-height: 10px;

            background: #37a000;

            -webkit-transform: translateY(-50%);

            -ms-transform: translateY(-50%);

            transform: translateY(-50%);

            width: 70%;

            text-align: center;

            font-family: "Roboto", Sans-serif;
            left: 15%;
            border: 2px solid #c3c3c3;
            border-top: 5px solid #c3c3c3;
            border-bottom: 3px solid #c3c3c3;

        }
        .vertical_content_indes a {
            color: white;
        }
        .vertical_content_follow a {
            color: white;
        }
        .vertical_content_tvl_feed a {
            color: white;
        }
        .small_green_big {
            min-height: 7px;
            background: #18bc9d;
            margin-top: 10px;
        }



    @media screen and (max-width: 600px) {



        .edit-delete-footer div.btn-myTsave {
            text-align: center;
        }


/*Date Time Picker */



.Search-DatePicker{

    margin: 0!important;

}



.date-area{

    margin-bottom: 15px;

}







/*Date Time Picker */







        .short-post-datepicker input {
            border: 1px solid #dee2e6!important;
        }

        .short-post-datepicker .calendar-btn{
                padding: 2px 12px !important;
        }

        span.calendar-btn {

            padding: 6px 12px!important;

            right: 4px!important;

        }





        .timeline_for_mobile {

            display: block;

        }



        .post-ph-ac-tour-tag {

            display: none !important;

        }



        .timeline_for_desktop {

            display: none;

        }



        #footer {

            display: none;

        }

    }



    .mytimepst {
        padding: 0px !important;
    }
    .mytimepst .customda{
       // background: #1abc9c;
        margin: 0px;
        padding: 5px 0px;
    }


    .t-box-icon {

        background-color: #1abc9c;

        display: inline-block;

        color: #fff;

        font-size: 20px;

        border-radius: 50%;

        padding: 8px;

        margin-right: 5px;

    }



    strong.interested-txt {

        display: block;

    }



    i.fas.fa-globe-europe {

        font-size: 18px;

        margin-right: 10px;

        padding-left: 10px;

        color: #a8c5e5;

    }



    .tra_expr strong {

        font-size: 16px

    }



    .tra_expr {

        border-bottom: solid 1px grey;

    }



    .in_dest {

        border-bottom: solid 1px grey;

    }



    i.fas.fa-map-marker-alt {

        font-size: 18px;

        margin-right: 10px;

        color: #4484cd;

    }



    i.far.fa-thumbs-up {

        font-size: 16px;

        padding-left: 10px;

        margin-right: 0px;

    }



    i.fas.fa-user-plus {

        font-size: 18px;

        margin-right: 6px;

        padding-left: 6px;

    }





    .follow-buttom {

        border-bottom: solid 1px grey;

    }



    i.far.fa-comment-dots {

        font-size: 18px;

        margin-right: 10px;

        padding-left: 10px;

    }



    .tr_in_fo_fe {

        padding-left: 0px;

        padding-right: 0px;

    }



    .mobile-popup-test2 {

        display: none;

    }



    .btn-myTPost {

        margin-left: 10px;

    }



    .another-user-section a {

        font-size: 16px;

        margin: 0 10px 0px 3px;

    }



    .another-user-section span {

        font-size: 16px;

        margin: 0 10px 0px 3px;

    }



    .user-2 {

        padding-top: 10px;

    }



    .social-area-ul ul {

        margin: 0;

        padding: 0;

        list-style: none;

        margin-left: 50px;

        position: relative;

        bottom: 1px;

    }



    li.span-thumbs {

        padding: 0 !important;

    }



    .social-area-ul ul li {

        display: inline-block;

        padding: 0 6px;

        font-size: 13px;

    }



    .social-area-ul ul li a {

        color: #606770

    }



    .another-user-section {

        display: inline-block;

        background: #F2F3F5;

        padding: 8px;

        border-radius: 20px;

        margin: 0px 10px;

    }



    .more-comments a {

        font-size: 14px;

        position: relative;

        top: 5px;

        right: 5px;

    }



    .user-top {

        border-top: 1px solid #ccd0d5;

        width: 100%;

        position: absolute;

        left: 0;

    }



    .user-comment-area {

        position: relative;

        padding-bottom: 10px;

        padding-top: 15px;

    }



    .user-comment-area img {

        border-radius: 50px;

        position: relative;

        width: 35px;

        bottom: 1px;

        height: 35px;

    }



    .user-comment-area input {

        width: 94%;

        border-radius: 5px;

        border: none;

        background-color: #f2f3f5;

        border: 1px solid #ccd0d5;

        border-radius: 16px;

        padding: 8px;

        font-size: 14px;

        position: relative;

        left: 10px;

        top: 2px;

    }



    .user-comment-area input:focus {

        outline: none;

    }



    .post-main-section {

        margin-top: 30px;

        background: #FFF;

        padding: 10px;

        position: relative;

        border: 1px solid #a9a9a9;

    }



    span.notify {

        background: red !important;

        border-radius: 50%;

        font-weight: 900;

        padding: 0px 3px;

        position: relative;

        height: 22px;

        width: 21px;

        right: 7px;

        bottom: 5px;

        text-align: center;

        line-height: 23px;

    }

.more,.morecontent{
    //font-size:18px;
}

    .profile-content.more{
        margin: -15px 30px 20px 15px;
    }

    .mytimelinewrap {

        border: 1px solid #000;

        box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

    }



    .mtsection2left {

        width: 20%;

        float: left;

    }



    .mtsection2right {

        width: 80%;

        float: right;

    }



    /*Input Style*/



    .photo-video {

        width: 100px;

        overflow: hidden;

    }



    .photo-video input:hover {

        opacity: inherit !important;

    }



    .photo-video input {

        cursor: pointer;

    }



    .photo-video input:focus {

        outline: none;

    }



    .Photo-file-input::-webkit-file-upload-button {

        visibility: hidden;

    }



    .Photo-file-input::before {

        content: 'Photo/Video';

        display: inline-block;

        color: #1abc9c;

    }



    /*End Input Style*/



    .elementor-star-rating i:before {

        content: "\e934";

        display: block;

        font-size: inherit;

        font-family: inherit;

        position: absolute;

        overflow: hidden;

        color: #f0ad4e;

        top: 0;

        left: 0;

    }



    .elementor-star-rating i {

        display: inline-block;

        position: relative;

        font-style: normal;

        cursor: default;

    }



    .elementor-star-rating {

        color: #ccd6df;

        font-family: eicons;

        display: inline-block;

    }



    .elementor-22017 .elementor-element.elementor-element-4d74689>.elementor-element-populated {

        border-style: solid;

        border-width: 0px 1px 1px 0px;

        border-color: #686868;

        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

    }



    .elementor-22017 .elementor-element.elementor-element-986189b {

        width: 20%;

    }



    .elementor-22017 .elementor-element.elementor-element-f7d7811 {

        width: 80%;

    }



    .elementor-element.elementor-element-986189b.elementor-column.elementor-col-50.elementor-top-column {

        width: 25.3%;

        border-right: 1px solid #333;

    }



    .elementor-element.elementor-element-f7d7811.elementor-column.elementor-col-50.elementor-top-column {

        width: 80%;

    }



    .elementor-column-wrapsec3 .elementor-column-wrapsec3right {

        background-color: #1abc9c;

        color: #fff;

    }



    .text-area2 textarea {

        color: grey;

        font-size: 17px;

        border-radius: 5px;

        width: 100%;

        height: 65px;

        padding: 8px 15px;

    }



    .text-area2 {

        padding: 0px 0px 0px 10px;

    }







    .text-area2 textarea:focus {

        outline: none;

    }



    .search {

/*        width: 100%;

        position: relative;

        display: flex;*/

    }



    .wrap-mytimeline div.search input {

        height: 36px;

        margin-top: 15px;

        margin-bottom: 15px;

        margin-left: 20px;

        border-radius: 5px 0px 0px 5px;

    }



    .search input#short-post-location{

        width: 91%;

    }




    .searchTerm {

        width: 100%;

        border: 3px solid #00B4CC;

        border-right: none;

        padding: 5px;

        height: 25px;

        border-radius: 5px 0 0 5px;

        outline: none;

        color: #9DBFAF;

    }



    .searchTerm:focus {

        color: #00B4CC;

    }



    .searchButton {

        width: 40px;

        height: 36px;

        border: 1px solid #129077;

        background: #1abc9c;

        text-align: center;

        color: #fff;

        border-radius: 0 5px 5px 0;

        cursor: pointer;

        font-size: 20px;

    }



    /*Resize the wrap to see the search bar change!*/

    .wrap {

        width: 100%;

        position: absolute;

        top: 50%;

        left: 50%;

        transform: translate(-50%, -50%);

    }



    .feedback-area h4 {

        display: inline-block;

        margin-right: 10px;

        color: #7a7a7a;

        font-family: "Roboto", Sans-serif;

        font-weight: 400;

        position: relative;

        top: 2px

    }



    span.stat-f {

        color: #7a7a7a;

        font-family: "Roboto", Sans-serif;

        font-weight: 400;

        position: relative;

        left: 2px;

        top: 1px;

    }



    .elementor-column-wrapsec3right .wrap {

        position: static;

        display: block;

        transition: none;

        transform: none;

        padding: 0;

    }



    .elementor-column-wrapsec3right .search {

        padding: 0;

    }



    .searchtopmt {

        margin-bottom: 0 !important;

    }



    .elementor-22017 .elementor-element.elementor-element-986189b>.elementor-element-populated {

        border-style: solid;

        border-width: 0px 1px 0px 0px;

        border-color: #686868;

        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

    }



    .sec3iconslist .elementor-widget-container {

        background-color: #efefef;

        border-radius: 20px 20px 20px 20px;

    }



    .sec3iconslist .elementor-widget-icon-box.elementor-view-stacked .elementor-icon {

        background-color: #508278;

        font-size: 20px;

        width: 100%;

        text-align: center;

        border-radius: 50%;

    }



    .sec3iconslist .elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-title {

        color: #1abc9c;

        font-family: "Roboto", Sans-serif;

        font-weight: 600;

    }



    .collasticonlist .elementor-widget-container {

        background-color: transparent;

    }



    .collasticonlist .elementor-widget-button a.elementor-button,

    .collasticonlist .elementor-widget-button .elementor-button {

        font-family: "Roboto", Sans-serif;

        background-color: #1abc9c;

        padding: 12px 24px;

        color: #fff;

        font-size: 15px;

        border-radius: 4px;

        font-weight: bold;

        display: inline-block;



    }



    a.add_p {

        float: right;

        position: relative;

        bottom: 1px;

    }



    .post-profile-area {

        display: inline-block;

        ;

        padding: 10px;

        position: relative;

    }



    .post-profile-area img {

        width: 40px;

        border-radius: 50%;

        display: inline-block;

    }



    .post-profile-area h5 {

        display: inline-block;

        font-weight: 600;

        position: relative;

        font-size: 16px;

        left: 5px;

        bottom: 8px;

        color: #000;

        text-transform: capitalize

    }



    .post-profile-area h5 a {

        color: #000;

    }



    .post-profile-area span {

        position: absolute;

        left: 57px; 

        top: 27px;

        font-size: 15px !important;

        display: inline-block;

    }





    .post-profile-area i.fa-globe-asia {

        position: relative;

        right: 35px;

        top: 8px;

    }



    .right-section-dot {

        display: inline-block;

        position: absolute;

        right: 20px;

        top: 10px;

    }



    .right-section-dot i.fa-ellipsis-h {

        color: #8c8c8c;

        font-size: 15px;

    }



    .profile-content h2 {

        padding: 10px;

        color: #444 !important;

        font-size: 22px !important;



    }



    .post-share-area {

        padding: 0px 10px;
        border-top: 1px solid black;

    }



    .like-area,

    .follow-area,

    .comment-area,

    .share-area {

        display: inline-block;

        padding: 10px;

        width: 33%;

        font-size: 16px;
        text-align: center;



    }



    .share-area {

        position: relative;

    }



    .like-area i,

    .follow-area i,

    .comment-area i,

    .share-area i {

        color: #444;

    }



    .like-area a,

    .follow-area a,

    .comment-area a,

    .share-area a {

        color: #444;

        text-decoration: none;

    }



    .like_mobile a {

        text-decoration: none;

    }



    i.liked {

        color: goldenrod;

    }



    .elementor-element.elementor-element-7aa27be.elementor-column.elementor-col-50.elementor-top-column {

        width: 30%;

        position: relative;

        border-right: 1px solid #000;

        padding: 10px;

        border-bottom: 1px solid #000;

    }



    .elementor-element.elementor-element-36e06d8.timelinecontentwrap.elementor-column.elementor-col-50.elementor-top-column {

        width: 80%;

    }



    .elementor-element.elementor-element-b282f6a.elementor-column.elementor-col-50.elementor-top-column {

        width: 30%;

        border-right: 1px solid #000;

        border-top: 0px solid #000;

    }



    .elementor-element.elementor-element-cba43e9.zhide.elementor-column.elementor-col-50.elementor-top-column {

        width: 70%;

    }



    .elementor-element.elementor-element-d4b9cb2.elementor-column.elementor-col-50.elementor-top-column {

        width: 30%;

        border-right: 1px solid #000;

    }



    .elementor-element.elementor-element-7a12a05.zhide.elementor-column.elementor-col-50.elementor-top-column {

        width: 70%;

    }



    .elementor-widget-wrap-sec2 {

        padding: 10px;

    }



    .elementor-column-wrapsec2 {

        padding: 10px;

    }



    .elementor-col-20 {

        width: 20%;

    }



    .sec3iconslist .elementor-widget-wrap {

        display: flex;

    }



    .sec3iconslist .elementor-widget-wrap>.elementor-element {

        width: 100%;

    }



    .elementor-widget-container.my-tour-pack {

        width: 183px;

    }



    .sec3iconslist .elementor-icon-box-wrapper {

        -webkit-box-align: start;

        -webkit-align-items: flex-start;

        -ms-flex-align: start;

        align-items: flex-start;

        display: flex;

    }



    .sec3iconslist .elementor-icon-box-icon {

        line-height: 35px;

        margin-right: 6px;

        border-radius: 50%;

        display: inline-flex;

        width: 35px;

        height: 35px;

        font-size: 20px;

        color: #fff;

    }



    .elementor-element.elementor-element-b0e149c.elementor-column.elementor-col-20.elementor-top-column.collasticonlist {

        text-align: right;

        width: 10%;

    }



    .post-ph-ac-tour-tag {

        display: none;

    }



    h2.social-rev {

        color: black !important;

        font-size: 25px !important;

        text-align: center;

    }



    .s_star {

        text-align: center;

    }



    h2.follow-time {

        color: black !important;

        font-size: 25px !important;

        text-align: center;

    }


    .elementor-star-rating {

        text-align: center;

    }



    .elementor-element-populatedsec.social-follow-pos {
        margin-top: 100px;
    }



    .f-star {

        margin-top: 6px;

        margin-left: 10px;

    }



    .box_size_pftm {

        height: 35px;

    }



    .post_button input[type="Submit"] {

        border: 1px solid #508278;

        background: #508278;

        text-align: center;

        color: #fff;

        border-radius: 5px;

        cursor: pointer;

        font-size: 20px;

    }



    .elementor-button-wrapper.post_button {

        margin-right: -60px;

    }



    .elementor-column-wrapsec3 {

        border-bottom: solid 1px black;

    }



    .hover_bkgr_fricc {

        display: none;

        height: 100%;

        position: absolute;

        text-align: center;

        top: 47px;

        left: 16%;

        width: 60%;

        z-index: 10000;

    }



    .hover_bkgr_fricc .helper {

        display: inline-block;

        height: 100%;

        vertical-align: middle;

    }



    .hover_bkgr_fricc>div {

        background-color: #fff;

        box-shadow: 10px 10px 60px #555;

        display: inline-block;

        height: auto;

        max-width: 340px;

        min-height: 100px;

        vertical-align: middle;

        width: 60%;

        position: relative;

        border-radius: 8px;

        padding: 15px 5%;

    }



    .popupClose-feeling {

        background-color: #d44343;

        cursor: pointer;

        display: inline-block;

        font-family: arial;

        font-weight: bold;

        position: absolute;

        top: 1px;

        right: 5px;

        font-size: 15px;

        line-height: 30px;

        width: 30px;

        height: 30px;

        text-align: center;

    }



    .popupClose-feeling:hover {

        background-color: #ccc;

    }



    .feeling-popup {

        cursor: pointer;

        display: inline-block;

        font-weight: bold;

    }



    .popupClose-tags {

        background-color: #d44343;

        cursor: pointer;

        display: inline-block;

        font-family: arial;

        font-weight: bold;

        position: absolute;

        top: 1px;

        right: 5px;

        font-size: 15px;

        line-height: 30px;

        width: 30px;

        height: 30px;

        text-align: center;

    }



    .popupClose-tags:hover {

        background-color: #ccc;

    }



    .tags-popup {

        cursor: pointer;

        display: inline-block;

        font-weight: bold;

    }



    .popupClose-tourpackages {

        background-color: #d44343;

        cursor: pointer;

        display: inline-block;

        font-family: arial;

        font-weight: bold;

        position: absolute;

        top: 1px;

        right: 5px;

        font-size: 15px;

        line-height: 30px;

        width: 30px;

        height: 30px;

        text-align: center;

    }



    .popupClose-tourpackages:hover {

        background-color: #ccc;

    }



    .tourpackages-popup {

        cursor: pointer;

        display: inline-block;

        font-weight: bold;

    }





    .feel_icon {

        color: #da8910;

        font-size: 20px;

    }



    .feel_text {

        color: black;

        margin-left: 20px;

        font-size: 15px;

    }



    .feel_display {

        display: flex;

        /* border: solid 1px grey;*/

        padding-top: 10px;

        cursor: pointer;

    }



    .hover_bkgr_fricc.pop-feeling {

        top: -61px;

    }



    .hover_bkgr_fricc.pop-tags {

        top: -50px;

        left: 29%;

    }



    .hover_bkgr_fricc.pop-tourpackages {

        top: -28px;

        left: 47%;

    }



    .feel_display:hover {

        background: #a1a1dc;

    }



    .feel_text:hover {

        color: #efefef;

    }



    p.sugg {

        color: black;

        float: left;

        font-size: 13px;

    }


/* Start Media Query from large device to small device */

    @media (min-width: 1025px) and (max-width: 1199px) {
    .timelinecover img {
        width: 100%;
    }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .timelinecover img {
        width: 100%;
    }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
      .timelinecover img {
        width: 100%;
    }
}




    @media only screen and (max-width: 767px) {
        
        .timelinecover img {
            width: 100%;
        }


        .elementor-element.elementor-element-986189b.elementor-column.elementor-col-50.elementor-top-column {

            width: 100%;

            border-right: none;

        }



        .elementor-element.elementor-element-f7d7811.elementor-column.elementor-col-50.elementor-top-column {

            width: 100%;

        }



        .elementor-element.elementor-element-7aa27be.elementor-column.elementor-col-50.elementor-top-column {

            width: 100%;

            border-right: none;

        }



        .elementor-element.elementor-element-36e06d8.timelinecontentwrap.elementor-column.elementor-col-50.elementor-top-column {

            width: 100%;

        }



        .elementor-element.elementor-element-b282f6a.elementor-column.elementor-col-50.elementor-top-column {

            width: 100%;

            border-right: none;

        }



        .elementor-element.elementor-element-cba43e9.zhide.elementor-column.elementor-col-50.elementor-top-column {

            width: 100%;

        }



        .elementor-element.elementor-element-d4b9cb2.elementor-column.elementor-col-50.elementor-top-column {

            width: 100%;

            border-right: none;



        }



        .elementor-element.elementor-element-7a12a05.zhide.elementor-column.elementor-col-50.elementor-top-column {

            width: 100%;

        }



        .elementor-col-20 {

            width: 100%;

        }



        .elementor-element.elementor-element-b0e149c.elementor-column.elementor-col-20.elementor-top-column.collasticonlist {



            width: 100%;

        }



        .post-ph-ac-tour-tag {

            display: block;

            border-bottom: solid 1px #000;

        }



        .col-md-12.post-display {

            display: flex;

            border-top: solid 1px #000;

            border-bottom: solid 1px #000;

        }



        .icon-design i {

            background-color: #1abc9c;

            font-size: 20px;

            width: 40px;

            height: 40px;

            text-align: center;

            border-radius: 50%;

            color: white;

            line-height: 40px;

            margin-bottom: 10px;

            margin-top: 10px;

        }



        .col-md-3.icon-design {

            text-align: center;

        }



        .sec3iconslist {

            display: none;

        }



        .elementor-element-populatedsec.social-follow-pos {

            margin-top: 0px;

        }

    }



    @media (min-width: 481px) and (max-width: 767px) {



        .mytimepst {
            display: none;
        }



        hr.style-mobile-six {

            z-index: 99999;

            position: relative;

        }



        .main_post_buttons_div {

            margin-bottom: 10px;

        }



        .pst-btn-s-m {

            text-align: right;

        }





        .pst-btn-s-m button {

            position: relative;

            right: 15px;

            color: #fff;

        }



        .widget_area,

        .widget-extra-a {

            margin: 10px 0;

        }



        .button-link {

            text-align: right;

            margin: 0 15px;

        }



        .widget_area,

        .widget-extra-a {

            margin: 7px 0;

        }



        .text-area {

            padding: 0px 13px 20px 20px;

        }



        textarea#short-post-content {

            height: 70px;

        }



    }



    @media (min-width: 320px) and (max-width: 480px) {

        .mytimepst {

            display: none;

        }



        hr.style-mobile-six {

            z-index: 99999;

            position: relative;

        }



        .main_post_buttons_div {

            margin-bottom: 10px;

        }



        .pst-btn-s-m {

            text-align: right;

        }





        .pst-btn-s-m button {

            position: relative;

            right: 15px;

            color: #fff;

        }



        .widget_area,

        .widget-extra-a {

            margin: 10px 0;

        }



        .button-link {

            text-align: right;

            margin: 0 15px;

        }



        .widget_area,

        .widget-extra-a {

            margin: 7px 0;

        }



        .text-area {

            padding: 0px 13px 20px 20px;

        }



        textarea#short-post-content {

            height: 70px;

        }



    }









    .custom_hide {

        display: none;

    }



    .timeline_for_mobile {

        display: none;

    }



    @media (min-width: 280px) and (max-width: 380px) {

        .tour_packages {

            width: 28%;

        }



        .pgoto_s {

            width: 20%;

        }



        .tag_icon {

            padding: 3px;

        }



        .tag_text {

            padding: 5px 0px;

            font-size: 6px;

            margin-left: 5px;

            text-align: center;

        }

    }



    .photoandvideos video,

    .peoples_row video {

        width: 100%;

    }



    .user-location {

        margin-top: 14px;

    }



    .mobile-user-location {

        text-align: center;

        font-size: 12px;

    }





    .show_tabs {

        position: fixed;

        background: #ffffff;

        width: 500px;

        bottom: 0;

        right: 140px;

        z-index: 99999;

        height: 380px;

        display: none;

        border-top: none;

    }



    .show_content_top {

        background: #1abc9c;

        padding: 5px;

    }



    .show-post-left h4 {

        color: #fff;

        cursor: pointer;

        font-weight: 600;

        font-size: 16px;

        margin-bottom: 0;

    }



    .show-post-left,

    .show-post-right {

        display: inline-block;

    }



    .show-post-right i {

        color: #f3f3f3;

        font-size: 18px;

        cursor: pointer;

    }



    .show-post-right {

        position: absolute;

        right: 8px;

        z-index: 9999;

    }



    .profile_area_show {

        padding: 10px;

        margin-top: 10px;

        position: relative;

    }



    .profile_area_show img {

        border-radius: 50%;

    }



    .profile_area_show a {

        font-size: 20px;

        margin-left: 5px;

        position: relative;

        bottom: 5px;

    }



    .profile_area_show p {

        position: absolute;

        left: 11%;

        top: 54%;

        font-size: 11px;

    }



    .post_body_excerpt {

        padding: 10px 13px;

        font-size: 15px;

    }



    .show_content_body {

        overflow-y: scroll;

        height: 100%;

    }



    /* width */

    .show_content_body::-webkit-scrollbar {

        width: 3px;

    }



    /* Track */

    .show_content_body::-webkit-scrollbar-track {

        background: #f1f1f1;

    }



    /* Handle */

    .show_content_body::-webkit-scrollbar-thumb {

        background: #b1b1b1;

    }



    /* Handle on hover */

    .show_content_body::-webkit-scrollbar-thumb:hover {

        background: #555;

    }





    .user-comment-area.submit-comment.show-post-comm input {

        width: 91%;

        border-radius: 5px;

        border: none;

        background-color: #f2f3f5;

        border: 1px solid #ccd0d5;

        border-radius: 16px;

        padding: 4px 12px;

        font-size: 14px;

        position: relative;

        left: 10px;

        top: 1px;

    }



    .like-area-show,

    .share-area-show,

    .comment-area-show {

        width: 32.333%;

    }



    .post-share-show-a {

        text-align: center;

        border-bottom: 1px solid #ddd;

        border-top: 1px solid #ddd;

        margin-top: 15px;

    }



    .showTab1 {

        display: block;

    }



    .showTab2 {

        display: none;

    }



    .St-1 {

        display: block;

    }



    .dropdown-toggle::after {

        display: none;

    }



    /*  Edit Post Popup Css*/





    .userPhThumbnail2 {

        position: relative;

        overflow: hidden;

        display: inline-block;

    }



    .userPhThumbnail2 input {

        position: absolute;

        left: 0;

        top: 0;

        opacity: 0 !important;

        width: 100%;

        height: 100%;

        z-index: 99999;

    }



    .editPost {

        display: none;

    }



    .EditConte {

        position: fixed;

        top: 10%;

        width: 46%;

        background: #fff;

        height: 505px;

        margin: 0px auto;

        display: block;

        z-index: 99999;

        border: 1px solid #ddd;

        left: 28%;

        box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);

    }



    .editPost:after {

        content: "";

        width: 100%;

        height: 100%;

        bottom: 0;

        left: 0;

        position: fixed;

        right: 0;

        top: 0;

        background-color: rgba(0, 0, 0, .4);

        z-index: 9999;

    }



    .edit_post_header {

        background: #dadada;

        background-color: #f5f6f7;

        border-bottom: 1px solid #e5e5e5;

        color: #1d2129;

        padding: 5px 12px;

    }



    .Eheader-left,

    .Epostright {

        display: inline-block;

    }



    .Eheader-left h4 {

        font-weight: bold;

        margin-bottom: 0;

    }



    .Epostright {

        position: absolute;

        right: 8px;

        z-index: 9999;

    }



    .Epostright i {

        color: #999;

        font-size: 18px;

        cursor: pointer;

    }



    .Edit_content_body {

        padding: 15px 15px 5px 15px;

    }



    .profile_area_edit img {

        border-radius: 50%;

        float: left;

    }



    .profile_area_edit textarea {

        width: 86%;

        height: 130px;

        font-size: 20px;

        border: none;

        margin-left: 10px;

        resize: none;

    }



    .profile_area_edit textarea:focus {

        outline: none;

    }



    .userPhThumbnail img {

        width: 100px;

        height: 100px;

        float: left;

    }



    .editbodyexcerpt p {

        font-size: 14px;

        margin-bottom: 10px;

    }



    .editbodyexcerpt p a {

        color: #365899;

    }



    .editbodyexcerpt p a:hover {

        text-decoration: none;

    }



    .userPhThumbnail {

        display: inline-block;

        margin-bottom: 15px;

        overflow: hidden;

    }



    .editbodyexcerpt {

        border-bottom: 1px solid #ddd;

    }



    .userPhThumbnail2 {

        border: 3px dashed #ddd;

        width: 100px;

        height: 100px;

        display: inline-block;

        position: relative;

        cursor: pointer;

        margin-left: 15px;

        margin-bottom: 15px;

    }



    .userPhThumbnail2 i {

        color: #ddd;

        font-size: 26px;

        position: absolute;

        top: 33%;

        left: 38%;

    }



    .e-box-icon {

        background-color: #1abc9c;

        display: inline-block;

        color: #fff;

        font-size: 20px;

        border-radius: 50%;

        padding: 8px;

        margin-right: 5px;

    }



    .e-box-content {

        display: inline-block;

    }



    .e-box-content h4 {

        color: #666;

        font-size: 16px;

        font-weight: 600;

        font-family: inherit;

    }



    .edit-photo-video {

        background-color: #efefef;

        border-radius: 20px 20px 20px 20px;

        margin-bottom: 15px;

    }



    .e-box-content span {

        position: relative;

        bottom: 2px;

    }



    .edit-all-btn {

        margin-top: 20px;

    }



    .edit-delete-footer {

        background: #dadada;

        padding: 10px;

        text-align: right;

        border-top: 1px solid #e5e5e5;

        overflow: hidden;

    }



    .edit-delete-footer a {

        background: #1abc9c;

        padding: 7px 20px;

        font-size: 16px;

        color: #fff !important;

        border-radius: 3px;

    }



    .edPhide {

        display: block;

    }





    /* End  Edit Post Popup Css*/



    /* Start Delete Post Popup Css*/



    .DeletePost {

        display: none;

    }



    .DeleteConte {

        position: fixed;

        top: 30%;

        width: 46%;

        background: #fff;

        height: 160px;

        margin: 0px auto;

        display: block;

        z-index: 99999;

        border: 1px solid #ddd;

        left: 28%;

        box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);

    }



    .DeletePost:after {

        content: "";

        width: 100%;

        height: 100%;

        bottom: 0;

        left: 0;

        position: fixed;

        right: 0;

        top: 0;

        background-color: rgba(0, 0, 0, .4);

        z-index: 9999;

    }



    .Dpostright {

        position: absolute;

        right: 8px;

        z-index: 9999;

        top: 5px;

    }



    .Dpostright i {

        color: #999;

        font-size: 18px;

        cursor: pointer;

    }



    .Edit_content_body p {

        font-size: 18px;

    }



    .DePhide {

        display: block;

    }



    /* End Delete Post Popup Css*/







    /*

    ================================

    Start Responsive css 600 mobile

    ================================

    */



    @media screen and (max-width: 600px) {





        .ShareDropdown::after,

        .ShareDropdown::before {

            left: 45%;

        }



        .share_mobile {

            position: relative;

        }



        #myDropdown2 {

            display: none;

            left: -8px;

            top: 30px;

        }



        .PostDelete li {

            margin: 10px;

        }



        .Edit_content_body p {

            font-size: 14px;

        }





        .right-section-dot {

            right: 2px;

            top: 17px;

            z-index: 99999;

            cursor: pointer;

        }



        .PostDelete {

            top: 35px;

            right: 0px;

        }



        .PostDelete li a {

            font-size: 14px;

            padding: 0;

        }





        .h-top-new {

            text-align: center;

        }



        .h-top-new h4 {

            margin-left: 0;

        }



        a.cancel-f {

            float: left

        }
        .C2search {
            width: 100%;
            position: relative;
            display: flex;
        }

        .mobile-popup-m1 .col-md-12{
            background: #fff;
        }
        .mobile-popup-m1 {
            z-index: 700 !important;
            left: 0;
            position: absolute;
            top: 70px !important;
            background: #fff;
            width: 100%;
            height: 100%;
            display: none;
        }



        .C2search input {

            margin-left: 0;

            display: table-cell;

            height: 36px;

            padding: 6px 12px;

            font-size: 14px;

            line-height: 1.42857143;

            color: #555;

            background-color: #fff;

            background-image: none;

            border: 1px solid #ccc;

            border-radius: 4px;

            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

            border-top-right-radius: 0;

            border-bottom-right-radius: 0;

        }



        .searchButton {

            top: 0;

        }



        .mobile-button-link2 {

            text-align: center;

            background: #1abc9c;

            padding: 5px;

            margin: 7px 12px;

            border-radius: 3px;

            margin-top: 15px;

        }



        .widget_a2 {

            padding: 5px 0px;

        }



        .widget_a2 .icon-box-content h4 {

            font-size: 15px;

        }



        .mobile-button-link2 span {

            font-size: 16px;

            color: #fff;

        }



        .m-add-photo i {

            font-size: 18px;

            color: #969696;

        }



        .m-add-photo {

            display: inline-block;

            width: 7%;

            position: relative;

            top: 3px;

            left: 5px;

            cursor: pointer;

        }



        .search input {

            height: 36px;

            margin-left: 0;

        }



        .m-post-area {
            padding: 0px;
        }
.m-text-area{
    margin-top: 0px !important;
}


        .m-text-area textarea {
            width: 100%;
            padding: 15px;
            height: 90px;
            border-radius: 0px;
            border-color: #a9a5a5;
            font-size: 13px;
            border-width: 2px;
        }



        .m-add-photo span {

            font-size: 12px;

            color: #6b6a6a;

            position: relative;

            bottom: -6px !important;

            line-height: 0;

        }



        .custom_profile {

            display: block;

        }



        .post_section_create_mobile h6 {

            margin-left: 10px;

        }



        .tag_icon {

            float: left;

            padding: 5px;

            background: #18bc9d;

            border-radius: 50%;

            color: #fff;

        }



        .tag_text {

            padding: 4px 0px;

            margin-left: 23px;

            font-size: 8px;

            font-weight: bold;

            color: #18bc9d;

        }



        .display_tag {

            background: #ebeeed;

            width: 23%;

            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

            display: inline-block;

            margin: 2px;

            border-radius: 10px;

        }



        .tag_peple_tags {

            width: 20%;

        }



        .tour_packages {

            width: 27%;

        }



        .main_post_buttons_div {

            margin-top: 5px;

        }



        .mobileapp {

            display: none !important;

        }



        .timeline_for_mobile {

            display: block !important;

        }



        .editprofile_mobile,

        .copylink_profile_mobile {

            display: inline-block;

            width: 49%;

            text-align: center;

        }



        #content {

            background: #fff;

        }



        .editprofile_mobile p,

        .copylink_profile_mobile p {

            font-size: 11px;

            margin-top: 10px;

            font-weight: bold;

            font-family: "Roboto", Sans-serif;

        }



        /** Social reviews css**/

        .glyphicon {

            margin-right: 5px;

        }



        .rating .glyphicon {

            font-size: 22px;

        }



        .rating-num {

            margin-top: 0px;

            font-size: 54px;

        }



        .progress {

            margin-bottom: 5px;

        }



        .progress-bar {

            text-align: left;

        }



        .rating-desc .col-md-3 {

            padding-right: 0px;

        }



        .sr-only {

            margin-left: 5px;

            overflow: visible;

            clip: auto;

        }



        .for_right {

            width: 48%;

            float: right;

        }



        .for_left {

            width: 48%;

            float: left;

        }



        .progress-bar-info {

            background-color: #5bc0de;

        }



        .social_reviews_mobile {

            border-radius: 3px;

            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

            background: #f5f5f5;

            padding-top: 10px;

            padding-bottom: 10px;

            margin-top: 20px;

        }



        .for_left_bar {

            float: left;

            padding: 0px;

            width: 9%;

        }



        .for_right_bar {

            float: right;

            padding: 0px;

            width: 84%;

            margin-left: 7px;

        }



        .social_review_head {

            font-family: "Roboto", Sans-serif;

            color: #78b688;

            text-align: center;

        }



        .progress-bar-warning {

            background-color: #f0ad4e;

        }



        .progress-bar-success {

            background-color: #5cb85c;

        }



        .progress-bar-success1 {

            background-color: #81c5a5;

        }



        .progress-bar-danger {

            background-color: #d9534f;

        }



        /** Social reviews css**/



        /** Followers mobile**/

        .followers_div_mobile_mobile {

            margin-top: 20px;

            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

            padding: 10px;

        }



        .followers_left_div {
            float: left;
            width: 48%;
            padding-left: 30px;
        }



        .followers_right_div {

            float: right;

            width: 48%;

            text-align: left;

        }



        .followers_right_div h4 {

            color: #143592;

            font-weight: bold;

        }



        /** Followers mobile **/



        .green_big {

            min-height: 30px;

            background: #18bc9d;

            margin-top: 10px;

        }



        .small_green_big {

            min-height: 7px;

            background: #18bc9d;

            margin-top: 10px;

        }



        .input_lo {

            width: 85%;

            margin-bottom: 5px;

            padding: 5px;

            border-radius: 20px;

            border: 1px solid #99bbb8 !important;

            height: 30px;

            font-size: 13px;

            cursor: pointer;

        }





        .create_textreamobile {

            width: 96%;

            height: 50px;

            padding: 5px;

            border: 0px;

        }



        .post_section_create_mobile {

            padding: 5px 0px;

            margin: 0px;

            font-weight: bolder;

        }



        hr.style-mobile-six {

            border: 0;

            margin: 0px;

            height: 0;

            border-top: 1px solid rgba(0, 0, 0, 0.1);

            border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        }



        .profile_photo_createpost img {

            width: 70%;

            border-radius: 100%;

            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

        }



        .profile_photo_createpost {

            display: inline-block;

            width: 12%;

            text-align: center;

            vertical-align: middle;

        }



        .profile_input_createpost {

            display: inline-block;

            width: 85%;

            //text-align: center;

            vertical-align: middle;

        }



        .photo_mobil_pos {

            color: #ccc;

        }



        .connection_header {
            text-align: left;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            padding: 10px 10px 10px 40px !important;
        }



        .connection_div {

            text-align: center;

        }



        .connection_btn {

            width: 95%;

            background: #dadbdd;

            font-size: 13px;

            border: 0px;

            margin-top: 10px !important;

            letter-spacing: 1px;

            margin: auto;

            font-weight: bold;

            padding: 5px 0px;

            border-radius: 4px;

        }



        .people_margin {

            margin-top: 5px;

            margin-bottom: 0px;

        }



        .col_3 img,

        .col_3 video {

            max-width: 90%;

            border-radius: 5px;

            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

        }



        .col_3 {

            width: 49%;

            display: inline-block;

            text-align: center;

            font-size: 12px;

            margin-top: 10px;

        }



        .peoples_row {

            margin-top: 5px;

        }



        .connection_div {

            margin-top: 20px;

        }



        .section5wrap {

            margin-top: 10px;

        }



        .avatar_profile {

            width: 20%;

            float: left;

        }



        .elementor-element.elementor-element-d4b9cb2.elementor-column.elementor-col-50.elementor-top-column {

            border: 0px !important;

        }



        .inner_img img {

            max-width: 100%;

            border-radius: 100%;

        }



        .what_happening_mobile_innerdiv {

            background: #f8f7f9;

            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

            padding: 10px;

            border-radius: 3px;

        }



        .elementor-column-wrapsec3 {

            border: 0px !important;

        }



        a,

        p,

        div {

            font-family: "Roboto", Sans-serif;

        }



        .content_avatar {

            width: 79%;

            float: right;

        }



        .clearfix {

            clear: both;

        }



        .what_happening_mobile {

            margin-top: 10px;

        }



        .notnow_profile_button {

            float: left;

            width: 48%;

        }



        .notnow_profile_button button {

            background: #e0e4e4;

            color: #000;

            border: 0px;

            padding: 7px 0px;

            border-radius: 5px;

            font-size: 13px;

            font-weight: bold;

        }



        .update_profile_button button {

            background: #33b155;

            color: #fff;

            border: 0px;

            padding: 6px 0px;

            border-radius: 5px;

            font-size: 12px;

        }



        .update_profile_button {

            float: right;

            width: 48%;

        }



        .content_avatar p {

            font-size: 12px;

            margin: 0px;

            padding-left: 8px;

        }



        .btn_custom_happening {

            width: 100%;

        }



        .copy_link_profile i {
            font-size: 20px;
            background: #33b155;
            color: #fff;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            padding: 10px;
            border-radius: 5px;
        }



        .remove_margin {

            margin: 0px;

        }



        .edit_icon_profile i {

            font-size: 20px;
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            background: #e0e4e4;
            color: #000;
            padding: 10px 8px;
            border-radius: 5px;    
        }



        .reviews_star_mobile p,

        .connection_mobile p,

        .followers_mobile p {

            margin: 0px;

        }




        .connection_mobile h6,

        .followers_mobile h6 {

            font-size: 14px;

            margin: 0px;

        }



        .for_mobile {

            margin: 0px !important;

        }



        .timeline_for_desktop {

            display: none;

        }



        .addphoto a {

            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

            font-size: 12px !important;

            border: 0px;

        }



        .connectionre a {

            margin-top: 5px;

            letter-spacing: 1px !important;

        }



        .button-link1.leftside {

            margin-top: 2px;

        }



        .button-text-mobile {

            font-size: 13px !important;

        }



        .custom_profile {

            margin-top: 85px;

            margin-bottom: 20px;

        }



        .photo-video {

            padding: 10px;

            background: #fff;

            margin: 10px;

            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

            border: solid 0px grey;

            font-family: "Roboto", Sans-serif;

            margin-left: 0px;

            margin-right: 0px;

        }



        .col-xs-6 {

            width: 46% !important;

            padding-left: 10px;

            padding-right: 10px;

        }





        .col-md-3.photo-img img {

            width: 100%;

            margin: 10px;

            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);

            border: solid 0px lightgrey;

            text-align: center;

        }



        .photo-video {

            margin-left: 0px;

            margin-right: 0px;

        }



        .button-text {

            font-size: 11px;

        }




        .elementor-element-7aa27be {

            display: none;

        }



        .media-body,

        .media-left,

        .media-right {

            display: table-cell;

            vertical-align: top;

        }



        .media-body {

            width: 10000px;

        }



        .media,

        .media-body {

            overflow: hidden;

            zoom: 1;

        }



        .modal-header {

            border-bottom: 0px;

        }



        .media_friend_image {

            width: 64px;

            border-radius: 4px;

            height: 64px;

        }



        .media-body p {

            margin: 0px;

        }



        .media-object {

            display: block;

        }



        .media {

            margin-bottom: 15px;

        }



        .media-left,

        .media>.pull-left {

            padding-right: 10px;

        }



        .location_div {

            font-size: 10px;

            background: #18bc9d;

            display: table;

            color: #fff;

            padding: 3px 8px;

            border-radius: 3px;

            margin-bottom: 10px;

        }



        .mobile_agent_name a {

            font-weight: bold;

            color: #1d4354c9;

            text-decoration: none;

        }



        .mobile_agent_name {

            text-transform: capitalize;

        }



        .margin_r {

            margin: 0px;

            font-weight: bold;

        }



        .popup_header {

            width: 100%;

            font-weight: bold;

            font-size: 12px

        }



        .header_search {

            width: 100%;

            background: #e7ebec;

            border: 1px solid #e7ebec;

            padding: 6px;

            color: #a1a2a4;

            margin-top: 10px

        }



        .back_btn {

            display: inline-block;

            width: 12%;

            text-align: center;

        }



        .back_btn button {

            background: none;

            border: 0px;

        }



        .popup_header_title {

            display: inline-block;

            width: 70%;

            text-align: center;

        }



        .search_icon {

            display: inline-block;

            width: 12%;

            text-align: center;

        }



        .profile_pictures,

        .uploaded_pictures {

            width: 46%;

            display: inline-block;

            font-weight: bold;

            text-align: center;

            font-size: 13px;

        }



        .custom_color {

            color: #0b0b92 !important;

        }



        .nav-tabs li a {

            padding: 5px;

            color: #000;

            font-size: 14px;

            font-weight: bold;

            text-decoration: none;

        }



        .photo_mobil_pos {

            display: inline-table;

            width: 16%;

            color: #a9a7a7;

            text-align: center;

            vertical-align: middle;

            min-height: 40px;

        }





        .edit-delete-footer {

            padding: 11px;

        }



        .DeleteConte {

            top: 37%;

            width: 70%;

            height: 27%;

            border: none;

            left: 15%;

        }



        .EditConte {

            top: 0;

            width: 100%;

            height: 100%;

            left: 0;

            overflow-y: scroll;

        }



        .show_tabs {

            width: 90%;

            right: 0;

            height: 380px;

        }



        .open>.dropdown-menu {

            display: block;

        }



        .ShareDropdown {

            min-width: 100%;

        }



        .content_mobile p {

            margin: 0px;

            color: grey;

        }



        .hide_in_mobile {

            display: none;

        }



        .timelinecontentwrap {

            z-index: 0 !important;

        }



        .main_area {

            display: block;

        }



        .mytimelinewrap {

            border: 0px !important;

        }



        .elementor-element-populatedsec {

            padding: 0px;

        }



        hr.style-two {

            border: 0;

            height: 0;

            margin-top: 5px;

            margin-bottom: 5px;

            border-top: 1px solid rgba(0, 0, 0, 0.1);

            border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        }



        .mobile_post_image img {

            max-width: 100%;

        }



        .content_mobile {

            padding: 12px 10px;

        }



        .mobile_agent_name {

            font-weight: bold;

            font-weight: bold;

            color: #1d4354c9;

        }



        .row {

            margin: 0px;

        }



        .post_for_mobile {

            margin-top: 0px;

            margin-bottom: 30px;

        }



        .post_for_mobile {

            display: block;

        }



        .mobile_post_content {

            font-size: 14px;

            padding-top: 10px;

            padding-bottom: 10px;

        }



        .main_buttons_div div a {

            color: #808080d6;

            font-size: 12px;

        }



        .main_buttons_div .like_mobile,

        .main_buttons_div .comment_mobile,

        .main_buttons_div .share_mobile {

            width: 32%;

            padding: 3px 0px;

            text-align: center;

            cursor: pointer;

            display: inline-block;

        }



        .main_buttons_div div:hover {

            background: #f3f3f3;

        }



        div.pac-container {

            z-index: 999999 !important;

        }



        #mobile-short-post-feeling-text {

            margin-left: 12px;

            font-size: 14px;

        }



    }



    /* End Media query 600 Mobile Css */





    i.icon-global-c {

        font-size: inherit !important;

        padding-left: inherit !important;

        color: inherit !important;

    }

</style>



<style>

@media (min-width: 180px) and (max-width: 300px) {

    .mytimepst{
        display: none;
    }
    .m-post1 span{
        display: none;
    }
    .mobile_agent_name{

        font-size:10px;
    }

    .content_mobile p{      

        font-size:9px !important;

    }

    .for_img img{

        margin-top:0px;

    }

    .for_img img{

        border-radius: 50px ;

        position: relative;

        width: 35px;

        margin-top: 7px;

        bottom: 1px;

        height: 35px;

    }

    hr.style-two{

        margin-top: 20px;

    }

}

@media (min-width: 180px) and (max-width: 480px) {

        hr.style-two{

            margin-top: 20px;

        }

        .header_user_content{

            padding-left:0px;

        }

        .content_mobile {

            padding: 12px 0px;

        }

        .m-user-input input{

            font-size: 8px;

        }

    }

</style>

<style>

    .event-tab {

        display: none;

    }



    .add-on {

        cursor: pointer;

    }



    #event-type-dropdown {

        cursor: pointer;

    }



    p {

        margin: 0px;

    }



    .width40 {

        width: 23%;

    }



    .width15 {

        text-align: center;

        font-size: 17px;

        color: grey;

        width: 13%;

    }



    .text-normal {

        color: grey;

    }



    .inline_t {

        display: inline-table;

        font-size: 12px;

        margin-left: 10px;

        vertical-align: middle;

    }



    .invite_connection_title,

    .event_type,

    .title_location {

        margin: 15px 0px;

    }



    .for_mututal {

        font-size: 12px;

        font-weight: bold

    }



    .for_mut_color {

        color: grey

    }



    .tokenize>.tokens-container {

        min-height: 65px;

        font-size: 15px;

    }



    .inputs_data {

        margin-top: 10px;

    }



    a,

    p,

    div,

    h1,

    h2,

    h3,

    h4,

    button,

    input {

        font-family: "Roboto", Sans-serif;

    }



    .shedule_event_main_wrapper {

        background: #fff;

        border: 1px solid #3333338a;

        margin-top: 10px;

    }



    .shedule_pageheading {

        position: relative;

        background: #F5F6F8;

        padding: 10px 5px;

        border-bottom: 1px solid #ccc6;

    }



    .content_row {

        padding: 15px;

    }



    .shedule_pageheading h1 {

        color: #000 !important;

        margin: 0px;

    }



    .shedule_pageheading span {

        font-size: 18px;

        position: absolute;

        right: 10px;

        top: 13px;

    }



    .event_name_shedule {

        display: inline-table;

        width: 20%;

    }



    #shedule_title {

        font-size: 14px;

    }



    .event_name_shedule p,

    .invite_connection_title p,

    .event_type p,

    .title_location p {

        font-size: 17px;

        margin: 0px;

        font-weight: bold;

    }



    .event_text_shedule {

        display: inline-table;

        width: 76%;

    }



    .event_text_shedule input {

        width: 60%;

    }



    .event-tour-package-row {

        margin-top: 10px;

    }



    .event-submit-row {

        text-align: right;

        border-top-style: solid;

        padding-top: 15px;

        margin-top: 15px;

        color: #dee1e4;

        border-width: 1px;

    }



    .event_display_table_cell img {

        width: 100%;

    }



    .event_display_table_cell {

        display: inline-table;

        width: 30%;

        vertical-align: middle;

    }



    .event_display_image_cell {

        display: inline-table;

        vertical-align: middle;

        width: 30%;

    }



    .event_display_image_cell p {

        margin: 0px;

        font-size: 20px;

        margin-left: 10px;

    }



    .event_button {

        width: 23%;

    }



    .event_button button {

        background: #b7b4b4a8;

        width: 100%;

        padding: 5px 0px;

        color: #6b6b6bb5;

    }



    .peoplegoing_fes {

        color: #0254EB;

    }



    .event_inner_div .btn-group {

        width: 100% !important;

    }



    .event_details p {

        margin: 0px;

    }



    .event_details {

        width: 60%;

    }



    .event_date {

        width: 10%;

    }



    .event_button,

    .event_details,

    .event_date {

        display: inline-table;

        vertical-align: middle;

    }



    .color_d_p {

        color: red;

    }



    .title_fes {

        color: #000;

        letter-spacing: 1px;

        font-weight: bold;

    }



    .date_fes {

        font-weight: bold;

        color: #675c5cbf;

        font-size: 11px;

    }



    .cusomt_private_dropdown,

    .cusomt_private_dropdown .dropdown,

    .cusomt_private_dropdown .dropdown .btn {

        width: 100%;

        background: #f4f4f4;

        text-align: left;

    }



    .inline_t i {

        font-size: 23px;

    }



    .cusomt_private_dropdown .dropdown-menu li {

        margin-bottom: 10px;

        cursor: pointer;

    }



    .cusomt_private_dropdown .dropdown-menu {

        width: 100%;

    }



    .width_25 {

        display: inline-table;

        width: 25%;

        vertical-align: middle;

    }



    .width_69 {

        display: inline-table;

        vertical-align: middle;

        width: 69%;

    }



    .custom_round .btn {

        padding: 3px 10px !important;

    }



    .custom_round {

        background-size: cover;

        background-repeat: no-repeat;

        font-weight: bold;

        text-align: center;

        border: 1px solid #333;

        width: 55%;

        margin: auto;

        border-radius: 50%;

        padding: 34px 31px;

    }



    .text_dates {

        display: inline-table;

        vertical-align: middle;

    }



    .input-icon {

        position: absolute;

        right: 6px;

        color: #80808094;

        font-size: 20px;

        top: 7px;

        /* Keep icon in center of input, regardless of the input height */

    }



    .input-wrapper {

        position: relative;

    }



    .bootstrap-datetimepicker-widget ul {

        padding: 0px;

    }



    /* On screens that are 992px or less, set the background color to blue */

    @media screen and (max-width: 992px) {

        .width_69 {

            width: 59%;

        }



        .custom_round {

            width: 80%;

        }



        .input-icon {

            top: 2px;

        }



        .width_25,

        .width40 {

            width: 40%;

        }



        .cus {

            width: 100% !important;

        }

    }



    @media(max-width: 600px) {

        .timeline_for_desktop.mytimelineDesktop{

            display: none;

        }



        .main_area.mobile-main{

            display: block;

        }



        .custom_profile.cProfile-mobile{

            display: block;

        }

        .event-tab {

            margin: 68px 0px;

        }



        .width_25,

        .width_69,

        .cus,

        .event_text_shedule,

        .event_name_shedule,

        .event_text_shedule input {

            width: 100% !important;

            margin-top: 10px;

        }



        .custom_round {

            width: 55%;

        }



        .dropdown {

            z-index: 1 !important;

        }



        .width40 {

            width: 40%;

        }



        .shedule_pageheading h1 {

            color: #000 !important;

            margin: 0px;
            font-size: 15px !important;
            margin-top: 11px;
            font-weight: bold;
        }
        .text_dates {
            font-size: 12px !important;
        }
        p,
        .text_dates {
            font-size: 11px !important;
        }
        .input-icon {
            font-size: 16px;
            top: 4px;
        }
    }

.post-container{
    height: 400px;
    overflow-y:scroll 
}


 .mytime_photo_opened {
     background-color: #333;
     background-color: rgba(51, 51, 51, 0.9);
     cursor: pointer;
     height: 100%;
     left: 0;
     overflow-y: scroll;
     padding: 24px;
     position: fixed;
     text-align: center;
     top: 0;
     width: 100%;
}
.timelinecontentwrap {
    z-index: auto;
}
 .mytime_photo_opened:before {
     background-color: #333;
     background-color: rgba(51, 51, 51, 0.9);
     color: #eee;
     content: "x";
     font-family: sans-serif;
     padding: 6px 12px;
     position: fixed;
     text-transform: uppercase;
}
 .mytime_photo_opened img {
     box-shadow: 0 0 6px 3px #333;
     width: 498px;
     height: 486px;
}
 .no-scroll {
     overflow: hidden;
}
.looking-travel-friend_desktop i.fas.fa-circle {
    margin-top: 13px;
    font-size: 20px;
    color: white;
}
.looking-travel-friend_desktop i.far.fa-check-circle {
    display: none;
    margin-top: 7px;
    font-size: 20px;
    color: #3f48cc;
}

 .media-frame select {
        height: 34px !important;
        font-size: 15px !important;
        padding: 2px;
        font: caption;
        color: #7d7a7a;
    }
    .another-user-section span {
        word-break: break-word;
    }
    .user-comment-area {
        margin-bottom: 10px;
        display: flex;
    }


.custom_viewp_btn{
    padding:10px 0px;
}


.for_bg_cr{
    background: #fafafa !important;
}

input#short-post-location-mobile {
    background: #fafafa;
    border: 0px !important;
    color: #000 !important;
    padding: 10px;
    box-shadow: none !important;
    width: 100%;
}
.pac-container{
    width: 90% !important; 
}
.row1_col_2,.row1_col_1{
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}


.div_trave{
    width: 85%;
    background: #00aff0;
    font-size: 13px;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}
.div_mobile_travel span{
    color: #f4f4f4c4;
}
.div_mobile_travel{
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}
.trav_checkbox{
    width: 24%;
    vertical-align: middle;
    display: inline-block;
}
.for_remove_ad{
    padding-left: 0px !important;
    padding-right:0px !important; 
}

#opta[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}
.checkboxtext
{
  display: inline;
    padding: 6px;
    font-size: 21px;
}

.date-container {
    padding: 0px 10px;
}



.image_d{
    width: 23%;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    height: 100px;
    background:red; 
}


.image_1{
    cursor: pointer;
}

.custom_photos{
    width: 45%;
    display: inline-block;
}

.add_img{
    background: #fff;
    padding: 3px;
    border-radius: 2px;
    cursor: pointer;
}
.border_d {
    border: 2px dashed #ccc;
    height: 100%;
    padding: 25px 0px;
    font-size: 25px;
    color: #ccc;
    vertical-align: middle;
}
.text_and_image_div{
    padding-bottom: 10px;
}
.text_after_upload{
    width:48%;
    display: inline-block;
    vertical-align:middle
}


.mytime_image_div{
    width: 90%;
    position: relative;
    height: 370px;
    display: inline-block;
}
.mytime_image_div img{
        width: 100%;
        height: 350px;
    }


.for_70{
    width: 70%;
    text-align: left;
}
.for_3{
    width: 3%;
}
.for_20{
    text-align: center;
    width: 20%;
}

.progress-rating-5 {
    background-color: #57bb8a;
}

.progress-rating-4 {
    background-color: #9ace6a;
}

.progress-rating-3 {
    background-color: #ffcf02;
}

.progress-rating-2 {
    background-color: #ff9f02;
}

.progress-rating-1 {
    background-color: #ff6f31;
}
.icon2{
    width: 10% !important;
}

.icon2{
    width: 10% !important;
}
.iconsd.icon3{
    width: 17% !important;
}
.icon4, .icon5, .icon6{
    width: 13% !important;
}
.iconsd_d{
    width: 13% !important;
}
.post_area_time_span{
    width: 180px;
    margin-left: 0px;
    font-size: 10px;
}





/*Start Mytimeline All internal Css*/
.mytime_video_desk{
    position: relative;
}
.video_overlay {
  transition: .5s ease;
  opacity: 0.7;
  position: absolute;
  top: 79%;
  left: 50%;
  width:100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.post_video_overlay {
  transition: .5s ease;
  //opacity: 0.7;
  position: absolute;
  top: 93%;
  background:rgba(0,0,0,0.7);
  left: 50%;
  width:100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.post_vd_ovlay_btn a i{
    color:#fff; 
}
.vd_ovlay_btn,.post_vd_ovlay_btn {
  color: white;
  font-size: 16px;
  padding: 6px 15px;
}
.vd_ovlay_btn i.fas.fa-play,.post_vd_ovlay_btn i.fas.fa-play{
    position: relative;
    left: -32%;
}
.vd_ovlay_btn i.fas.fa-volume-up,.post_vd_ovlay_btn i.fas.fa-volume-up{
    position: relative;
    right: -32%;
}
.vd_ovlay_btn a,.post_vd_ovlay_btn a{
    color:white;
}

.not_posted h1 {
    color: #333333ad;
    font-size: 35px;
    line-height: 50px;
}
.not_posted{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 0;
}
    .mytime_vd_gallery{
        position: relative;
    }
    .mytime_video_opened {
        background-color: #333;
        background-color: rgba(51, 51, 51, 0.9);
        cursor: pointer;
        height: 100%;
        left: 0;
        overflow-y: scroll;
        padding: 24px;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
    }

    .mytime_video_opened:before {
        background-color: #333;
        z-index: 2222;
        background-color: rgba(51, 51, 51, 0.9);
        color: #eee;
        content: "x";
        font-family: sans-serif;
        padding: 6px 12px;
        position: fixed;
        text-transform: uppercase;
    }

    .mytime_video_opened video {
        box-shadow: 0 0 6px 3px #333;
        width: 498px;
        height: 486px;
    }

    .video_container i.far.fa-play-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #1283de;
        font-size: 30px;
        cursor: pointer;
    }

    .video_container {
        position: relative;
    }
    .post_area_time_span{
        width: 180px;
        margin-left: 0px;
        font-size: 10px;
    }


#footer {
    display: none;
}



   .post-profile-area span {
        position: relative;
        left: 48px;
        top: -17px;
        font-size: 15px !important;
        display: inline-block;
    }
    .popup {
        background: rgba(100, 100, 100, 0.5);
        position: fixed;
        display: none;
        z-index: 5000;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    .popup>div {
        max-width: 600px;
        margin-top: 30px;
        width: 100%;
        overflow-y: scroll;
        height: 400px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        background: #fff;
        padding: 30px;
        z-index: 5001;
        text-align: center;
        border: 5px solid #9ad3de;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
    }

    .row1_ph {
        display: none;
    }

    .row_ph {
        display: -ms-flexbox;
        /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap;
        /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column_ph {
        -ms-flex: 25%;
        /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

    .column_ph img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        height: 135px;
    }

    .ph_arr_back2 {
        display: none;
    }

    .row1_ph img#single_pop_img {
        width: 100%;
        height: 300px;
    }

    .vertical_content_indes a span.badge {
        padding: 6px 4px;
        background-color: red;
        border-radius: 50%;
    }

    .photos_grid {
        position: relative;
    }


    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .column_ph {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }

    @media screen and (max-width: 600px) {
        .connection_header {
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            padding: 10px;
        }
        .video_overlay{
            background: black;
        }   
        .mytime_video_opened{
                top: 52px !important;
        }
        .mytime_video_opened video{
            width: 100% !important;
            height: 250px !important;
        }
        .peoples_row {
            display: none;
        }

        .connection_header {
            display: flex;
        }

        .connection_header_text {
            width: 50%;
        }

        .connection_header_icon {
            width: 50%;
            text-align: end;
            color: green;
            font-size: 20px;
        }

        i.fas.fa-chevron-up.connection_header_icon {
            display: none;
        }

        .life_expr_header {
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            padding: 10px;
            display: flex;
            text-align: left;
            margin-top: 10px;
        }

        .life_expr_header_text {
            width: 50%;
            margin: 0px;
        }

        .life_expr_header_icon {
            width: 50%;
            text-align: end;
            color: green;
            font-size: 20px;
        }

        i.fas.fa-chevron-up.life_expr_header_icon {
            display: none;
        }

        .photos_grid {
            display: none;
        }

        .photos_timeline_header {
            box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
            display: flex;
            margin-top: 10px;
        }

        .photos_header_icon {
            width: 50%;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid black;
            background-color: lightgray;
        }

        .photos_header_icon i {
            font-size: 30px
        }

        .timeline_header_icon {
            width: 50%;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: white;
        }

        .timeline_header_icon i {
            font-size: 30px
        }

        .post-container {
            display: none;
        }

        .mytime_ph_gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 30%;
        }

        .mytime_ph_gallery:hover {
            border: 1px solid #777;
        }
        .mytime_vd_gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 30%;
        }
        .mytime_vd_gallery video {
            width: 100%;
            height: 91px;
        }

        .mytime_ph_gallery img {
            width: 100%;
            height: 95px;
        }

        .mytime_ph_gallery_opened {
            background-color: #333;
            background-color: rgba(51, 51, 51, 0.9);
            cursor: pointer;
            left: 0;
            overflow-y: scroll;
            padding: 24px;
            position: fixed;
            text-align: center;
            top: 10%;
            width: 100%;
        }

        .mytime_ph_gallery_opened:before {
            background-color: #333;
            background-color: rgba(51, 51, 51, 0.9);
            color: #eee;
            content: "x";
            font-family: sans-serif;
            padding: 6px 12px;
            position: fixed;
            text-transform: uppercase;
        }
        .mytime_vd_gallery_opened {
            background-color: #333;
            background-color: rgba(51, 51, 51, 0.9);
            cursor: pointer;
            left: 0;
            overflow-y: scroll;
            padding: 24px;
            position: fixed;
            text-align: center;
            top: 10%;
            width: 100%;
        }

        .mytime_vd_gallery_opened:before {
            background-color: #333;
            background-color: rgba(51, 51, 51, 0.9);
            color: #eee;
            content: "x";
            z-index: 10000;
            right:24px;
            font-family: sans-serif;
            padding: 6px 12px;
            position: fixed;
            text-transform: uppercase;
        }


        .mytime_ph_gallery_opened img {
            box-shadow: 0 0 6px 3px #333;
            width: 100%;
            height: 280px;
        }
        .mytime_vd_gallery_opened video {
            box-shadow: 0 0 6px 3px #333;
            width: 100%;
            height: 280px;
        }
        .elementor-element.elementor-element-36e06d8.timelinecontentwrap.elementor-column.elementor-col-50.elementor-top-column {
            width: 100% !important;
        }
    }

       .post-container {
        display: none;
        height: 485px;
        margin-bottom: 15px;
    }
    .post_photos_header_desk {
        width: 50%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white;
    }
    .post_photos_header_desk i,.post_photos_header_desk span{
        //color: green;
        font-size: 15px;
        padding: 3px;
        cursor: pointer;
    }
    .post_feed_header_desk i,.post_feed_header_desk span{
        font-size: 15px;
        padding: 3px;
        cursor: pointer;
    }
    .post_feed_header_desk {
        width: 50%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .photos_feed_section {
        display: flex;
        background-color: lightgray;
    }
    .profile-content.more{
        margin: -15px 30px 20px 15px;
    }
    .post_area_loc_span {
        padding-top: 0px;
    }

       .mytime_desk_photo {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 32%;
    }
    .mytime_video_desk {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 32%;
    }
    .mytime_desk_photo img{
        width: 100%;
        height: 250px;
    }
    .mytime_video_desk video{
        width: 100%;
        height: 246px;
    }
    .mytime_desk_photo_gallery{
        height: 485px;
        overflow-y: auto;
        margin-bottom: 15px;
    }
    .text-area {
        padding: 0px 20px 13px 20px;
    }
    .create_post {
        background: #c3c3c3;
    } 
    .create_post h4{
        color:black;
    }  
    .add_locations {
        background-color: #c3c3c3;
    }
    .text-area textarea {
        height: 80px;
    }  
    .icon-box-content h4 {
        color: #666666;
        font-weight: 600;
    } 
    .widget_area {
        background-color: white;
    }
    .elementor-element.elementor-element-986189b.elementor-column.elementor-col-50.elementor-top-column {
        width: 25.1%;
    }
    .elementor-element.elementor-element-7aa27be.elementor-column.elementor-col-50.elementor-top-column {
        width: 20.1%;
    }  
    .elementor-element.elementor-element-36e06d8.timelinecontentwrap.elementor-column.elementor-col-50.elementor-top-column {
        width: 80%;
    }   
    .col_photo video {
        width: 70px;
        height: 70px;
    }
    .col_photo {
        width: 29.5%;
    }
    .col_photo img {
        width: 70px;
        height: 80px;
    }
    .photos_grid_coloum {
        width: 45%;
    }
    @media(max-width: 600px){
        .mytime_desk_photo_gallery{
            display: none;
        }
        .photos_grid_coloum {
            width: 30%;
        }

        #header{
            background: white;
            position: fixed;
            top: 0;
            z-index: 9999!important;
            width: 100%;
            padding: 0;
            z-index: 1000000 !important;
        }

    }

/*End Mytimeline All internal Css*/


.p_v_mobile a{
    text-decoration: none;
}
.p_v_mobile {
    padding: 7px 10px;
    background: #fff;
    margin: 8px;
    width: 35%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}


.div_commets{
    display: none;
}


/*All Start style_custom css*/
img.English-logo {
    width: 150px;
}

#footer {
    padding-top: 70px;
    padding-bottom: 5px;
    color: #fff!important;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: #1d4354 !important;
}

.row.mobilefooter {
    font-size: 13px;
}


.sfsi_wicons.shuffeldiv {
    margin-right: -5px;
}

.norm_row.sfsi_wDiv {
    text-align: center !important;
}

div#sfsiid_facebook {
    display: none !important;
}

div#sfsiid_twitter {
    display: none !important;
}

.mobilefooter div.mobilenone div.sfsi_widget {
    display: none;
}


.elementor-clearfix:after {
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0
}

/*mobile css*/
#header {
    padding: 0
}

.headerfont {
    font-family: 'Heebo', sans-serif!important;
    font-size: 15px;
    letter-spacing: 1px
}


.mobileonly,.mobilephoneonly, .mobilemenuonly {
    display: none;
}


.profileicon img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ccc
}

.mega-menu-link {
    display: inline-block;
    z-index: 9999!important
}


#mega-menu-wrap-main-menu #mega-menu-main-menu a.mega-menu-link {
    color: #226d82;
    line-height: 2.5em!important;
}


.mega-menu-link {
    color: white!important
}


.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute!important;
    background-color: white!important;
    min-width: 180px!important;
    padding: 20px 1px!important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)!important;
    z-index: 1000!important;
}

input:hover {
    color: #232323!important;
    opacity: 1!important;
}


.search input {
    display: table-cell;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


td, th {
    text-align: center!important;
}


input[type="Submit"] {
    border: 1px solid #1bba9a;
    background: #1bba9a;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

input:hover {
    opacity: 0.9;
    color: #fff;
}


#h-t a {
    color: black !important;
    font-size: 12px;
    text-decoration: none;
}

.breadcrumb {
    padding: 0px !important;
    margin: 0px !important;
    background: none !important;
}

.breadcrumb a {
    color: #428bca;
    text-decoration: none;
}
