.btn-submit-blue, a.btn-submit-blue, a.btn.btn-submit-blue {
  color: #fff;
  background-color: #0cad83;
  border-color: #0cad83;
  font-size: 16px !important;
  font-weight: bold;
  padding: 10px 20px !important; }
  .btn-submit-blue:hover, a.btn-submit-blue:hover, a.btn.btn-submit-blue:hover {
    color: #fff;
    background-color: #0a8968;
    border-color: #097d5f; }
  .btn-submit-blue:focus, .btn-submit-blue.focus, a.btn-submit-blue:focus, a.btn-submit-blue.focus, a.btn.btn-submit-blue:focus, a.btn.btn-submit-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(12, 173, 131, 0.5); }
  .btn-submit-blue.disabled, .btn-submit-blue:disabled, a.btn-submit-blue.disabled, a.btn-submit-blue:disabled, a.btn.btn-submit-blue.disabled, a.btn.btn-submit-blue:disabled {
    color: #fff;
    background-color: #0cad83;
    border-color: #0cad83; }
  .btn-submit-blue:not(:disabled):not(.disabled):active, .btn-submit-blue:not(:disabled):not(.disabled).active,
  .show > .btn-submit-blue.dropdown-toggle, a.btn-submit-blue:not(:disabled):not(.disabled):active, a.btn-submit-blue:not(:disabled):not(.disabled).active,
  .show > a.btn-submit-blue.dropdown-toggle, a.btn.btn-submit-blue:not(:disabled):not(.disabled):active, a.btn.btn-submit-blue:not(:disabled):not(.disabled).active,
  .show > a.btn.btn-submit-blue.dropdown-toggle {
    color: #fff;
    background-color: #097d5f;
    border-color: #087156; }
    .btn-submit-blue:not(:disabled):not(.disabled):active:focus, .btn-submit-blue:not(:disabled):not(.disabled).active:focus,
    .show > .btn-submit-blue.dropdown-toggle:focus, a.btn-submit-blue:not(:disabled):not(.disabled):active:focus, a.btn-submit-blue:not(:disabled):not(.disabled).active:focus,
    .show > a.btn-submit-blue.dropdown-toggle:focus, a.btn.btn-submit-blue:not(:disabled):not(.disabled):active:focus, a.btn.btn-submit-blue:not(:disabled):not(.disabled).active:focus,
    .show > a.btn.btn-submit-blue.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(12, 173, 131, 0.5); }

.btn-submit-org, a.btn.btn-submit-org {
  color: #fff;
  background-color: #ff6633;
  border-color: #ff6633;
  font-size: 16px !important;
  font-weight: bold;
  padding: 10px 20px !important; }
  .btn-submit-org:hover, a.btn.btn-submit-org:hover {
    color: #fff;
    background-color: #ff490d;
    border-color: #ff4000; }
  .btn-submit-org:focus, .btn-submit-org.focus, a.btn.btn-submit-org:focus, a.btn.btn-submit-org.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 102, 51, 0.5); }
  .btn-submit-org.disabled, .btn-submit-org:disabled, a.btn.btn-submit-org.disabled, a.btn.btn-submit-org:disabled {
    color: #fff;
    background-color: #ff6633;
    border-color: #ff6633; }
  .btn-submit-org:not(:disabled):not(.disabled):active, .btn-submit-org:not(:disabled):not(.disabled).active,
  .show > .btn-submit-org.dropdown-toggle, a.btn.btn-submit-org:not(:disabled):not(.disabled):active, a.btn.btn-submit-org:not(:disabled):not(.disabled).active,
  .show > a.btn.btn-submit-org.dropdown-toggle {
    color: #fff;
    background-color: #ff4000;
    border-color: #f23d00; }
    .btn-submit-org:not(:disabled):not(.disabled):active:focus, .btn-submit-org:not(:disabled):not(.disabled).active:focus,
    .show > .btn-submit-org.dropdown-toggle:focus, a.btn.btn-submit-org:not(:disabled):not(.disabled):active:focus, a.btn.btn-submit-org:not(:disabled):not(.disabled).active:focus,
    .show > a.btn.btn-submit-org.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 102, 51, 0.5); }

.um-profile-body {
  max-width: none !important;
  padding-top: 0 !important;
  border: 1px solid #eeeeee; }

.um-profile-body * {
  box-sizing: border-box !important; }

.um {
  max-width: 1000px; }

.um .um-profile-body .profile-content {
  max-width: 860px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.um-profile-nav-item i {
  left: 5px !important; }

.booking-code-list-left {
  position: relative; }
  .booking-code-list-left .thumb-wrap {
    position: relative;
    z-index: 1; }
  .booking-code-list-left .tag {
    position: absolute;
    z-index: 2;
    top: 5px;
    left: -5px;
    border-radius: 5px;
    box-shadow: 0px 2px 0 0 rgba(93, 202, 197, 0.31);
    background-image: -webkit-linear-gradient(left, #66cccc, #1bba9a);
    background-image: linear-gradient(to right, #66cccc, #1bba9a);
    padding: 10px 20px;
    font-size: 16px;
    color: #fff; }

.border-bottom-blue {
  border-bottom: 2px solid rgba(93, 202, 197, 0.31); }

.border-top-blue {
  border-top: 2px solid rgba(93, 202, 197, 0.31); }

.max-250 {
  max-width: 250px !important; }

.booking-code-list-right .fa, .booking-code-list-right .fas {
  color: #66cccc; }

.border-radius {
  border-radius: 5px; }

.v2-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.6px;
  color: #1a6d84; }

.booking-code-list .fa, .booking-code-list .fas {
  color: #66cccc; }

.v2-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .v2-actions a {
    text-decoration: none !important; }
  .v2-actions .cir {
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    margin-left: 4px;
    cursor: pointer; }
  .v2-actions .fa {
    color: #fff !important; }

.flex-half {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }

.bg-gray {
  background: #eee; }
