.main_wrapper_video{
	margin-top: 30px;
}

@media  (max-width: 640px){
	.main_wrapper_video{margin-top: 80px !important;}
	.container{max-width: 100% !important;}	

}

@media  (min-width: 500px) and (max-width: 640px){
.button_green{
	top: 60px !important ;
}
}


@media  (min-width: 680px) and (max-width: 800px){
	.content_mobile{
		padding: 0px !important;
	}
	.container{max-width: 100% !important;}
	.changes_for_mob {
		position: inherit !important;
		font-size: 8px !important;
	}
	.mobile_agent_name{
		margin-bottom:0px !important; 
	}
	#content .container{
		padding: 0px !important;
	}
}

