/*
Theme Name: Bali
Description: Bali theme
Version: 1.0
Author: Willy Portier
*/

#wacht a  { z-index:+9 !important; }
.wrap2  { width:65% !important;}

.cma-login {
    display: none !important;
}

#comments-top {
    /*display: none;*/
    border-top: 2px solid #d0dbe3;
    padding-top: 20px;
    margin-top: 20px;
}

#comments-top h3 {
    margin-top: 0;
}
.contactab
{
background-color: #f6f6f6;
}
#comments-top p {
    max-width: 770px;
    float: left;
    margin-right: 10px;
    margin-left: 47px;
    color: #888;
    font-style: italic;
}

#comments-top i {
    float: left;
    background: #1A6D84;
    border-color: #1A6D84;
}

.cma-wp-comments-replacement {
    /*display: none;*/
    border-bottom: 2px solid #d0dbe3;
    padding-bottom: 20px;
    margin-bottom: 20px;
    clear: both;
    float: left;
    width: 100%;
}

.cma-wp-comments-replacement h3 {
    color: #1A6D84;
    font-size: 30px;
}

.cma-wp-comments-replacement input,
.cma-wp-comments-replacement textarea {
    padding: 5px;
    color: #333;
    outline: 0;
    border: 1px solid #BDC2C8;
    -webkit-box-shadow: inset 0 1px 2px #e3e3e3;
    box-shadow: inset 0 1px 2px #e3e3e3;
}

.cma-wp-comments-replacement {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-flow: column;
    flex-flow: column;
}

.cma-wp-comments-replacement .cma-widget-ajax {
    -webkit-box-ordinal-group: 1;  /* OLD - iOS 6-, Safari 3.1-6 */
     -moz-box-ordinal-group: 1;     /* OLD - Firefox 19- */
     -ms-flex-order: 1;                 /* TWEENER - IE 10 */
    -webkit-order: 1;                   /* NEW - Chrome */
    order: 1;  
}

.cma-wp-comments-replacement .cma-question-form-container {
    -webkit-box-ordinal-group: 0;  /* OLD - iOS 6-, Safari 3.1-6 */
     -moz-box-ordinal-group: 0;     /* OLD - Firefox 19- */
     -ms-flex-order: 0;                 /* TWEENER - IE 10 */
    -webkit-order: 0;                   /* NEW - Chrome */
    order: 0;  
    display: none;
}

.cma-question-form-container form {
    width: 50%;
    margin: 0 auto;
}

.cma-thread-list {
    margin-top: 0;
}

.list-qas {
    float: left;
    width: 100%;
    border-top: 1px dotted #ccc !important;
    padding: 10px 0px;
    line-height: 1.5em;
    text-align: left;
    max-width: none !important;
    vertical-align: top;
    clear: both;
}

.cma-question-meta, .cma-answer-meta {
    float: left !important;
}

.qa-item {
    font-size: 14px !important;
    font-weight: normal !important;
    margin-left: 47px;
}

.cma-thread-list-header {
    display: none;
}

.cma-thread-summary-right {
    float: left !important;
    text-align: left !important;
}

.cma-wp-comments-replacement:after {
    content: "";
    clear: both;
}

.qa-item a {
    display: block !important;
    position: relative !important;
    line-height: 1.5 !important;
    color: #666 !important;
    font-size: 14px !important;
}

.qa-item a p {
    margin: 0;
}

.qa-item a:hover {
    color: #02669c !important;
}

.qa-item .q-mark-icon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 25px;
    background: url('images//merge-pic.png') no-repeat;
    position: absolute;
    top: 0;
    left: -47px;
}

.qa-item a:hover .q-mark-icon {
    background-position: 0 -30px;
}

.qa-item span {
    font-size: 12px;
    line-height: 1.5;
    color: #a9a9a9;
}

#comments-top,
.cma-wp-comments-replacement {
    /*display: none;*/
}

.answer-action {
    float: right;
    position: relative;
    margin-right: 15px;
}

.qa-item a.a-blue-type, 
.qa-item a.a-blue-type:hover {
    color: #2778dd !important;
}

.list-qas .answer-action .arrow-bottom, 
.list-qas .answer-action .arrow-top {
    position: absolute;
    right: -3px;
}

.list-qas .answer-action .arrow-bottom {
    top: 6px;
}

.arrow-big, .arrow-small {
    position: absolute;
    border-style: solid;
}

.arrow-big {
    top: 0;
    left: 0;
    border-width: 6px;
}

.arrow-bottom .arrow-big {
    border-color: #2778dd transparent transparent;
}

.arrow-small {
    top: 4px;
    left: 2px;
    border-width: 4px;
}

.arrow-bottom .arrow-small {
    top: 0;
    border-color: #fff transparent transparent;
}

.list-qas .answer {
    position: relative;
    margin-top: 10px;
    -webkit-box-shadow: 0 1px 6px #a0a0a0;
    box-shadow: 0 1px 6px #a0a0a0;
}

.answer .arrow-top {
    position: absolute;
    top: -17px;
    left: 23px;
    z-index: 2;
}

.list-qas .answer .arrow-top {
    top: -17px;
    left: auto;
    right: 61px;
}

.answer .arrow-top .arrow-big {
    border-width: 9px;
    border-color: transparent transparent #ff9c00;
}

.arrow-top .arrow-small {
    border-color: transparent transparent #fff;
}

.answer .arrow-top .arrow-small {
    top: 2px;
    left: 1px;
    border-width: 8px;
}

.list-qas .answer-content {
    padding: 15px;
    border: 1px solid #ff9c00;
    color: #666;
    border-radius: 3px;
}

.list-qas .answer-title {
    padding-bottom: 10px;
    color: #02669c;
    font-size: 14px;
    border-bottom: 1px dashed #666;
}

.list-qas .answer-title .time {
    float: right;
    font-size: 12px;
}

.list-qas .answer-content .answer-content-inner p,
.list-qas .answer-content .answer-content-inner {
    margin-top: 10px;
    font-size: 14px;
}

.list-qas .answer-action .arrow-top {
    top: 0;
}
.arrow-top .arrow-big {
    border-color: transparent transparent #2778dd;
}
.arrow-top .arrow-small {
    border-color: transparent transparent #fff;
}

.dis-none {
    display: none;
}

#tablepress-37.tablepress th.column-4,
#tablepress-37.tablepress th.column-5,
#tablepress-37.tablepress th.column-6,
#tablepress-37.tablepress th.column-8,
#tablepress-37.tablepress th.column-9,
#tablepress-37.tablepress td.column-4,
#tablepress-37.tablepress td.column-5,
#tablepress-37.tablepress td.column-6,
#tablepress-37.tablepress td.column-8,
#tablepress-37.tablepress td.column-9 {
    display: none;
}

@media only screen and (max-device-width: 768px) {
    .cma-question-form-container form {
        width: 100%;
        margin: 0 auto;
    }
    .above_search {
        display: none;
    }

    .social_icon {
        margin-bottom: 15px;
    }

    #logo img {
        width: 65%;
        display: inline-block;
        margin-top: 15px;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #000;
    background-color: #f6f6f6;
    font-family: "Times New Roman", Georgia, Serif;
}

.container {
    padding: 0 20px;
}

#header {
    padding: 0 0 15px;
    border-bottom: solid 7px #1A6D84;
}

#logo {
    position: absolute;
    top: -28px;
}

#h-t {
    float: right;
    width: auto;
    height: 37px;
    background: url(images/h-t-bk.jpg) no-repeat right 0/100% 100%;
}

#h-t a {
    color: black !important;
    font-size: 12px;
    text-decoration: none;
}

#h-l1, #h-l2 {
    margin: 0;
    padding: 8px 0 10px 28px;
}

#h-l2 {
    padding: 2px 30px 10px 20px;
}

#h-l1 a {
    padding: 0 9px;
}

#h-l2 a {
    padding: 0 4px; color:#fff !important;font-size: 16px;
}


a.buttype{background-color:#40cfaa;color:#fff;display: inline-block;padding: 3px 20px !important;border-radius: 5px;min-height:35px;min-height: 31px;}

.backtoformcustom a{border:3px solid #000 !important;margin-right:7px;}
.backtoformcustom a:hover{border:3px solid #000 !important;}


.misnsec{text-align:center;border:1px solid #206A7F;border-radius:5px;min-height: 265px;}
.misnsec h4{background-color:#206A7F;color:#fff;padding:15px 0;text-align:center;margin:0;font-weight:600;letter-spacing: 1px;}
.misnsec p{padding:0 10px;}
.strtbut{text-align:center;padding: 70px 0;display: inline-block;width: 100%;}

.strtbut a{background-color:/* #206A7F */#20B038;color:#fff;padding:18px 25px;text-align:center;border-radius: 5px;}
.strtbut a:hover{text-decoration: none;background-color:#368A8B;}

.spdimg{padding:15px 0;}




#h-l2 .flg {
    padding: 0 16px 0 0;
}

#h-l2 .badge {
    background-color: #434343;
}

#logo {
    position: static !important;
    margin-top: -14px;
    margin-left: -13px;
}

#menu {
    padding: 22px 0 0 35px;
}

#menu .navbar-default {
    float: right;
    margin-bottom: 0;
    min-height: inherit;
    background-color: transparent;
    border: 0;
}

#menu li {
    padding: 0 8px;
}

#menu li li {
    padding: 0;
}

#menu ul a {
    margin: 0 7px;
    padding: 11px 18px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

#menu li.drp > a {
    background: url(images/ico-arr.jpg) no-repeat right 20px;
}

#menu .open > a, #menu ul a:hover {
    background-color: transparent;
}

#menu li ul.dropdown-menu {
    padding: 0 0 5px;
    left: 40px;
    background-color: #1A6D84;
    z-index: 1000000;
}

#menu li ul.dropdown-menu a {
    margin: 0;
    color: #fff;
}

#menu li ul.dropdown-menu a:hover {
    background-color: #1cbacd;
}

#menu ul .last {
    padding-right: 0;
}

#footertop {
    padding: 10px 0 0 0;
    background-color: #368a8b;
}

#ft-shr {
    margin: 0;
    padding: 5px 0 0;
}

#ft-shr li {
    padding: 0 2px;
}

#ft-frm .btn {
    border-color: #7fc5f9;
    color: #fff;
    background-color: #7fc5f9;
}

#footer {
    padding: 30px 0 60px;
    color: #fff;
    background-color: #006400;
}

#f-qr li {
    padding: 0 10px;
}

#f-ph {
    padding-left: 35px;
    font-size: 22px;
}

#f-cp {
    padding-top: 10px;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

#f-cpy {
    padding-top: 5px;
}

#f-cpy, #f-cpy a {
    color: #76a7b5;
}

#footer hr {
    border-color: #317c91;
}

#footer .clr80 li {
    padding: 2px 0;
}

#footer .clr80, #footer .clr80 a {
    color: #dfe7ea;
}

#f-lgs li {
    padding: 10px;
}

#f-lgs img {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#hp #content .container {
    padding-top: 60px;
}

#content .container {
    padding: 0 25px 25px;
    /* background-color: #fff; 
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);*/
}

#content h1, #content h2 {
    color: #1A6D84;
    font-size: 30px;
}

h2.elementor-heading-title.elementor-size-small{
    color: #fff!important;
}

h2.elementor-size-small{
    background: #226D82;
    color: #fff;
}

#content h1 span {
    padding: 0 20px;
    color: #ff0000;
    font-size: 18px;
}

/*#content h2 span {
    float: right;
    padding-top: 8px;
    color: #666;
    font-size: 18px;
}*/

#ablks {
    padding: 25px 0 35px;
}

#ablks .ablk {
    position: relative;
}

#ablks .ablk img {
    width: 100%;
}

#ablks .ablk h3 {
    position: absolute;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    bottom: 0;
    width: 100%;
    background: url(images/bk-h.png) no-repeat center center;
    text-align: center;
}

#ablks .ablk h3 a {
    color: #fff;
    text-decoration: none;
}

#bblks {
    padding: 25px 0 35px;
}

#bblks .bblk {
    border: solid 1px #eee;
}

#bblks .bblk img {
    width: 100%;
    max-width: 100% !important;
    height: auto !important;
}

#bblks .bblk h3, #bblks .bblk p {
    margin: 0;
    padding: 15px 5px 0;
    font-size: 18px;
    color: #333;
    text-align: center;
}

#bblks .bblk p {
    padding-bottom: 15px;
    font-size: 24px;
    color: #e60012;
}

#bblks .bblk a {
    color: #333;
    text-decoration: none;
}

#icns {
    margin: 0;
    padding: 20px 30px;
    background-color: #a0add3;
    color: #fff;
    text-align: center;
}

#icns p {
    margin: 0;
    font-size: 14px;
}

#content .rmds {
    margin: 30px 0;
    padding: 20px 0;
    border: solid 1px #eee;
}

#content .rmds .col {
    padding: 0 20px;
}

#content .rmds img {
    width: 100%;
}

#content .rmds h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

#content .rmds h2 span {
    padding: 0;
}

#content .rmds ul {
    margin: 0;
    padding: 0 7px;
    list-style-image: url(images/blt-pin.png);
}

#content .sbpg .col img {
    width: 100%;
}

#content .sbpg p {
    padding: 10px 0;
    line-height: 25px;
}

#content .sbpg a.btn-default {
    font-size: 30px;
}

#turcnt {
    padding: 0 15px 15px;
    border: solid 1px #ddd;
}

#turcnt h2 {
    margin: 15px 0;
    padding: 15px 15px 15px 50px;
    background: #f7f8fb url(images/ico-7.png) no-repeat 10px 8px;
    font-size: 18px;
}

#turcnt h2.ico2 {
    background-image: url(images/ico-8.png);
}

#turcnt h2.ico3 {
    background-image: url(images/ico-9.png);
}

#turcnt h2.ico4 {
    background-image: url(images/ico-10.png);
}

#turcnt h2.ico5 {
    background-image: url(images/ico-11.png);
}

#turcnt h2.ico6 {
    background-image: url(images/ico-12.png);
}

#turcnt h2.ico7 {
    background-image: url(images/ico-13.png);
}

#tursldr .bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 15px 0 0;
    border: 0;
}

#tursldr .bx-wrapper .bx-viewport {
    border: 0;
    left: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
}

#tursldr .bx-wrapper .bx-controls-direction a {
    margin: 0;
    top: 45%;
    width: 33px;
    height: 61px;
}

#tursldr .bx-wrapper .bx-prev {
    background: url("images/sd-ar-l-sm.png") no-repeat scroll 0 0;
    left: 0;
}

#tursldr .bx-wrapper .bx-next {
    background: url("images/sd-ar-r-sm.png") no-repeat scroll 0 0;
    right: 0;
}

#hpsldr .bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    border-bottom: solid 10px #1A6D84;
    z-index: 9999;
}

#hpsldr .bx-wrapper .bx-pager {
    padding: 5px 0;
    bottom: -42px;
    background: url(images/blk-bk.png) no-repeat center 0;
    height: 35px;
}

#hpsldr .bx-wrapper .bx-pager-item {
    padding: 5px 0;
}

#hpsldr .bx-wrapper .bx-pager.bx-default-pager a {
    background-color: #fff;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#hpsldr .bx-wrapper .bx-pager.bx-default-pager a:hover, #hpsldr .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #66ff99;
}

#hpsldr .bx-wrapper .bx-viewport {
    border: 0;
    left: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
}

#hpsdfrm {
    height: 0;
}

#hpsdfrmc {
    position: absolute;
    padding: 50px 10px;
    z-index: 999999;
}

#hpsdfrmc h2 {
    margin: 0;
    font-size: 48px;
    color: #fff;
    text-shadow: 0 1px 5px #000;
}

#hpsdfrmc .bkblk {
    margin: 10px;
    padding: 10px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}

#hpsdfrmc .bkblk a {
    margin: 0 10px;
}

#hpsdfrmc .tbx {
    padding: 17px;
    border: 0;
}

#hpsdfrmc input.btn {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 24px;
}

#rightsearchform {
    position: absolute;
    right: 200px;
    z-index: 999999;
    padding: 120px;
}

#rightsearchform a {
    color: white;
    text-transform: uppercase;
}

#bcrumb {
    position: relative;
    padding: 7px 45px;
    left: -42px;
    top: -3px;
    background: url(images/bcrumb.png) no-repeat 0 0;
    font-size: 12px;
    color: #fff;
}

#bcrumb a {
    color: #fff;
}

#ablks .ablk, #bblks .bblk, #f-lgs img, #icns, #hpsdfrmc .tbx, #hpsdfrmc .bkblk {
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.p15 {
    padding: 15px;
}

.p-r-7 {
    padding-right: 7px;
}

@media only screen and (min-device-width: 769px) {
    .p-l-7 {
        padding-left: 7px;
    }
}

.bnrs img {
    width: 100%;
    max-width: 100%;
}

.text-white, .link-white a {
    color: #fff !important;
}

.text-red {
    color: #ff0000;
}

a.btn-default, input.btn, #menu ul .last a {
    margin: 0;
    padding: 10px 15px;
    background-color: #ffc751;
    -webkit-box-shadow: 0 1px 5px 0 #999;
    -moz-box-shadow: 0 1px 5px 0 #999;
    box-shadow: 0 1px 5px 0 #999;
}

a.arr-sm {
    padding-right: 35px;
    background: #ffc751 url(images/arr-lft-sm.png) no-repeat right 12px;
}

a.arr-lg {
    padding-right: 45px;
    background: #ffc751 url(images/arr-lft-lg.png) no-repeat right 17px;
}

.bdr {
    border: solid 1px #eee;
}

a.btn:hover, #menu ul .last a:hover {
    background-color: #F00;
    color: #fff;
}

.search_select {
    webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png) 32px 5px no-repeat #fff;
}

.search_select::-ms-expand { /* for IE 11 */
    display: none;
}

.pagination {
    clear: both;
    padding: 20px 0;
    position: relative;
    font-size: 11px;
    line-height: 13px;
}

.pagination span, .pagination a {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto;
    color: #fff;
    background: #555;
    border-radius: 5px;
}

.pagination a:hover {
    color: #fff;
    background: #368a8b;
}

.pagination .current {
    padding: 6px 9px 5px 9px;
    background: #368a8b;
    color: #fff;
}

#searchsubmit {
    height: 34px;
    padding: 5px 15px;

}

.input-group .wpcf7-email {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.wpcf7-email {
    display: table-cell;

    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

div.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    clear: both;
    width: 34%;
    float: right;
    color: #fff;
}

#ft-frm .btn {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#footer_skype img {
    margin: 0px !important;
    vertical-align: 0px !important;
}

#footer_skype div {
    float: left;

}

#footer_q {
    margin-left: -73px;
}

@media (max-width: 480px) {
    #footer_phone {
        font-size: 18px;

    }

    #footer_q {
        margin-left: 0px;
        font-size: 16px;
    }
}

@media only screen and (max-device-width: 768px) {
    #logo {
        position: absolute;
        top: 0px;
    }

    #rightsearchform {
        padding: 120px 0px 120px 70px;
    }

}

@media only screen and (max-width: 450px) {
    .single_content img, .single_content iframe {

        height: 100% !important;
    }

    .wp-caption {
        width: 100% !important;
    }

    #content .sbpg .col img {
        height: 100% !important;
    }

    #content .sbpg a.btn-default {
        font-size: 20px;
        width: 100%;
    }

    #ablks .col-md-3 {

        margin-bottom: 10px;
    }

    .tour_info img {
        width: 100% !important;
        height: 100% !important;
    }
}

/*------------------------------------------------*/
/*------[CTA OUR FLEET]------*/
/*------------------------------------------------*/

.cta-ourfleet {
    background-color: #006cb3; /* Blue Brand */
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 200px;

}

/* Custom CSS */

#front-end-user-profile-map-form input[type=submit] {
    display: none;
}

.travel-hub > div > li.pagenav {
    margin-left: 10px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
}

.travel-hub > div > li.pagenav ul {
    text-transform: none;
    font-weight: normal;
}

.bbpress-navigation > li {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
}

.bbpress-navigation > li > ul {
    text-transform: none;
    font-weight: normal;
}

.left-sidebarforum {
    width: 30%;
    float: left;
    margin-left: -25px;
    padding-left: 25px;
    padding-right: 25px;
    /*background-image: url("images/left-forum-bg.jpg");*/
    background-image: url("images/left-forum-bg2.png");
    background-color: rgba(76, 175, 80, 0.3);
    background-size: 110% 100%;
}

.right-forum {
    width: 70%;
    float:left;
    margin-left: 25px;
}

#single-member .left-sidebarforum{
    background-image: none;
}

.widget.buddypress > .bpsf-list-options,
.widget.buddypress > #members-list-options,
.widget.buddypress > #members-list > li > .item {
    display: none;
}

.widget.buddypress > .friends-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget.buddypress > .friends-container ul li {

}

.widget.buddypress > #members-list > li {
    display: inline-block;
}

#single-member .widget {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

#single-member #item-header {
    padding-top: 20px;
}

#single-member .profile .bp-widget .label {
    color: #000 !important;
    background: none !important;
    border: none !important;
    font-size: 16px !important;
    display: inline-block;
    text-align: left;
    width: auto !important;
    padding-right: 0 !important;
}

#single-member .profile .bp-widget .data {
    color: #000 !important;
    font-size: 16px !important;
    background: none !important;
    display: inline-block;
    text-align: left;
    width: auto !important;
    padding-left: 5px !important;
}

#single-member #user-gallery .rtmedia-container h2.rtm-gallery-title {
    display: none;
}

#single-member .button-nav {
    padding: 0 !important;
}

#single-member .profile #map-edit .cmb-th,
#single-member .profile #map-edit .cmb-td {
    padding: 0;
}

#single-member .profile #map-edit .cmb-th {
    width: 120px;
}

#single-member .profile #map-edit .cmb-add-row {
    margin-top: 5px;
}

#single-member .profile #map-edit .cmb2-metabox > .cmb-row {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

 #single-member #map-edit .cmb2-wrap .cmb-td input, 
 #single-member #map-edit .cmb2-wrap .cmb-td textarea {
    margin-right: 5px;
 }
 #single-member #map-edit .cmb2-wrap .cmb-row.cmb-repeat-row {
    padding-top: 0.8em;
 }
 #single-member #map-edit .cmb2-wrap .cmb-row.cmb-repeat-row:first-child {
    padding-top: 0;
 }

 #single-member #map-edit .cmb2-wrap .cmb-td .button {
    height: 32px;
}

#google-map-wrap {
    height: 400px;
    clear: both;
}

blockquote {
    font-style: italic;
    color: #666;
}

#map {
    height: 100%;
}

#user_profile_main_page_map {
    height: 350px;
    clear: both;
}

#google-map-search-box {
    background-color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    margin-left: 12px;
    margin-top: 10px;
    padding: 6px 11px 6px 13px;
    text-overflow: ellipsis;
    width: 320px;
  }

  #google-map-search-box:focus {
    border-color: #4d90fe;
  }

  #map-lat-lng {
    margin-top: 10px;
  }

.clear {
    clear: both;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 666px) {
    #single-member {
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-flex-flow: column;
        flex-flow: column;
    }
    #single-member .left-sidebarforum {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
        -webkit-box-ordinal-group: 1;  /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-ordinal-group: 1;     /* OLD - Firefox 19- */
        -ms-flex-order: 1;                 /* TWEENER - IE 10 */
        -webkit-order: 1;                   /* NEW - Chrome */
        order: 1;  
    }
    #single-member .right-forum {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
        -webkit-box-ordinal-group: 0;  /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-ordinal-group: 0;     /* OLD - Firefox 19- */
        -ms-flex-order: 0;                 /* TWEENER - IE 10 */
        -webkit-order: 0;                   /* NEW - Chrome */
        order: 0;  
    }
}

@media only screen and (max-width : 400px) {


    #footer a[href="http://kadinjakarta.or.id/"] img {
        width: 100%;
    }

    .google-markers-intro {
        width: 100%;
        height: auto;
    }
}

.pos32 {
    background: #ffffff;
    color: #4f5a02;
    display: block;
    padding: 6px 5px;
    border: 1px solid #eee;
}

.destination_trip_type .featured_image {
   /* float: left;
    margin-right: 10px; */
}

.destination_trip_type .featured_image img {

}

#search_price_box_form {
    width: 260px;
    position: absolute;
    right: 130px;
    z-index: 99999;
    background: rgba(27, 108, 131, 0.95);
    border: none;
    padding: 0 25px 20px 25px;
}

#search_price_box_form p#heading {
    color: white;
    background: #0b6479;
    padding: 5px 20px;
    margin-left: -20px;
    margin-right: -20px;
}

.search_price_box_field {
    width: 100%;
    margin-bottom: 20px;
}

.search_price_box_field select {
    width: 100%;
}

.search_price_box_field .scale {
    display: none;
}

.search_price_box_field.price-range {
    margin-top: 25px;
    padding: 0 5px;
}

.search_price_box_field.price-range .slider-container .back-bar .pointer-label {

}

#search_price_box_form input[type=submit] {
    display: table;
    margin:  0 auto;
}






/* added by me */


.destination_trip_type {
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.featured_image {

    width: 220px;
    height: 220px;
    display: inline-block;
    float: left;

}

.destination_trip_type .featured_image img {

    max-width: 100%;
    height: 100%;

}

.itinerary {

    display: inline-block;
    width: 100%;
    float: left;

}

.tour_content img {

    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width:100%;
    height:auto;

}

.tour_content {
    display: inline-block;
    float: left;
    width: 75%;
    height: auto;
    position: relative;
    padding-left: 20px;
}

.adult_span.result-1s {
  background-color: #4b8cc5;
padding: 5px;
  color:white;
}
.child_span.result-1s {
  background-color: #4b8cc5;
padding: 5px;
  color:white;
}




/*added by me  for home page search form*/


#search_price_box_form {
    width: 360px;
    position: absolute;
    right: 130px;
    z-index: +9;
    background: rgba(27, 108, 131, 0.95);
    border: none;
    padding: 0 25px 20px 25px;
    height: 360px;
}

#destinations_trip_types {
    display: inline-block;
    float: left;
    width: 100%;
text-align: left;
}

#search_price_box_form p#heading {
    color: white;
    background: #0b6479;
    padding: 10px 20px;
    margin-left: -20px;
    margin-right: -20px;
}


.search_price_box_field select {
    width: 100%;
    height: 45px;
}


.search_price_box_field.price-range {
    margin-top: 25px;
    padding: 0 5px;
    width: 100%;
    display: inline-block;
    float: left;
}




.selected-bar {
    width: 100% !important;
  left: 0px !important;
}

#search_price_box_form input[type="submit"] {
    display: table;
    margin: 0 auto;
    padding: 8px;
    width: 130px;
}

#search_price_box_form2{
    width: 360px;
    position: absolute;
    right: 495px;
    z-index: 99999;
    background: rgba(27, 108, 131, 0.95);
    border: none;
    padding: 0 25px 20px 25px;
    height: 360px;
}

#search_price_box_form2 p#heading {
    color: white;
    background: #0b6479;
    padding: 10px 20px;
    margin-left: -20px;
    margin-right: -20px;
}

#search_price_box_form2 input[type="submit"] {
    display: table;
    margin: 0 auto;
    padding: 8px;
    width: 130px;
}


.slider-container .back-bar .pointer-label {
    position: absolute;
    top: -26px !important;
    font-size: 14px !important;
    background: transparent !important;
    white-space: nowrap;
    line-height: 1;
    color: white !important;
}

.um-header.no-cover a.um-profile-photo-img{
    display: none!important;
}

@media (max-width: 640px) {
  #mega-menu-wrap-main-menu{
    padding-top :0px !important 
  }
  .English-logo img {
        width: auto;
        height: 40px !important;
    }
  .elementor.elementor-18536 {
    margin-top: 40px !important;
    }
    
}




/*NSL plugin CSS Start*/
div.nsl-container[data-align="left"] {
    text-align: left;
}
div.nsl-container[data-align="center"] {
    text-align: center;
}

div.nsl-container[data-align="right"] {
    text-align: right;
}

div.nsl-container .nsl-container-buttons a {
    text-decoration: none !important;
    box-shadow: none !important;
    border: 0;
}

div.nsl-container .nsl-container-buttons {
    display: flex;
    padding: 5px 0;
}

div.nsl-container-block .nsl-container-buttons {
    flex-flow: column;
    align-items: center;
}
div.nsl-container-block .nsl-container-buttons a {
    flex: 1 1 auto;
    display: block;
    margin: 5px 0;
    max-width: 280px;
    width: 100%;
}

div.nsl-container-inline {
    margin: -5px;
    text-align: left;
}

div.nsl-container-inline .nsl-container-buttons {
    justify-content: center;
}

div.nsl-container-inline .nsl-container-buttons a {
    margin: 5px;
    display: inline-block;
}

div.nsl-container-grid .nsl-container-buttons {
    flex-flow: row;
    align-items: center;
    flex-wrap: wrap;
}

div.nsl-container-grid .nsl-container-buttons a {
    flex: 1 1 auto;
    display: block;
    margin: 5px;
    max-width: 280px;
    width: 100%;
}



@media only screen and (min-width: 650px) {
    div.nsl-container-grid .nsl-container-buttons a {
        width: auto;
    }
}
div.nsl-container .nsl-button {
    cursor: pointer;
    vertical-align: top;
    border-radius: 4px;
}
div.nsl-container .nsl-button-default {
    color: #fff;
    display: flex;
}
div.nsl-container .nsl-button-icon {
    display: inline-block;
}
div.nsl-container .nsl-button-svg-container {
    flex: 0 0 auto;
    padding: 8px;
    display: flex;
}

div.nsl-container span {
    display: inline-block;
}
div.nsl-container svg {
    height: 24px;
    width: 24px;
    vertical-align: top;
}
div.nsl-container .nsl-button-default span.nsl-button-label-container {
    margin: 0 24px 0 12px;
    padding: 10px 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .25px;
    overflow: hidden;
    text-align: center;
    text-overflow: clip;
    white-space: nowrap;
    flex: 1 1 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
div.nsl-container .nsl-button-google[data-skin="dark"] .nsl-button-svg-container {
    margin: 1px;
    padding: 7px;
    border-radius: 3px;
    background: #fff;
}
div.nsl-container .nsl-button-google[data-skin="light"] {
    border-radius: 1px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
    color: RGBA(0, 0, 0, 0.54);
}

/*Button align start*/
div.nsl-container-block[data-align="left"] .nsl-container-buttons {
    align-items: flex-start;
}
div.nsl-container-block[data-align="center"] .nsl-container-buttons {
    align-items: center;
}
div.nsl-container-block[data-align="right"] .nsl-container-buttons {
    align-items: flex-end;
}
div.nsl-container-inline[data-align="left"] .nsl-container-buttons {
    justify-content: flex-start;
}
div.nsl-container-inline[data-align="center"] .nsl-container-buttons {
    justify-content: center;
}
div.nsl-container-inline[data-align="right"] .nsl-container-buttons {
    justify-content: flex-end;
}
div.nsl-container-grid[data-align="left"] .nsl-container-buttons {
    justify-content: flex-start;
}
div.nsl-container-grid[data-align="center"] .nsl-container-buttons {
    justify-content: center;
}

div.nsl-container-grid[data-align="right"] .nsl-container-buttons {
    justify-content: flex-end;
}

div.nsl-container-grid[data-align="space-around"] .nsl-container-buttons {
    justify-content: space-around;
}

div.nsl-container-grid[data-align="space-between"] .nsl-container-buttons {
    justify-content: space-between;
}

/* Button align end*/

/*NSL plugin CSS End*/