<?php

global $cmaQuestionLinkQuery;

$numberOfAnswers = (CMA_Settings::getOption(CMA_Settings::OPTION_VOTES_NO) && $thread->getNumberOfAnswers() == 0) ? CMA::__('no') : $thread->getNumberOfAnswers();
$additionalThreadClass = $thread->isSticky() ? 'cma_sticky_background' : '';
$additionalThreadClass .= ' '. ($thread->getNumberOfAnswers() > 0 ? 'answered' : 'unanswered');
$additionalThreadClass .= ' '. ($thread->isResolved() ? 'resolved' : '');
if (empty($cmaQuestionLinkQuery)) $cmaQuestionLinkQuery = array();

?>
	
<div class="list-qas <?php if( is_admin() ) : echo 'cma-thread-snippet '; endif;?><?php echo esc_attr($additionalThreadClass); ?>" data-question-id="<?php echo $thread->getId(); ?>">

	<?php do_action('cma_question_snippet_start', $thread, $displayOptions); ?>
	
	<?php if (empty($displayOptions['hideTitle'])): ?>
		<div class="qa-item <?php if( is_admin() ) : echo 'cma-thread-title '; else: echo 'qa-item-non-ad'; endif;?>">
			<?php if (!empty($displayOptions['showid'])): ?>
				<span class="cma-thread-ref-id"><?php echo $thread->getId(); ?></span>
			<?php endif; ?>
			<?php if( is_admin() ) : ?>
				<a href="<?php echo esc_attr($thread->getPermalinkWithBacklink($cmaQuestionLinkQuery)); ?>" title="<?php echo esc_attr($thread->getContent(100, true)); ?>">
					<i class="q-mark-icon"></i>
					<?php echo $thread->getContent(); ?>
				</a>
			<?php else: ?>
				<a href="javascript:;" title="<?php echo esc_attr($thread->getContent(100, true)); ?>"><i class="q-mark-icon"></i><?php echo $thread->getContent(); ?></a>
			<?php endif; ?>
			<span><?php echo date('m/d/Y h:i:s', $thread->getUnixDate())?></span>
			<?php 
			$cma_answers = baliGetAnswersByThread($thread->getId(), $approved = true, CMA_Answer::ORDER_BY_DATE, 'DESC', 1);
			if( sizeof($cma_answers) > 0 ) : //print_r($cma_answers); ?>
				<div class="answer-action">
                    <a class="a-blue-type js-view-answer" href="javascript:;">View Answer</a>
                    <div class="arrow-bottom">
                        <div class="arrow-big"></div>
                        <div class="arrow-small"></div>
                    </div>
                </div>
				<div id="bali-tour-qa-answers-<?php echo $thread->getId(); ?>" class="bali-tour-qa-answers">
					<div class="answer js-answer dis-none">
                        <div class="arrow-top">
                            <div class="arrow-big"></div>
                            <div class="arrow-small"></div>
                        </div>
                        <div class="answer-content">
                            <div class="answer-title">TourFromBali<span class="muted time"><?php echo date('m/d/Y h:i:s', strtotime($cma_answers[0]->comment_date) );?></span></div>
                            <div class="answer-content-inner">
                            	<?php echo $cma_answers[0]->comment_content;?>
                            </div>
                        </div>
                    </div>
				</div>
			<?php endif; ?>
		</div>
	<?php endif; ?>

	<?php do_action('cma_question_snippet_end', $thread, $displayOptions); ?>

</div>