<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.faqwd_conteiner {
    margin: auto;
}
.faqwd_search {
    width: 75% !important;
    margin-top: 42px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.faqwd_question_title_container {
    border-style: none !important;
    border-bottom: 1px solid #d4d4d4 !important;
}
.faqwd_question_title_container .faqwd_question_title {
    font-size: 16px !important;
    float: right !important;
}
.faqwd_question_title {
    padding-left: 0px !important;
    padding-top: 7px;
    width: 97% !important;
}
.faqwd_question_title_container span {
    color: rgb(32, 106, 127);
    font-weight: bold;
}
span.faqwd_quest_numbering {
    display: none !important;
}
.before20 {
    max-width: 2% !important;
    text-align: left !important;
    float: none !important;
}
.faqwd_question_title_container .before20 .arr {
    background: url(https://www.tourfrombali.com/wp-content/uploads/2018/07/icopn-arrow.png) !important;
    background-size: 16px 16px !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
}
.faqwd_question_title_container:hover {
    background-color:  transparent !important;
    color: rgb(32, 106, 127) !important;
}
.faqwd_question_title_container:hover span {
    color: rgb(32, 106, 127) !important;
}
.faqwd_question_title_container .faqwd_question_title:hover {
    color: rgb(32, 106, 127) !important;
}
.opened .faqwd_question_title span {
    color: rgb(32, 106, 127) !important;
}
.faqwd_question_title_container.opened {
    background: transparent !important;
    color: rgb(32, 106, 127) !important;
    border-color: transparent !important;
}
ul.faqwd_categories_ul {
    display: none;
}
.faqwd_question_li .opened .faqwd_question_title span {
    color: rgb(32, 106, 127) !important;
}
.faqwd_search_button {
    position: absolute;
    left: 10px;
}
.faqwd_search_input {
    padding-left: 45px !important;
    height: 45px !important;
}
.faqwd_search .faqwd_search_button {
    left: 12px !important;
    background-size: 26px 28px !important;
}
.container h1 {
    text-align: center;
    background: rgb(32, 106, 127);
    color: white !important;
    padding: 20px;
    font-size:30px;
    font-family: 'Lato' , sans-serif;
}
.faqwd_question_content {
    border-bottom: 1px solid #d4d4d4 !important;
}

.elementor-section-wrap{border:2px solid #ccc!important;box-shadow:2px 2px 10px #ccc}
.embed-responsive {border:none!important;margin:20px}

@media only screen and (max-width: 500px) {
.pop{display:none!important;}
    }</style>
<!-- end Simple Custom CSS and JS -->