<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#header{padding:0}
.headerfont{font-family: 'Heebo', sans-serif!important;font-size:15px;letter-spacing:1px}
#bcrumb{display:none!important}
.mobileonly,.mobilephoneonly, .mobilemenuonly{display:none;}
.messagenumbers{background:#5bbc2e!important;color:white;margin-left:-5px!important;-webkit-border-radius: 5px!important;-moz-border-radius: 5px!important;border-radius: 5px!important;}
.messagenumbers:hover{background:#43a316!important;}
.profileicon img{width:25px;height:25px;border-radius:50%;border:1px solid #ccc}
.mega-menu-link{display:inline-block;z-index:9999!important}
.mega-menu-link span{padding:4px;color:white;}
.#mega-menu-wrap-main-menu #mega-menu-main-menu{margin-top:-48px!important}
#mega-menu-wrap-main-menu #mega-menu-main-menu a.mega-menu-link{color:#226d82;line-height:2.5em!important;}
.dropdown-content li a.mega-menu-link{color:white !important;line-height:2.5em!important;}
.mega-menu-link{color:white!important}
.contentimage{word-break: break-all;}
.contentimage img{height:auto}
.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute!important;
    background-color: white!important;
    min-width: 180px!important;
  	padding:20px 1px!important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)!important;
    z-index: 1000!important;
}

.dropdown-content a {
    color: black;
    padding: 20px!important;
    text-decoration: none;
    display: block;
  	text-align:right;
}

.dropdown-content a:hover {border-left:1px solid white!important;text-shadow:5px 5px 10px #383838}

.dropdown:hover .dropdown-content {display: block;}

.changecolor :hover{background:#3c9e28!important}

.loginstyle:hover, .buttype:hover{color:#5bbc2e!imoprtant;text-shadow:3px 3px 5px #333;border-bottom:2px solid #5bbc2e!important;}
.requestlink{cursor:pointer}
.totalcosttable th:first-child{color:white;text-align:left!important;padding-top:10px}
.post-cate{z-index:-1}
.featured-img-wrap{background-repeat:no-repeat;}
/*
.topbarmenu-outer .topbarmenu a:nth-child(1){left:-125px!important}
body #left_menu{top:140px!important}
body #menuresize{top:114px!important}*/

#carReturnDate, #carPickupDate{width:70%!important}
.tidio-chat-iframe {z-index:-10!important}
@media only screen and (max-width: 600px) {
  .dropdown{float:right!important;width:100%;z-index:99999!important;}
  .ref-progress-bar .bar{transform:rotate(90deg);position:absolute;width: 440px;left: -190px;top: 990px;}
  .d1, .d2, .d3, .d4{width:100%!important;height:100px!important;max-width:100%!important;flex:initial!important}
  .ref-progress-bar .bar-inner{margin:0}
  .ref-progress-bar .desc{flex:initial!important;display:block!important}
  .flex-half{max-width:100%}
  .share-buttons{position:initial;margin:10px}
  .mobileonly,.mobilephoneonly{display:initial;}
  .backtoformcustom, #h-r, .header_curreny,.leaflet-control img, .topbarmenu{display:none}
  #h-t{height:90px;color:#6c6c6c!important}
  #h-l2{padding:0 0 0 50px!important;text-align:right}
  #logo a img{display:block;margin:17px auto 0 auto!important}
  #content .container {padding:0!important}
  .elementor-14047 .elementor-element.elementor-element-e244c5f{padding-bottom:14px!important}
  .elementor-14047 .elementor-element.elementor-element-c1faa8f{padding:0!important}
  .elementor-14047 .elementor-element.elementor-element-c1faa8f .wrap2{width:100%!important}
  .search2, .search3{width:100%!important;margin:0!important;padding:0!important;display:block!important;}
  .elementor-14047 .elementor-element.elementor-element-e0a3664 > .elementor-element-populated{margin:0!important;padding:0!important}
  button.searchButton2{left:80%!important;top:-68px!important;position:absolute!important;margin:0!important;padding:0!important}
  .wrap2{background:none!important}
  .delivery-step-active{padding:0!important;}
  .meal-block-header{margin-top:20px!important;}
  .car-block,.popupgui-block{margin-top:20px!important}
  .font-lg{font-size:15px!important}
  .bookingdate{margin-left:-5px!important}
  .bookingdate, .bookingtime2{width:100%!important}
  #f-lgs li a img{height:50px!important}
  
  .elementor-element-f96f4e7 {margin-top:25px}
  .elementor-14094 .elementor-element.elementor-element-ee23cad{margin-top:-70px!important}
  li{text-align:left!important}
  .elementor-14094 .elementor-element.elementor-element-522f1aa img{margin-top:50px!important}
  .elementor-element-ee23cad {padding:10px 0!important}
  
  .booking-code{text-align:center;width:100%}
  .p-2, .p-3{text-align:left}
  .text-white{font-size:15px!important}
  .marval-make-payment{width:88%!important}
  .v2-box .v2-title{font-size:16px!important}
  .mx-40 input, .mx-40 textarea{width:100%!important}
  .v2-header div{font-size:15px!important}
  .savenotetest{width:100%!important}
  .mb-2{margin-bottom:0!important}
  
  #mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label{padding-left:10px}
  .mega-menu-link{float:right;display:inline-block}
  .mega-menu-link span{padding:8px;color:white;float:right!important;margin-top:5px;margin-bottom:10px}
  .mega-menu-item select{margin-right:33px!important}
  .mobilenotshow{display:none}
  .manualmobile input{width:200px;float:right}
  
  .hover_bkgr_fricc {position:absolute!important;top:0%!important;width:100%!importantheight:auto!important}
  .um-field{padding:0!important}
  
  .mobileapp{position:fixed;bottom:0;width:100%;height:65px;background:#5bbc2e;color:white!important;font-size:13px;z-index:9999!important;padding:5px 0;box-shadow:1px -2px 5px #666}
  .mobileapp a{color:white!important}
  .mobileappbg{border:none!important}
  .mobileappbg td{background:#5bbc2e;text-align:left!important;border:none}
  #closemobileapp{margin:0 10px 0 -10px;z-index:9999}
  .androidicon{width:32px;margin-right:20px}
  #header{position:fixed;top:0;z-index:9999!important;width:100%;padding:0;z-index:99999!important}
  .mega-menu-item{text-align:center!important}
  #hotel2 input, #hotel3 input{width:100px;margin-right:10px}
  .total-tour-submit-wrapper {width:100%!important;bottom:50px!important;padding:5px!important}
  .footertable td, .footertable tr{border:none!important;padding-left:0;width:100%!important;}
  
  .elementor-element-5cad997 {margin-top:-50px!important}
  .btn-collapse{width:165px;margin-top:10px;margin-right:12px}
  #logo{display:none}
  .mobileheightfix{margin-top:40px}
  .share-buttons{margin-top:30px}
  .share-sf-input-wrap{padding-bottom:20p!important}
  
  #openSupport1, #openSupport2, #openSupport3{margin-top:65px;z-index:9999}
  .at-share-btn-elements{display:none}
  .profile-card__name{margin-bottom:0!important}  
  .mobilenone, .profileicon ,.profileicon img{}
  .mobilemenuonly{display:initial!important}
 
  .v2-tb-row .d-flex{display:block!important}
  .flex-grow-1{display:block!important;max-width:100%;width:100%}
  .v2-list-left .thumb-wrap{display:block;margin:0 auto;width:100%!important;height:auto!important}
  .mb-4{margin-bottom:10px}
  
  .social_icon{margin:15px 0 0 0!important}
  .mobilemenucolor{background:white!important}
  .elementor-14094 .elementor-element.elementor-element-91dfa9e{margin-bottom:0!important}
  .ref-progress-bar {margin-top:80px!important}
  .share-buttons{margin-top:50px!important}
  .um-14064.um {padding:0 40px!important}
  
  .mobilelogin{position:absolute!important;top:0;left:0;width:100%!important;z-index:99999}
  .total-tour-submit-wrapper{z-index:9999!important}
  .um-14063.um{padding:0 50px}
  #signup_form{padding:20px 30px!important}
  .mobilemenutable{border:none!important}
  .mobilemenutable td{text-align:center;padding:10px}
  #mega-menu-wrap-main-menu #mega-menu-main-menu a.mega-menu-link{line-height:1.5em!important;color:white!important}
  .main-menu{margin-top:0px!important}
  .mobiletravcust{padding:15px!important;margin-right:5%;text-align:center;width:90%}
  #mega-menu-wrap-main-menu .mega-menu-toggle.mega-menu-open + #mega-menu-main-menu{box-shadow:0px 5px 5px #666}
  .letsgo{margin-top:40px!important}
  #coachMarkMenu{position:absolute;top:65px}
  .pullrightmobilefix{margin-top:-13px}
  .carousel-inner{z-index:99999}
  .savenote, #share5-btn{width:100%!important}
  .feadbackstar{margin-left:20px}
  .elementor-element-f3b4e47{margin-top:50px}
  .single_content p{margin: 20px}
  .button-flw{text-align:center!important;margin:0 auto!important;display:block!important;clear:both!important}
  #commentForm textarea, #commentForm button{margin-left:50px}
  #commentForm textarea {width:100%!important}
  .widget-share .share-links a{display:inline-block!important}
  
  .travcust-pg-box{padding-top:5px!important;padding-bottom:5px!important}
  .travcust-pg-box .wrap2{margin-left:5px}
  .travcust-pg-box .wrap2 button{padding:10px!important}
  .travcustmenutable tr{border:none}  
  .mobiletravcustli{width:95%;margin:0 auto;display:block;float:none!important}
  .mobiletravcustli a span{padding:10px!important;text-align:center!important}
  .total-cost{font-size:19px!important}
  #travel-location-step-1{padding:20px!important}
  #btn-travel-select-date{margin-top:-15px!important}
  .manual-item-box .pt-5{margin-top:-50px!important;padding-bottom:0px!important}
  
  #AddAnotherTravelItemManually input{width:90%!important}
  .cost-box{min-height:initial!important}
  #content h1.post-title{padding:2px!important}
  
  .comment-title{text-align:center;background:#3b898a;color:white!important;padding:10px 20px;margin:0 50px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
  .post-bookingcode{;border-radius:0%!important}
  .commentbox,.vote-inner{margin:10px!important}
  .singe-post-nav{display:none!important}
  .wpp-list{list-style: none;margin: 30px;border: 1px solid #ccc;}
  .wpp-list li{padding: 10px;margin-left: -30px;}
  
  .tour-chat-bar, .steps-widget{display:none!important}  
  .datepicker-tour-dates-form{max-width:100%!important}
  .manualmobile{margin:20px}
  .manualmobile input{width:200px!important;float:right}
  .floatright{float:right}
  .getLocationCarsFrom{margin-top:-35px!important}
  .getLocationCarsFrom, .getLocationCarsTo{width:100%!important}
  .getLocationCarsTo{margin-left:0px!important;margin-top:5px!important}
  
  #carPickupDate{position:absolute;left:0px;top:80px}
  #carPickupTime{position:absolute;left:125px;top:80px}
  #carReturnDate{position:absolute;left:0px;top:133px}
  #carReturnTime{position:absolute;left:125px;top:133px}
  .datetext{display:none}
  #AdivahaCartrawlerSubmit{position:absolute!important;top:64px!important;left:200px!important}
  .travcust-pg-box .carousel-control:hover .fa{transform:none!important}
  
  .widget-user, .widget-share, .post-bookingcode{
  max-width:none!important;
  margin:15px}
  #content h1.post-title{margin-top:60px}
  .game-scheme-summary .summary-area:first-child{margin-top:80px}
  .game-scheme .scheme-header{padding:10px!important}
  .game-scheme .scheme-header li:nth-child(1),
  .game-scheme .scheme-header li:nth-child(2),
  .game-scheme .scheme-header li:nth-child(3),
  .game-scheme .scheme-header li:nth-child(4),
  .game-scheme .scheme-list li>div:nth-child(1),
  .game-scheme .scheme-list li>div:nth-child(2),
  .game-scheme .scheme-list li>div:nth-child(3),
  .game-scheme .scheme-list li>div:nth-child(4){flex:1 1 25%!important}
  
  .vouchers-banner{margin:20px}
  .post-bookingcode-btn{font-size:30px;padding:10px}
  .voucher-area-right{height:auto!important}  
  .nomobileview{display:none!important}
}

@media only screen and (min-width: 760px) and (max-width: 850px) {
.dropdown,.mobiletravcustli{float:right}
}</style>
<!-- end Simple Custom CSS and JS -->
