<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

.um-14065.um .um-profile-photo a.um-profile-photo-img{
	top: -15px!important;
}


@media (min-width: 1281px) {
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .um-14065.um .um-profile-photo a.um-profile-photo-img{
  	top: -15px !important;
  }
}


@media (min-width: 1001px) and (max-width: 1199px) {
    
  #h-t{
  	height: auto!important;
  }
  .main-menu.pull-right{
  	    margin: -10px -5px!important;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/


@media (min-width: 768px) and (max-width: 1000px) {
  .main-menu.pull-right{
  	margin: 0!important;
    margin-top: 0!important;
  }
}



@media (min-width: 768px) and (max-width: 1024px) {
    .um-profile-photo.um-trigger-menu-on-click{
      padding-bottom: 15px!important;
  }

    .dropdown{
  	display: block!important;
     right: 10px;
  }
  
  #mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item{
  	text-align: right!important;
    right: 20px!important;
  }
  
  #mega-menu-wrap-main-menu #mega-menu-main-menu a.mega-menu-link {
    text-align: right;
}
  
  .mega-menu-link {
    display: block!important;
    z-index: 9999!important;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    right: 25px;
}
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

      .um-profile-photo.um-trigger-menu-on-click{
      padding-bottom: 25px!important;
  }
  
  
}


@media (min-width: 601px) and (max-width: 767px){

  .dropdown{
  	display: block!important;
  }
  
  li a.mega-menu-link.loginstyle{
  	right: 10px;
  }
  
  #mega-menu-wrap-main-menu #mega-menu-main-menu li img.mobilenotshow{
    position: relative;
    left: 0px;
  }
  
  li.mega-menu-link.changecolor{
  	text-align: right!important;
    display: block!important;
    margin-bottom: 10px;
    top: 5px;
    position: relative;
  }
  
  
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


.main-menu.pull-right{
	margin-top: 0!important;
    margin: 0!important;
}  
  
    .um-profile-photo.um-trigger-menu-on-click{
      padding-bottom: 25px!important;
  }
  
  
  /* New Code    
  
*/
  
  
li.mega-menu-item {
    text-align: right!important;
}
  
li.mega-menu-item {
    padding: 0 25px;
}
  
  .dropdown {
    padding: 0 25px;
}
  
.mega-menu-link {
    display: block;
    padding: 0 25px;
}
  
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item {
padding: 0 25px;
}
  
#mega-menu-wrap-main-menu #mega-menu-main-menu li img{
    position: relative;
    left: 25px;
}
  
  
  
}

@media (min-width: 361px) and (max-width: 480px){
  .um-profile-photo.um-trigger-menu-on-click{
      padding-bottom: 0px!important;
  }
  
/* New Code    
  
*/
  
  
li.mega-menu-item {
    text-align: right!important;
}
  
li.mega-menu-item {
    padding: 0 25px;
}
  
  .dropdown {
    padding: 0 25px;
}
  
.mega-menu-link {
    display: block;
    padding: 0 25px;
}
  
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item {
padding: 0 25px;
}
  
#mega-menu-wrap-main-menu #mega-menu-main-menu li img{
    position: relative;
    left: 25px;
}
  
  
}



/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  
.main-menu.pull-right{
	margin-top: 0!important;
    margin: 0!important;
}

li.mega-menu-item {
    text-align: right!important;
}
  
li.mega-menu-item {
    padding: 0 25px;
}
  
  .dropdown {
    padding: 0 25px;
}
  
.mega-menu-link {
    display: block;
    padding: 0 25px;
}
  
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item {
padding: 0 25px;
}
  
#mega-menu-wrap-main-menu #mega-menu-main-menu li img{
    position: relative;
    left: 25px;
}
    
  
  
}

</style>
<!-- end Simple Custom CSS and JS -->
