<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.btn-collapse span:last-child {
    padding-left: 10px !important;
    padding-right: 29.5px !important;
}

#logo{
	    margin-left: 25px !important;
}

a.getinfobtn i.fa-info-circle{
	position: relative;
    right: 43%;
    top: 17px;
}


#h-r{
	position: absolute;
    right: 82px;
}


@media only screen and (max-width: 980px ){
#left_menu {
    display: block !important;
}
  a.apac_btn{
  	float: right;
    margin-right: -125px;
  }
  a.btn.btn-primary.firstbackbtn {
    float: right;
    margin-bottom: 46px;
    margin-top: -25px;
}
  .btn-collapse {
    margin-top: 60px !important;
}
  .btn-coach{
  margin-top: 50px;
  }
}

a.apac_btn{
	background: #3da75a;
    color: #fff;
    padding: 10px 35px;
    border-radius: 3px;
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.option-input{
	z-index: inherit!important;
}
.d-flex{
	cursor: pointer;
}</style>
<!-- end Simple Custom CSS and JS -->
