<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

.tourfilter h4{
	text-align: center;
    background: #5fa78d;
    padding: 7px;
    font-size: 15px;
    color: #fff;
}

.pricerange h4{
	text-align: center;
    background: #5fa78d;
    padding: 7px;
    font-size: 15px;
    color: #fff;
}


.vouchers-banner i {
    padding: 0px 102px 0px 101px;
}</style>
<!-- end Simple Custom CSS and JS -->
