<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.forgot {
    text-align: center;
    margin-top: -25px !important;
} 
.forgot a{
	background: #3ba1da;
  	font-size: 15px;
  	font-family: inherit;
  	border-color: #3ba1da;
}
.forgot a:hover{
    background-color: #44b0ec;
  	border-color:  #44b0ec;
  	color: #232323;
}
</style>
<!-- end Simple Custom CSS and JS -->
