<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.modal-header .close {
    margin-top: 8px;
    padding-right: 10px;
}

button.close:hover {
    color: red !important;
}

</style>
<!-- end Simple Custom CSS and JS -->
