<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.elementor-18536 .elementor-element.elementor-element-031618c.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

}</style>
<!-- end Simple Custom CSS and JS -->
