<!-- start Simple Custom CSS and JS -->
<style type="text/css">
@media (max-width: 360px){
	.cost-box .bd .cost-label {
           font-size: 12px !important;
     }
  .cost-box .bd .cost-value {
          font-size: 12px !important;
   }
}
@media (max-width: 411px){
     .cost-box .bd .cost-label {
               font-size: 15px;
         }
      .cost-box .bd .cost-value {
              font-size: 15px;
       }
}
@media (max-width: 320px){
      .cost-box .bd .cost-label {
               font-size: 10px !important;
         }
      .cost-box .bd .cost-value {
              font-size: 10px !important;
       }
}
@media (max-width: 375px){
     .cost-box .bd .cost-label {
               font-size: 10px !important;
         }
      .cost-box .bd .cost-value {
              font-size: 10px !important;
       }
}
@media (max-width: 414px){
     .cost-box .bd .cost-label {
               font-size: 14px;
         }
      .cost-box .bd .cost-value {
              font-size: 14px;
       }
}

</style>
<!-- end Simple Custom CSS and JS -->
