<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.tourgametooltip .tourgametooltiptext {
  visibility: hidden;
  width: 200px;
  font-size: initial;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-top: -49px;
  margin-left: -112px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tourgametooltip .tourgametooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tourgametooltip:hover .tourgametooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>
<!-- end Simple Custom CSS and JS -->
