<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#footer {
    padding-top: 70px;
  	padding-bottom: 5px;
    color: #fff!important;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: #1d4354 !important;
}
   
}
 #footer .list-unstyled {
    margin-top: 15px;
    font-size: 14px;
}
#footer b{
   font-size: 12px;
  font-weight:800;
}
.row.mobilefooter {
    font-size: 13px;
}
.sfcm.sfsi_wicon {
    width: 30px;
    height: 30px;
    opacity: 0.6;
}
.sfsi_wicons.shuffeldiv {
    margin-right: -5px;
}
.norm_row.sfsi_wDiv {
    text-align: center !important;
}
div#sfsiid_facebook {
    display: none !important;
}

div#sfsiid_twitter {
    display: none !important;
}
@media (max-width: 600px) {
  #footer{
  	 padding-top: 30px;
  }
  .row.mobilefooter {
    text-align: center;
}
}</style>
<!-- end Simple Custom CSS and JS -->
