<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#myInput {
  background-image: url('https://www.travpart.com/English/wp-content/uploads/2019/09/search.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}</style>
<!-- end Simple Custom CSS and JS -->
