<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
    display: none;
}
.page-template-tpl-game-php .back_center {
    top: 0;
    position: absolute;
    left: 185px;
}
.page-template-tpl-game-php .back_center a {
    background-color: #28a745 !important;
}
.page-template-confirm-php select.form-control {
    height: auto;
    min-height: 34px;
}
.widget-share-singlepost {
display: none;
}
@media only screen and (max-width: 767px) {
.page-template-tpl-game-php .back_center {
     position: static;
}
}
@media only screen and (max-width: 600px) {
#header .mobilephoneonly {
display: none !important;
} 
.singlepostchat {
  z-index: 1000;
}
.searchfcn .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
 }
.searchfcn label{
 margin-bottom:5px;
 }
 .searchfcn input.wpcf7-form-control.wpcf7-submit.form-control {
   border: 1px solid #1bba9a;
    background: #1bba9a;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.vote-outer {
    position: fixed;
    bottom: 0;
    background-color: #f6f6f6;
    width: 100%;
      z-index: 10;
}
.vote-inner .button-flw {
    display: inline-block;
    text-align: center;
    /* max-width: 600px; */
    width: 93%;
} 
.vote-inner>div:last-child {
    display: none;
}
   .vote-outer .vote-inner > div{
      width: 19%;
  }
 /* TO make small */ 
.vote-outer .vote-inner > div i {
    font-size: 21px;
    height: 28px;
}
.vote-outer .vote-inner {
    margin: 0 7px!important;
}

.vote-outer .vote-inner > div {
    padding: 2px 10px;
}
.vote-outer a.addtoany_share img {
    border: 0;
    width: 20px;
    height: 20px;
    position: relative;
    
}
.vote-inner>div span span {
    font-size: 12px !important;
}  
.vote-inner>div span {
    font-size: 10px !important;
}
  .vote-outer .vote-inner {
    width: 100%;
    max-width: 100%;
}
}</style>
<!-- end Simple Custom CSS and JS -->
