<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.palpal_logo_img img {
    width: 30%;
} 

.paypal_logo_pay{
	padding-top: 15px;
}
</style>
<!-- end Simple Custom CSS and JS -->
