<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#signup_form {
    width: 550px;
    height: auto;
    position: relative;
    margin: auto;
    padding: 10px;
    border: 1px solid #E3E3E3;
    margin-top: 25px;
    border-radius: 3px;
    background: #F5F5F5;
}</style>
<!-- end Simple Custom CSS and JS -->
