<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.elementor-21988 .elementor-element.elementor-element-5df6d33:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-21988 .elementor-element.elementor-element-5df6d33 > 
.elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background:white!important}
@media(max-width: 600px) {
.dropdown:hover .dropdown-content {
    display: none !important;
}
  #mega-menu-wrap-main-menu #mega-menu-main-menu li img {
    position: relative;
    left: -153px !important;
}
  .dropdown {
    padding: 0 0px !important;
}
  .margintopfix{margin-top:70px}
}
@media(max-width: 480px){
	.dropdown {
    padding: 0 6px !important;
}
}


</style>
<!-- end Simple Custom CSS and JS -->
