<!-- start Simple Custom CSS and JS -->
<style type="text/css">
@media(max-width: 600px){
.ref-progress-bar .bar {
    transform: none !important; 
    position: inherit !important;
    width: 100% !important; 
    left: -190px; 
    top: 990px;
}
  .ref-progress-bar .desc >div {
    display: table-cell;
}
  .um-profile-meta{margin:10px}
  .um-profile-photo a.um-profile-photo-img img{margin-bottom:15px!important}
}</style>
<!-- end Simple Custom CSS and JS -->
