<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.#mega-menu-wrap-main-menu #mega-menu-main-menu a.mega-menu-link{color:black !important}

@media only screen and (max-width: 600px){
.main-menu.pull-right {
    position: absolute;
    right: 10%;
	} 
body #h-t{
  	display:flex;
  }
}
.mega-menu-link span {
    background: #006400 !important;
}
img.English-logo {
    width: 150px;
}
a.mega-menu-link.headerfont span {
    background-color: red !important;
}


</style>
<!-- end Simple Custom CSS and JS -->
