<!-- start Simple Custom CSS and JS -->
<style type="text/css">
@media (max-width: 600px){
  #commentForm button{margin-bottom:50px}
}
.post-bookingcode td {
	font-size: 20px;
}
.post-bookingcode a{
	    border: 1px solid #22b14c;
}
.vouchers-banner.vouchers-banner-custom {
    display: none;
}</style>
<!-- end Simple Custom CSS and JS -->
