<!-- start Simple Custom CSS and JS -->
<style type="text/css">
@media (max-width: 600px) {
            .game-scheme-summary .summary-star-list li {
                padding: 5px !important;
            }
            ul.scheme-header li {
                text-align: center !important;
            }
            .vouchers-banner.vouchers-banner-custom {
                display: none;
            }
            .post-bookingcode.searchfcn {
              display: none;
          }
        }
@media (max-width: 320px) {
  			.game-scheme-summary .summary-star-list li {
                padding: 1px !important;
            }
}




</style>
<!-- end Simple Custom CSS and JS -->
