<!-- start Simple Custom CSS and JS -->
<style type="text/css">
@media(max-width: 600px) {
	.flex-half.p-2 {
    	text-align: center;
      	margin-top: 10px;
	}
   .btn-submit-org, a.btn.btn-submit-org {
     	border-radius: 4px;
   }
   a.btn.btn-submit-blue.btn-block {
   	   border-radius: 4px;
  }
}
</style>
<!-- end Simple Custom CSS and JS -->
