<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.zhide{z-index:-9999}

.timelineprofilepic{max-height:200px;position:relative}
.timelineprofilepic img{width:100%;max-height:200px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border:2px solid #1abc9c}
.updateprofilepic{position:absolute;bottom:5px;right:5px;background:#cacaca;padding:5px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;box-shadow:2px 2px 5px #666;color:#444444; margin: 0 45px}
.updateprofilepic:hover{background:#1abc9c;cursor:pointer}
.editprofile{text-align:center;background:#cacaca;padding:5px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;color:#444444;box-shadow:2px 2px 5px #666;cursor:pointer}

.timelinecover{position:relative}
.timelinecover img{width:100%;max-height:350px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border:2px solid #1abc9c}
.follow{position:absolute;top:0;left:0}
.updatecoverpic{position:absolute;top:5px;right:5px;background:#cacaca;padding:5px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;box-shadow:2px 2px 5px #666;color:#444444}
.updatecoverpic:hover{background:#1abc9c;cursor:pointer}
.verifiedseller{background:#1abc9c;color:white;text-align:center;position:absolute;left:0;bottom:0;padding:5px}

.whatisgoingon{display:inline-block;color:#fafafa}
.tlprofileicon, .tlprofileicon img{display:inline-block;width:25px;height:25px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;border:1px solid white}

.photoandvideos img{width:49%;display:inline-block}
.tltourpackages img{width:32%;display:inline-block}

.timelinecontentwrap{position:relative;z-index:9999}
.timelinecontent{position:absolute;top:0;right:0;z-index:9999}


@media only screen and (min-device-width : 375px) and (max-device-width : 700px) { 
.timelinecontent{position:initial}
}</style>
<!-- end Simple Custom CSS and JS -->
