<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.um-profile-nav-item.active a,
.um-profile-nav-item.active a:hover {
	color: green!important;
  	background-color:white !important;
  	border: solid 1px green;
  	border-bottom:solid 1px green !important;
  	border-radius:0px;
  	text-decoration: none !important;
}
.um-profile-nav-item a {
	color: black!important;
}
.um-profile-nav-item a:hover {
	color: green!important;
  	background-color:white !important;
  	border: solid 1px grey;
  	border-bottom:solid 1px grey !important;
  	border-radius:0px;
  	text-decoration: underline !important;
}
@media (max-width: 600px){
	div.uimob340 .um-profile-nav-item a {
            margin-right: 8px;
            padding: 10px 10px;
    }
}
@media (max-width: 320px){
        div.uimob340 .um-profile-nav-item a {
            margin-right: 0px !important;
            }
    }
    @media (max-width: 411px){
        div.uimob500 .um-profile-nav-item a {
            margin-right: 8px;
            padding: 10px 11px;
        }
    }
    @media (max-width: 375px){
        div.uimob500 .um-profile-nav-item a {
            margin-right: 0px !important;
            padding: 10px 16px;
        }
    }
    @media (max-width: 414px){
        div.uimob500 .um-profile-nav-item a {
            margin-right: 8px;
            padding: 10px 11px;
        }
    }
</style>
<!-- end Simple Custom CSS and JS -->
