.profile-box {font-weight: 700;
    font-size: 11px;
    text-transform: capitalize;}
.profile-box img {margin-right: 8px;}
#open_options .modal-content {padding: 60px 10px;}
#open_options .modal-content a {color: #333;border: 4px solid;
    width: 50%;
    border-radius: 0;
    margin: 0 auto;
    text-align: left;}

.border-t-b {border-top: none !important;
    border-bottom: none !important;}

.modal-header {
    background: #f8f8f8;
}
.modal-title {
    color: #777;
}

.modal-body {
    padding: 60px 15px;
}
.input-box {float: left;
    width: 80%;}
.input-box input {width: 100%;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #888;
    border-right: none;}
.input-btn {width: 20%;
    float: left;
    height: 40px;}
#send_attachment .modal-body {
    padding: 30px 15px;
}
.upload-box {border-bottom: 1px solid #ddd;
    padding-bottom: 25px;}
.upload-box h5 {padding-bottom: 25px;
    font-size: 15px;}
.upload-btn {margin-top: 20px;
    width: 120px;
    padding: 6px 6px;}
	
.moddl-form{
	text-align: center;
    margin: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 4px solid #000;
	display: flex;
    flex-direction: column-reverse;
	
}
.moddl-form label{
	display: flex;
    align-items: center;
    justify-content: center;
	
}
.moddl-form input[type="radio"] {
    margin-left: 20px;
}
.moddl-form input[type="radio"]:first-child {
    margin-left: 0px;
}
.cus-pay-container table{
	margin:auto;
	border-collapse:collapse;
}
.cus-pay-container table tr td {
    border: 2px solid #000;
    padding: 15px;
    text-align: center;
}
.cus-pay-container 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-ch-container{
	box-shadow:0px 0px 10px #999;
	
}
.p-body-container{
	padding:15px 0;
	
}
.panel-default>.panel-heading {
    color: #fff !important;
    background-color: #368A8C !important;
}
.ch-title{
	color:#368A8C ;
}
.btn-my{
	background:#368A8C !important;
	color:#fff !important;
}
.navbar-default {
    background-color: white !important;
    border-color: white !important;
    border-bottom: solid 7px #1A6D84 !important;
}
.navbar-default .navbar-brand{
	color:#fff !important;
}
.navbar {
    border-radius: 0px !important;
}
.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}

a.ttl-1-myordr{border: 1px solid #fff;padding: 10px 20px !important;margin-top: 2px;margin-right: 10px;}

#myChatRoom tr td:hover{
	background:#368A8C !important;
	color:#fff !important;
	
}
.panelmy{
	border-color:#368A8C !important;
	
}
.c-prfl-details {
    float: left;
}
.c-prfl-details-right {
    float: right;
	padding-top: 5px;
}
.c-prfl-img{
	float: left;
}
.c-prfl-name {
    float: left;
	font-weight:700;
	padding-top: 5px;
}
.c-prfl-name p{
	font-weight:normal;
	width:100px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis; 
}
.c-prfl-count {
    text-align: right;
    padding-top: 5px;
}
.c-prfl-date {
    font-weight: normal;
}
.bg-grey{
background-color:#f9f9f9 !important;	
}
.pad-tb-15{
	padding-top:15px;
	padding-bottom:15px;
}
.badge{
	background:#368A8C !important;
	color:#fff !important;
}
#myChatRoom tr td:hover .badge{
	background:#fff !important;
	color:#368A8C !important;
}
.my-ord{
	cursor:pointer;
	padding:30px 20px !important;
	border:5px solid #000 !important;
	}
#myChatRoom tr{cursor:pointer;}
.my-order-container{
	padding:25px 0;
}
.table>tbody>tr.success>td
{
	background:#F0F0F0 !important;
	border-right:2px solid #368A8C !important;
}
.pagination>.active>a{
	    background-color: #368A8C !important;
    border-color: #368A8C !important;
	
}
#user_details{color:#368A8C;}

#user_details .glyphicon{font-size:21px;}
#myChatRoom_filter{width:100% !important;}
#myChatRoom_wrapper  div.dataTables_filter{text-align:left !important;}
#myChatRoom_wrapper div.dataTables_filter label{width: 100%;}
#myChatRoom_wrapper div.dataTables_filter input{width: 84% !important;}


	.datte:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ddd;
    top: 10px;
	z-index: -1;
}
.datte {
    font-size: 12px;
    color: #999;
    font-weight: 500;
    text-transform: unset;
    position: relative;
    text-align: center;
	z-index: 0;
	padding-top:5px;
}
.datte:after {
       border: 1px solid #ddd;
    max-width: 14%;
    margin: auto;
    border-radius: 15px;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 43%;
    height: 25px;
    top: 0px!important;
    background: #fff;
    z-index: -1;
}

p.msgg {
    box-sizing: border-box!important;
    padding-right: 5px;
    width: 100%;
    float: left;
    word-wrap: break-word;
    display: block;
}
@media screen and (min-width:320px) and (max-width:480px){
	.datte:after {
    border: 1px solid #ddd;
    max-width: 36%;
    margin: auto;
    border-radius: 15px;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 32%;
    height: 25px;
    top: -4px;
    background: #fff;
    z-index: -1;
}
}
@media screen and (min-width:481px) and (max-width:768px){
	.datte:after {
    border: 1px solid #ddd;
    max-width: 26%;
    margin: auto;
    border-radius: 15px;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 37%;
    height: 25px;
    top: -4px;
    background: #fff;
    z-index: -1;
}
}

#search_price_box_form {
    width: auto;
    position: relative;
    right: 0;
    z-index: 99999;
    background: #404040;
    border: 6px solid #6fa65b;
    padding: 0 20px 20px 20px;
}

#search_price_box_form p#heading {
    color: white;
    background: #323232;
    padding: 5px 20px;
    margin-left: -20px;
    margin-right: -20px;
}

.search_price_box_field {
    width: 100%;
    margin-bottom: 20px;
}

.search_price_box_field select {
    width: 100%;
}

.search_price_box_field .scale {
    display: none;
}

.search_price_box_field.price-range {
    margin-top: 25px;
    padding: 0 5px;
}

.search_price_box_field.price-range .slider-container .back-bar .pointer-label {

}

#search_price_box_form input[type=submit] {
    display: table;
    margin:  0 auto;
}

.status-indicator { 
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: #a0a0a0;
    border: 2px solid #fff;
    margin-right: .25em;
}

.status-indicator.online { background-color: #37a000; }

.c-prfl-img { position: relative; }

.c-prfl-img .status-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0;
}

#chating-with .status-indicator {
    margin-right: 0;
    margin-left: 0.25em;
}

.status-text {
    font-size: 1rem;
    font-weight: 400;
}

label { font-weight: 400; }

.delete-message {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 2px 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.deleted-message {
	background-color: gray;
    color: white;
    font-style: oblique;
    padding: 0px 60px;
}

@media only screen and (max-width: 600px) {
.navbar-default .navbar-nav .open .dropdown-menu li a{color:white!important;}
.input-group-addon{width: auto!important}
.form-control{width: 100%!important}
.ttl-1-myordr, .ttl-1-li{text-align:left;width: 60%!important;display:block!important;margin:5px auto!important;}
.logo-contentimage{position: absolute;top: 10px;left: 50%;transform: translate(-50%)}
.navbar-header{height:30px!important;}
li a{text-align: center}
a.ttl-1{float: left!important;text-align: center!important;margin-left: 0px!important;}
.logo-contentimage{top:-10px!important;}
}
@media only screen and (max-width: 479px) {
.pc-memmber-list .row.view-pager,.pc-memmber-list table#myChatRoom {
    display: none;
}
.mobile-memmber-list {
    display: block !important;
}
 .pc-memmber-list .col-lg-4.bg-grey.pad-tb-15 {
    padding-bottom: 0;
} 
.mobile-memmber-list .view-filter {
    //height: 150px;
    //overflow: scroll;
}
}

.response-time-alert-message {
	text-align: center;
    background: beige;
    color: green;
}

.remove_mar{
    margin: 0px !important;
}

.autocompletion-block {
    position: relative;
}

.autocompletion-block input {
    width: 100%;
}

.autocompletion-list {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    background: #388e3c;
    padding: 0;
}

.autocompletion-list a {
    color: white;
}

.autocompletion-list:hover {
    display: block;
}

.autocompletion-list li {
    color: white;
    padding: 10px 13px;
    text-decoration: none;
    display: block;
    list-style: none;
}

.autocompletion-list li:hover {
    background: green;
}